Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.html": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

chore(action): automatically notify teams channel about releases (#3086)
  .github/workflows/teams-release-msg.yml
Due: none

chore: pick up yml files in lintstagedrc (#3085)
  .lintstagedrc.json
  package.json
Due: prettier --write

chore(actions): fix milestone action to stop failing on dependabot prs (#3088)
  .github/workflows/pr-bot.yml
Due: none

style: format yml files (#3090)
  .github/labeler.yml
  .github/need-info.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/need-info-close.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/pr-bot.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Due: none

fix(stepper-item): remove margin-bottom for calcite-stepper-item (#3080)
  src/components/calcite-stepper-item/calcite-stepper-item.scss
Due: prettier --write, stylelint --fix

refactor(calcite-tile): center content on large variant (#3044)
  src/components/calcite-tile/calcite-tile.scss
Due: prettier --write, stylelint --fix

refactor(pick-list/value-list): change to use calcite-input (#3024)
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(actions): no self assign for verification (#3089)
  .github/workflows/assign-for-verification.yml
Due: none

fix(slider): align histogram minValue thumb when both minValue/maxValue are zero (#3092)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor (calcite-font-weight-bold): updated weight to 600 (#3093)
  src/assets/styles/_type.scss
  src/assets/styles/readme.md
Due: prettier --write, stylelint --fix

chore: use github secrets for verifier usernames (#3095)
  .github/workflows/assign-for-verification.yml
  .github/workflows/need-info-close.yml
Due: none

refactor(action-bar): Refactor action-bar overflowActions. (#3054)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#3100)
  package-lock.json
  package.json
Due: prettier --write

feat!: improve integration with calcite-label (#3091)
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.e2e.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-label/interfaces.ts
  src/components/calcite-label/resources.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
  src/demos/calcite-label.html
  src/tests/commonTests.ts
  src/utils/dom.ts
  src/utils/label.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(contributing): add issue management section (#3106)
  CONTRIBUTING.md
Due: prettier --write

fix(tree-item): update `indeterminate` on ancestor tree-items when `selected` on load (#3111)
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/demos/calcite-tree-scales.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): Set scroller height to zero when not active. #3071 (#3116)
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): skip unstable test (#3118)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: cleanup and reorganize onboarding information (#3110)
  CONTRIBUTING.md
  GETTING_STARTED.md
  PROJECT_GUIDELINES.md
  TRAVIS_WEBHOOK_README.md
  conventions/README.md
  src/2-contributing.stories.mdx
  src/2-getting-started.stories.mdx
  src/3-conventions.stories.mdx
Due: prettier --write

1.0.0-beta.66 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(combobox): Correct display issues with single select and long strings. #3059 (#3114)
  src/components/calcite-combobox/calcite-combobox.scss
Due: prettier --write, stylelint --fix

fix(tab, tab-nav): remove z-index so popover appears on top (#2965) (#3115)
  src/components/calcite-tab-nav/calcite-tab-nav.scss
  src/components/calcite-tab/calcite-tab.scss
  src/demos/calcite-popover.html
Due: prettier --write, stylelint --fix

test: Fix calcite-action-bar skipped test. #3119 (#3124)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): Fix action-bar skipped test. (#3130)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#3126)
  package-lock.json
  package.json
Due: prettier --write

ci: avoid failing travis-deployment process when handling errors (#3135)
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(combobox): match combobox height with single selection mode (#3094)
  src/components/calcite-combobox/calcite-combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): skip menuOpen test. #3119 (#3147)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tooltip, popover): Refactor storybook screenshot diffs (#3141)
  .storybook/helpers.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-tooltip/calcite-tooltip.stories.ts
  src/components/interfaces.ts
  src/utils/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(calcite-action): fixing center alignment appearance (#3128)
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(action): make need info action work with a11y issues (#3129)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/need-info.yml
Due: prettier --write

docs(shell): change incorrect slot name and description (#3149)
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(faq): add section about slots (#3148)
  FAQ.md
  src/7-faq.stories.mdx
Due: prettier --write

docs(modal): allow scrolling on storybook (#3155)
  src/components/calcite-modal/readme.md
Due: prettier --write

fix(label): fix issue where clicking on a wrapped labelable component would not update its value correctly (#3161)
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/tests/commonTests.ts
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add refactor issue template (#3166)
  .github/ISSUE_TEMPLATE/refactor.md
Due: prettier --write

docs(faq): combine with dev doc sections (#3169)
  FAQ.md
Due: prettier --write

feat(slider)!: add InputEvent & modify ChangeEvent to emit only when value changes(#3004)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(switch): Add checked property and deprecate switched property (#3162)
  src/6-custom-theme.stories.mdx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-switch/readme.md
  src/components/calcite-switch/usage/Basic.md
  src/demos/calcite-switch.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/popup-config-example.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
