Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

fix(action-menu): keep internal popover open property in sync (#8387)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): respect the numberingSystem property when rendering the input (#8383)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tile-select): remove dependency on calcite-tile (#8360)
  packages/calcite-components/src/components/tile-select/resources.ts
  packages/calcite-components/src/components/tile-select/tile-select.scss
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/demos/tile-select.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: provide information on legacy support for breaking changes (#8357)
  packages/calcite-components/conventions/Styling.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/README.md
Due: prettier --write, markdownlint --fix

fix(tab): prevent vertical scrollbar on content pane when the height of outer elements are specified (#8399)
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown-item): avoid hover/active styling when disabled (#8398)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
Due: prettier --write, stylelint --fix

fix(modal): ensure document overflow styles are properly restored when multiple modals are closed/removed (#8390)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(dropdown-item): remove non-applicable selectors due to lack of visual `::before` pseudo-element (#8401)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
Due: prettier --write, stylelint --fix

chore(dropdown): update test page to set selection mode on groups (#8400)
  packages/calcite-components/src/demos/dropdown.html
Due: prettier --write

docs(list): update usage examples. (#8412)
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/list/usage/Nested.md
Due: prettier --write, markdownlint --fix

chore(list): fix demo code (#8411)
  packages/calcite-components/src/demos/list.html
Due: prettier --write

fix: use Stencil watchers instead of global attributes util (#8407)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/utils/globalAttributes.spec.ts
  packages/calcite-components/src/utils/globalAttributes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

fix(floating-ui): improve floating element performance (#8409)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(tabs): update story to demonstrate vertical scrolling after recent fix (#8403)
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: ensure patches run after prerender test build (#8423)
  packages/calcite-components/package.json
Due: prettier --write

docs(s-components): update usage snippets (#8384)
  packages/calcite-components/src/components/scrim/usage/Basic.md
  packages/calcite-components/src/components/scrim/usage/Loading-scrim-panel.md
  packages/calcite-components/src/components/shell-panel/usage/With-custom-element.md
  packages/calcite-components/src/components/shell-panel/usage/With-flow.md
  packages/calcite-components/src/components/shell-panel/usage/With-panel.md
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/components/shell/usage/With-panels.md
  packages/calcite-components/src/components/split-button/usage/Basic.md
  packages/calcite-components/src/components/stepper/usage/Basic.md
  packages/calcite-components/src/components/switch/usage/Basic.md
Due: prettier --write, markdownlint --fix

docs(t-components): update usage snippets (#8404)
  packages/calcite-components/src/components/tabs/usage/Basic.md
  packages/calcite-components/src/components/tabs/usage/Bordered.md
  packages/calcite-components/src/components/tile-select-group/usage/Basic.md
  packages/calcite-components/src/components/tile-select/usage/Basic.md
  packages/calcite-components/src/components/tile/usage/Basic.md
  packages/calcite-components/src/components/time-picker/usage/Basic.md
  packages/calcite-components/src/components/tip-manager/usage/Basic.md
  packages/calcite-components/src/components/tip/usage/Basic.md
  packages/calcite-components/src/components/tooltip/usage/Basic.md
  packages/calcite-components/src/components/tree/usage/Basic.md
Due: prettier --write, markdownlint --fix

test(avatar): Fix placeholder image url. (#8427)
  packages/calcite-components/src/components/avatar/avatar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): emits `calciteStepperItemChange` event when switched to first step (#8422)
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: use example image instead of live url. (#8426)
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/stack/readme.md
  packages/calcite-components/src/components/stack/usage/Basic.md
  packages/calcite-components/src/components/stack/usage/Disabled.md
  packages/calcite-components/src/components/tabs/usage/Basic.md
  packages/calcite-components/src/components/tabs/usage/Bordered.md
  packages/calcite-components/src/components/tip-manager/usage/Basic.md
  packages/calcite-components/src/components/tip/usage/Basic.md
Due: prettier --write, markdownlint --fix

chore: update links to use esri.com, update placeholder image reference. (#8432)
  packages/calcite-components/conventions/Accessibility/AccessibilityDeveloper.md
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/tip/readme.md
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

fix(input-date-picker): ensure range input toggling is consistent (#8414)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(menu-item): Improve keyboard navigability when `href` populated (#8408)
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/demos/menu.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): Add drag event details to `calciteListDragStart` and `calciteListDragEnd` events (#8438)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(table-cell): Fix background css variable (#8439)
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table/table.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(list-item): Add calciteListItemToggle event. (#8433)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(table): Add `striped` property, deprecate `zebra` property (#8440)
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(font tokens): add font family fallbacks (#8389)
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueFontFamilyFallbacks.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: update tokens for better documentation (#8395)
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/component/button.json
  packages/calcite-design-tokens/src/core/color.json
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/core/opacity.json
  packages/calcite-design-tokens/src/core/shadow.json
  packages/calcite-design-tokens/src/core/size.json
  packages/calcite-design-tokens/src/core/z-index.json
  packages/calcite-design-tokens/src/semantic/color.json
  packages/calcite-design-tokens/src/semantic/container-size.json
  packages/calcite-design-tokens/src/semantic/corner.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/src/semantic/opacity.json
  packages/calcite-design-tokens/src/semantic/shadow.json
  packages/calcite-design-tokens/src/semantic/size.json
  packages/calcite-design-tokens/src/semantic/space.json
  packages/calcite-design-tokens/src/semantic/typography.json
  packages/calcite-design-tokens/src/semantic/z-index.json
  packages/calcite-design-tokens/support/test/mock/src/global.json
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueCheckEvaluateMath.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueColorCss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueLineHeight.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueRGBA.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color tokens): fix errors in schema (#8446)
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write

feat: add `validation-message` and `validation-icon` attributes to form components for new internal `calcite-input-message` (#8305)
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/select/resources.ts
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/demos/input-date-picker.html
  packages/calcite-components/src/demos/input-number.html
  packages/calcite-components/src/demos/input-text.html
  packages/calcite-components/src/demos/input-time-zone.html
  packages/calcite-components/src/demos/input.html
  packages/calcite-components/src/demos/select.html
  packages/calcite-components/src/demos/text-area.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix

chore: release main (#8329)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Due: prettier --write, markdownlint --fix

fix(date-picker): prevent console error when selecting just an end date for input date picker (#8444)
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(table-header): Add style when within a `selected` Table Row (#8449)
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: move maintained wiki pages into the monorepo (#8459)
  documentation/monorepo.md
  documentation/releasing.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#8441)
  package-lock.json
Due: prettier --write

fix(list): fix event detail newIndex when down arrow pressed to sort (#8462)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
