Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(list): Add live region for dynamically changing list items (#8148)
  packages/calcite-components/src/components/list/assets/list/t9n/messages.json
  packages/calcite-components/src/components/list/assets/list/t9n/messages_en.json
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  t9nmanifest.txt
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): adds border between last item in a group and slotted item (#8262)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(link, loader, modal, notice, panel, select): update usage examples (#8267)
  packages/calcite-components/src/components/link/usage/Basic.md
  packages/calcite-components/src/components/loader/usage/Compact.md
  packages/calcite-components/src/components/modal/usage/Basic.md
  packages/calcite-components/src/components/notice/usage/Basic.md
  packages/calcite-components/src/components/panel/usage/With-action-bar.md
  packages/calcite-components/src/components/panel/usage/With-fab.md
  packages/calcite-components/src/components/select/usage/Basic.md
  packages/calcite-components/src/components/select/usage/Content.md
  packages/calcite-components/src/components/select/usage/Disable.md
  packages/calcite-components/src/components/select/usage/Grouped.md
  packages/calcite-components/src/components/select/usage/Side-by-side.md
  packages/calcite-components/src/components/select/usage/Value.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

refactor(alert): remove unnecessary CSS declaration (#8256)
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

feat(action-menu): set max height of the action menu (#8275)
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(stepper): typo in CSS variable for step bar's fill (#8255)
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

feat(handle): Add disabled property (#8283)
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.stories.ts
  packages/calcite-components/src/components/handle/handle.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action-menu): support action-groups (#8273)
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(input,input-text,input-number): updates `alignmen`t property type (#8289)
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list-item): Add dragDisabled property (#8285)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): focus on the first focusable element within the component when using arrow keys (#8291)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: Add additional notes to sortableComponent. (#8295)
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#8260)
  package-lock.json
Due: prettier --write

fix(input-time-zone): update time zone items when item-dependent props change (#8271)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(combobox, checkbox, input-time-zone, select, text-area): add `status` property (#8304)
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/checkbox/checkbox.stories.ts
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/checkbox.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(label): associate label to component when `for` prop is set after initialization (#8309)
  packages/calcite-components/src/components/label/label.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: resolve globby error in prebuild t9n types script
  package-lock.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/support/generateT9nTypes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
