Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

chore(tile-select): Fix storybook story knobs. (#5378)
  src/components/tile-select-group/tile-select-group.stories.ts
  src/components/tile-select/tile-select.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tab-nav, tab-title): centered layout allows to scroll to the extent (#5332)
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

fix(modal): fix modal not opening when calcite-hydrated attribute is not applied for open/close eventing (#5383)
  src/components/modal/modal.scss
Due: prettier --write, stylelint --fix

1.0.0-beta.95
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
  src/components/combobox-item-group/readme.md
  src/components/combobox-item/readme.md
  src/components/radio-group/readme.md
  src/components/select/readme.md
  src/components/tile-select/tile-select.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile-select): ensure checked tile border is visible within tile-select group (#5390)
  src/components/tile-select/tile-select.scss
Due: prettier --write, stylelint --fix

fix(slider): thumb no longer appears above track at min (#5397)
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.stories.ts
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: use pointer events instead of mouse events to improve device compatibility (#5339)
  conventions/README.md
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/tile-select/tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(release): add checks to keep out uncommited code (#5398)
  src/components/tile-select/tile-select.stories.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5400)
  src/components/combobox-item-group/readme.md
  src/components/combobox-item/readme.md
  src/components/radio-group/readme.md
  src/components/select/readme.md
Due: prettier --write

build(deps): bump stencil and typescript (#5402)
  package-lock.json
  package.json
Due: prettier --write

feat(alert): add numberingSystem property (#5340)
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker-day): adds RTL equivalent CSS (#5363)
  src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

docs(flow-item, panel): use @example jsdoc tag to fix formatting (#5421)
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add calcite dev/design to issue template dropdown (#5405)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: prettier --write

fix(alert, date-picker-month-header, input-date-picker, loader, panel): adds RTL equivalent CSS (#5368)
  src/components/alert/alert.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/loader/loader.scss
  src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

feat: allow lang to be inherited to set component locale (#5338)
  src/components/alert/alert.tsx
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/utils.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/components/time-picker/time-picker.tsx
  src/utils/dom.ts
  src/utils/locale.ts
  src/utils/observers.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: drop ES5 build (#5412)
  package.json
  stencil.config.ts
  support/patchES5Helpers.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(output-target): drop undocumented and deprecated dist-custom-elements-bundle output target (#5411)
  .gitignore
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add t9n module, helpers and doc (#5425)
  .gitignore
  conventions/Internationalization.md
  package-lock.json
  package.json
  src/tests/commonTests.ts
  src/utils/locale.ts
  src/utils/t9n.ts
  src/utils/time.ts
  support/generateT9nTypes.ts
  support/syncEnT9nBundles.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(i18n): small cleanups (#5430)
  conventions/Internationalization.md
  src/tests/commonTests.ts
  src/utils/t9n.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(readme): need --legacy-peer-deps flag on first install (#5418)
  CONTRIBUTING.md
Due: prettier --write

fix(input, input-number): numberingSystem property works correctly (#5427)
  src/components/alert/alert.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/demos/input.html
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(alert, pagination, slider, input, input-number): use NumberStringFormat class for localization (#5448)
  src/components/alert/alert.tsx
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tree-item): allow disabling tree-item (#5194)
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/components/tree/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.597
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci(next): fix deployments by specifying master branch (#5460)
  .github/workflows/deploy-next.yml
Due: prettier --write

docs: update component READMEs (#5461)
  src/components/alert/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
  src/components/pagination/readme.md
  src/components/slider/readme.md
  src/components/tree-item/readme.md
Due: prettier --write

build: fix typescript errors (#5415)
  .storybook/placeholderImage.ts
  .storybook/utils.tsx
  src/components/accordion/accordion.stories.ts
  src/components/avatar/avatar.stories.ts
  src/components/block/block.stories.ts
  src/components/card/card.e2e.ts
  src/components/chip/chip.stories.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/list/list.e2e.ts
  src/components/list/list.stories.ts
  src/components/shell/shell.stories.ts
  src/components/tabs/tabs.stories.ts
  src/components/tile/tile.e2e.ts
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip/tip.stories.ts
  src/tests/utils.ts
  stencil.config.ts
  tailwind.config.ts
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: use getters and setters in NumberStringFormat (#5466)
  src/components/alert/alert.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(time-picker, input-time-picker): add numberingSystem property (#5301)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.tsx
  src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(block): move hardcoded classes to CSS object (#5474)
  src/components/block/block.tsx
  src/components/block/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input, input-number, input-text): fix input icons not displaying properly in Firefox (#5475)
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
  src/components/input/input.scss
Due: prettier --write, stylelint --fix

ci(next): clean docs build before deployment (#5476)
  .github/workflows/deploy-next.yml
Due: prettier --write

refactor(input-number, input-text): drop resize-icon selectors (#5477)
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
Due: prettier --write, stylelint --fix

fix(block): improve content layout (#5473)
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5479)
  src/components/input-time-picker/readme.md
  src/components/time-picker/readme.md
Due: prettier --write
