Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(hooks): add pre-push hook to confirm admin-pushes from master (#3273)
  .husky/pre-push
Due: none

feat(output-targets): add custom-elements output target (#3224)
  conventions/README.md
  package.json
  stencil.config.ts
  support/output-targets/custom-elements/createBundles.ts
  support/output-targets/custom-elements/tsconfig-dist-utils.json
  support/output-targets/custom-elements/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): allow ember-twiddle repro samples (#3244)
  .github/need-info.yml
Due: prettier --write

fix(block-section): enable word wrap (#3156)
  src/components/calcite-block-section/calcite-block-section.scss
Due: prettier --write, stylelint --fix

fix(link): Setting the href property after init should update rendering (#3222)
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-list-item/calcite-list-item.e2e.ts
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-list/calcite-list.e2e.ts
  src/components/calcite-list/calcite-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button): Setting the href property after init should update rendering (#3248)
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip-manager): mousing out of the tooltip should close the tooltip. #3171 (#3192)
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): slider range value capped to max (#3262)
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-group-item): move transition style up from icon to label co… (#3292)
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
Due: prettier --write, stylelint --fix

fix(checkbox): style the current svg checkbox and interdeterminate icon to be bolder #2848 (#3250)
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown): Set the height of the active menu after render. #3234 (#3235)
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Revert "Merge branch 'master' into dris0000/list-setfocus-feat"
  .github/need-info.yml
  .husky/pre-push
  conventions/README.md
  package-lock.json
  package.json
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  stencil.config.ts
  support/output-targets/custom-elements/createBundles.ts
  support/output-targets/custom-elements/tsconfig-dist-utils.json
  support/output-targets/custom-elements/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: add util type for asserting on global test props (#3285)
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/tests/commonTests.ts
  src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert: reverts unintentional revert 🔁
  .github/need-info.yml
  .husky/pre-push
  conventions/README.md
  package-lock.json
  package.json
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  stencil.config.ts
  support/output-targets/custom-elements/createBundles.ts
  support/output-targets/custom-elements/tsconfig-dist-utils.json
  support/output-targets/custom-elements/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(label): fix focus issue with nested labelable components (#3286)
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(notice): change the padding to be evenly distributed per slot chi… (#3183)
  src/components/calcite-notice/calcite-notice.scss
Due: prettier --write, stylelint --fix

chore(template): request last working version for regressions (#3238)
  .github/ISSUE_TEMPLATE/bug.md
Due: prettier --write

build(ci): use gh actions for ci (#3293)
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
  .travis.yml
  screener.config.js
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix

feat(button): improve button form integration (#3287)
  package-lock.json
  package.json
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): fix npm token issue in next deploy script (#3306)
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.291 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build(ci): npm token handled by setup-node action (#3308)
  .github/workflows/deploy-next.yml
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): watch maxItems for changes and update height of dropdown. (#3300)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): remove unused fs import (#3310)
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): use pull_request event for ci (#3314)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

build(ci): cleanup next deployment workflow (#3315)
  .github/workflows/deploy-next.yml
  support/deployNextFromTravis.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): use gh action for semantic pr check (#3319)
  .github/workflows/pr-semantic.yml
Due: prettier --write

build(deps): bump versions (#3321)
  package-lock.json
  package.json
Due: prettier --write

fix(alert): remove full width styling for mobile modes #2979 (#3274)
  src/components/calcite-alert/calcite-alert.scss
Due: prettier --write, stylelint --fix

build(ci): use dotenv for next deploy workflow (#3322)
  .github/workflows/deploy-next.yml
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): fix ts dotenv issue for next deploy workflow (#3323)
  .github/workflows/deploy-next.yml
Due: prettier --write

refactor(dropdown): Use mutation observer to watch for changes to dropdown items. (#3311)
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): checkout action provides gh token for next deploy (#3324)
  .github/workflows/deploy-next.yml
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: stop prompting for pushes to master on scripts (#3325)
  .husky/pre-push
Due: none

1.0.0-next.292 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build(ci): add more logging to troubleshoot next deploy script (#3331)
  support/deployNextFromTravis.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): fix the conditional for deploying next (#3333)
  .github/workflows/deploy-next.yml
Due: prettier --write

refactor(ci): remove mention of travis (#3305)
  .github/workflows/deploy-next.yml
  .github/workflows/pr-screener.yml
  package.json
  readme.md
  support/deployNextFromCI.ts
  support/deployNextFromTravisWrapper.sh
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): fix incorrect npm script name (#3336)
  .github/workflows/deploy-next.yml
Due: prettier --write

build(deps): bump versions (#3348)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
