Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

refactor(popover): renames private method (#7286)
  packages/calcite-components/src/components/popover/popover.tsx
Due: none

docs: Add implementation example to `visualizeMouseCursor` util (#7292)
  packages/calcite-components/src/tests/utils.ts
Due: none

docs: Add implementation example to `skipAnimations` util (#7293)
  packages/calcite-components/src/tests/utils.ts
Due: none

chore: add editorconfig (#7318)
  .editorconfig
  .prettierrc.json
Due: prettier --write

chore(eslint): disable jsdoc/require-param-type rule in favor of typescript (#7326)
  packages/calcite-components/.eslintrc.cjs
Due: none

ci: modifies design complete workflow to ready for dev (#7300)
  .github/workflows/ready-for-dev.yml
Due: prettier --write

build: update browserslist db (#7324)
  package-lock.json
Due: prettier --write

test(input-time-picker): stabilize tests that update the lang and numberingSystems (#7283)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: none

test(block): disable loader animation in chromatic snapshots (#7333)
  packages/calcite-components/src/components/block/block.stories.ts
Due: none

ci: notify teams about calcite-components releases only (#7317)
  .github/workflows/notify-teams-release_calcite_components.yml
Due: prettier --write

fix(color-picker): maintains correct numbering system when entering invalid RGB value (#7327)
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: none

chore: drop Airtable syncing action (#7340)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

chore: remove references to removed cleanup script (#7339)
  packages/calcite-components/package.json
Due: prettier --write

docs: add warning notice to internal storybook (#7338)
  packages/calcite-components/.storybook/main.ts
Due: none

fix(tooltip): ensure --calcite-app-z-index-tooltip is applied (#7345)
  packages/calcite-components/calcite-preset.ts
Due: none

fix(link): adds outline-offset to avoid overlapping with text. (#7342)
  packages/calcite-components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

feat: allow sharing focus trap stacks via configuration global (#7334)
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: none

docs: add more chromatic/storybook info (#7337)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci(chromatic): disable animations globally to prevent false positive visual diffs (#7348)
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/progress/progress.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: none

refactor(alert, dropdown): `onToggleOpenCloseComponent` replaces connect logic (#7356)
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: none

refactor(combobox): `onToggleOpenCloseComponent` replaces connect logic (#7361)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: none

feat(action-group): Adds overlayPositioning property. (#7366)
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.tsx
Due: none
