Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

build(deps)!: bump Stencil to v4 (#8108)
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(rc): recreate package-lock.json after fixing merge conflicts
  package-lock.json
  packages/calcite-components-angular/package-lock.json
Due: prettier --write

chore: release rc
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build(angular): chage calcite-components to a dep from peerDep/devDep (#8167)
  packages/calcite-components-angular/projects/component-library/package.json
Due: prettier --write

build(angular): remove event detail types patch by exporting them from the entry point (#8177)
  packages/calcite-components/package.json
Due: prettier --write

build: downgrade stencil-eslint-core, re-generate package-lock and component types
  package-lock.json
  packages/calcite-components/src/components.d.ts
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item, stack): stretch action-menu and handle when placed inside a list-item or stack. (#8185)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action): Ensure action content is correctly spaced (#8184)
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/demos/action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: downgrade packages after reverting 2.0.0-next.0 change (#8237)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

refactor(combobox): fix linting errors (#8235)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: downgrade eslint plugin after reverting breaking change (#8238)
  package-lock.json
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

chore: release main (#8092)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(input): prevents mutating value on `blur` when `type="number"` (#8245)
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): an item with an empty slotted list should be openable. (#8240)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: dragging floating ui components (#8230)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(list-item): Reserve space for empty open lists. (#8239)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(combobox): remove invalid css style (#8268)
  packages/calcite-components/src/demos/combobox.html
Due: prettier --write

fix(button): Sets aria-disabled instead of disabled on internal anchor element (#8270)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
