Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

docs(demos): finalize demo homepage (#4513)
  src/demos/graph.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
  src/index.html
Due: prettier --write

test(color-picker): Fix build error. (#4523)
  src/components/color-picker/color-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(color-picker): skip unstable tests (#4524)
  src/components/color-picker/color-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(stepper): Cleanup code from review. (#4522)
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.82
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build(deps): bump versions (#4520)
  package-lock.json
  package.json
Due: prettier --write

fix(stepper-item): focus outline wraps item title (#4515)
  src/components/stepper-item/stepper-item.scss
  src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4528)
  package-lock.json
  src/components/stepper/readme.md
  src/components/tab-title/readme.md
Due: prettier --write

fix(graph): Set default height to 100% (#4530)
  src/components/graph/graph.scss
  src/components/graph/graph.stories.ts
  src/demos/graph.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: remove extra git add from release prepare (#4534)
  package.json
Due: prettier --write

docs(block): add default doc tag (#4536)
  src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: consistent api styles (#4542)
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: use calciteInternal prefix for internal events (#4496)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/alert/alert.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/option-group/option-group.tsx
  src/components/option/option.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/pick-list/shared-list-logic.ts
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.tsx
  src/components/select/select.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/components/value-list/value-list.tsx
  src/demos/input-time-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): Fix skipped test (#4533)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): Fix toggling popover via keyboard (#4541)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): display correct day abbreviations when locale='ru' (#4525)
  src/components/date-picker/assets/date-picker/nls/ru.json
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4548)
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/loader/readme.md
Due: prettier --write

build(deps): install jsdoc eslint plugin (#4550)
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat(popover): Add triggerDisabled property to disable automatically toggling a popover via mouse or keyboard (#4540)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): Fix timing issue. (#4552)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: re-add backticks (#4553)
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4555)
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
Due: prettier --write

build: update browserslist db (#4556)
  package-lock.json
Due: prettier --write

fix(tabs): a11y - apply forced colors styles where needed (#4559)
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
  src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#4563)
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/tree-item/readme.md
  src/components/tree/readme.md
  src/components/value-list/readme.md
Due: prettier --write

docs(internal): add jsdoc to test utils exported functions (#4554)
  src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4562)
  package-lock.json
  package.json
Due: prettier --write

fix(stepper): Add high contrast specific styles to stepper (#4565)
  src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix(input-message): remove the scaling transition effect when displaying an input message (#4572)
  src/components/input-message/input-message.scss
Due: prettier --write, stylelint --fix

fix: patch __spreadArray helper to work around tslib bug (#4481) (#4575)
  package.json
  support/patchES5Helpers.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): Stepper methods should replace active content correctly (#4573)
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): format page numbers with localized group seperators (#4574)
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
  src/demos/pagination.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix npm start script (#4580)
  package.json
Due: prettier --write

test(action-bar): Stabilize menuOpen test. (#4602)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): Stabilize test. (#4604)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): Align type="time" correctly in Firefox (#4601)
  src/components/input/input.scss
Due: prettier --write, stylelint --fix

test(action-bar): Fix stability of test. (#4605)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover, tooltip, alert, tree-item): Make component invisible and have no pointer events by default (#4581)
  src/assets/styles/_popper.scss
  src/assets/styles/global.scss
  src/assets/styles/includes.scss
  src/components/alert/alert.scss
  src/components/input-message/input-message.scss
  src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

feat: drop focus transitions to look snappier (#4516)
  src/assets/styles/_focus.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/input/input.scss
  src/components/notice/notice.scss
  src/components/radio-button/radio-button.scss
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.scss
  src/components/tile-select/tile-select.scss
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
