Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3786)
  package-lock.json
Due: prettier --write

chore(deps): audit and fix non breaking vulnerabilities when updating deps (#3782)
  .github/workflows/update-deps.yml
  package-lock.json
  package.json
Due: prettier --write

refactor(radio-group-item): remove input proxy (#3644)
  src/components/calcite-radio-group-item/calcite-radio-group-item.e2e.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): allow typing negative decimal numbers (#3776)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): change the label used for requesting more info (#3801)
  .github/need-info.yml
  .github/workflows/need-info-close.yml
Due: prettier --write

ci: cache npm packages to speed up checks (#3802)
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Due: prettier --write

chore(browserslist): use last 2 major versions for Safari and iOS (#3800)
  .browserslistrc
Due: none

fix(color-picker-swatch, avatar): in case where theme is set on multiple levels, these components now take theme of the element or the closest parent (#3785)
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown-group): Set display as block. #3427 (#3777)
  src/components/calcite-dropdown-group/calcite-dropdown-group.e2e.ts
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(icon): Add new global CSS variable to customize icon's color. #3200 (#3770)
  src/6-custom-theme.stories.mdx
  src/assets/styles/global.scss
  src/components/calcite-icon/calcite-icon.scss
  src/components/calcite-icon/readme.md
  src/demos/calcite-icon.html
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(popover, popover-manager, tooltip, tooltip-manager): Correctly query by ID within the DOM. (#3696)
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/utils/dom.e2e.ts
  src/utils/dom.ts
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dom): Allow multiple slot names in getSlotted utility. (#3797)
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label): Prevents selecting disabled labeled element. #3574 (#3718)
  src/components/calcite-input/calcite-input.tsx
  src/utils/label.spec.ts
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): Clear date properly when deleted via keyboard. #3530 (#3730)
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pick-list, value-list): deselect values when it gets removed from the list (#1954) (#3787)
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown-item): align items with heading in selection-mode: none (#3742)
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/demos/calcite-dropdown.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(Panel): match header height and border color to Action
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

test(dropdown): dropdown screener tests now have an added active prop as a step to show what isn’t visible by default (dropdown-group) in order to be able to catch visual regressions (#3811)
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(accordion): nest accordion-items not accordions (#3812)
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove tslint from recommended extensions (#3814)
  .vscode/extensions.json
Due: prettier --write

refactor: use window or global when calling global interval or timeout methods (#3799)
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3817)
  src/components/calcite-accordion-item/readme.md
  src/components/calcite-accordion/readme.md
Due: prettier --write

fix(value-list): emit list order change event when value list items are reordered via the keyboard (#3816)
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(value-list): include ordered values in list order change event payload (#3820)
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: Update tests to use common test and apply correct default display. (#3778)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.scss
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-progress/calcite-progress.e2e.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-split-button/calcite-split-button.scss
  src/components/calcite-stepper-item/calcite-stepper-item.e2e.ts
  src/components/calcite-stepper/calcite-stepper.e2e.ts
  src/components/calcite-tab/calcite-tab.e2e.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: add proper types to pick & value lists (#3825)
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): allow primary contact to merge pr branches (#3823)
  .github/workflows/pr-merge.yml
Due: prettier --write

feat(transition): allow customizing animation/transition duration for components utilizing base transition variables (#3828)
  src/assets/styles/_focus.scss
  src/assets/styles/_popper.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-rating/calcite-rating.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#3829)
  src/components/calcite-pick-list/readme.md
  src/components/calcite-value-list/readme.md
Due: prettier --write

revert: allow primary contact to merge pr branches (#3831)
  .github/workflows/pr-merge.yml
Due: prettier --write

test(input): stabilize e2e tests (#3566)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump @esri/eslint-plugin-calcite-components (#3830)
  package-lock.json
  package.json
Due: prettier --write

fix(list-item): apply line-height to label and description (#3832)
  src/components/calcite-list-item/calcite-list-item.scss
Due: prettier --write, stylelint --fix

build: update browserslist db (#3837)
  package-lock.json
Due: prettier --write

docs(input-time-picker, time-picker): synchronize the value and step prop descriptions (#3853)
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-time-picker/calcite-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): add support for exponential number format (#3738)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.73
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#3862)
  src/components/calcite-input-time-picker/readme.md
  src/components/calcite-time-picker/readme.md
Due: prettier --write

feat(alert): add support for alert position (#3856)
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-alert/interfaces.ts
  src/demos/calcite-alert.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(color-picker-swatch): double the alpha value on the border when theme is light to make it a bit more pronounced (#3806)
  src/components/calcite-color-picker-swatch/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
