Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

chore(linting): enable one-var rule (#7528)
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/color-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: fix open/close event emitting in Safari (#7551)
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main (#7539)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build: update browserslist db (#7554)
  package-lock.json
Due: prettier --write

fix(date-picker): set start of week to monday in zh-CN (#7578)
  packages/calcite-components/src/components/date-picker/assets/date-picker/nls/zh-CN.json
Due: prettier --write

refactor(combobox, combobox-item, combobox-group): `getElementProp` is refactored out across child components as an outdated pattern in favor of inheritable props set directly on parent (#7562)
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(chip-group): Add existence checks (#7586)
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree-item): move focus outline to item label area (#7581)
  packages/calcite-components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

fix(modal): handle removal of open attribute and prevent multiple beforeClose calls (#7470)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(modal, shell): add delay to recent unstable stories (#7589)
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(action-bar, action-pad, action-group): Add label properties for group context (#7415)
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/usage/With-grouping.md
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-group/resources.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/usage/With-grouping.md
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/demos/action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(segmented-control): refresh items when added dynamically (#7567)
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(split-button): update divider and borders to follow design spec (#7568)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): update combobox height to follow design spec (#7558)
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

refactor(combobox-item): drop unused variable (#7587)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add action to limit pull requests during maintenance releases (#7556)
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Due: prettier --write

refactor(dropdown, dropdown-item-group, dropdown-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7582)
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(loader): tweak loading animations to work in Safari (#7564)
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/demos/loader.html
Due: prettier --write, stylelint --fix

refactor(segmented-control, segmented-control-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7592)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#7610)
  package-lock.json
Due: prettier --write

fix(tree): improve keyboard navigation (#7618)
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/tree/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(sheet): Update default widths (#7617)
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
