Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore(linting): block commits if there are unused imports (#6487)
  .eslintrc.json
Due: prettier --write

chore(handle): add message bundles for translation. (#6493)
  src/components/handle/assets/handle/t9n/messages.json
  src/components/handle/assets/handle/t9n/messages_en.json
  t9nmanifest.txt
Due: prettier --write

chore(deps): bump stylelint-use-logical-spec (#6502)
  package-lock.json
  package.json
Due: prettier --write

chore(linting): drop filter for JS file linting (#6489)
  .lintstagedrc.json
  package.json
Due: prettier --write

chore(linting): restore pattern to lint TS and TSX files (#6488)
  .lintstagedrc.json
Due: prettier --write

fix(value-list): add back instructions for screen reader when drag handle is activated (#6402)
  src/components/value-list-item/interfaces.ts
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.tsx
Due: none

chore(linting): fix no-unused-var errors (#6522)
  src/components/action-pad/action-pad.stories.ts
  src/components/card/card.stories.ts
  src/components/checkbox/checkbox.stories.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/tabs/tabs.stories.ts
Due: none

ci(sync_to_airtable): update workflow (#6525)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

chore(release): 1.0.8
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(modal): provides `content-top` and `content-bottom` slots (#6490)
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Due: prettier --write, stylelint --fix

fix(slider): range slider thumb on all touch-enabled devices now follows touch gesture (#6553)
  src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

build: ensure required files are available for doc preview build (#6557)
  package.json
Due: prettier --write

chore(block): add t9n message bundles. (#6559)
  src/components/handle/assets/handle/t9n/messages_ar.json
  src/components/handle/assets/handle/t9n/messages_bg.json
  src/components/handle/assets/handle/t9n/messages_bs.json
  src/components/handle/assets/handle/t9n/messages_ca.json
  src/components/handle/assets/handle/t9n/messages_cs.json
  src/components/handle/assets/handle/t9n/messages_da.json
  src/components/handle/assets/handle/t9n/messages_de.json
  src/components/handle/assets/handle/t9n/messages_el.json
  src/components/handle/assets/handle/t9n/messages_es.json
  src/components/handle/assets/handle/t9n/messages_et.json
  src/components/handle/assets/handle/t9n/messages_fi.json
  src/components/handle/assets/handle/t9n/messages_fr.json
  src/components/handle/assets/handle/t9n/messages_he.json
  src/components/handle/assets/handle/t9n/messages_hr.json
  src/components/handle/assets/handle/t9n/messages_hu.json
  src/components/handle/assets/handle/t9n/messages_id.json
  src/components/handle/assets/handle/t9n/messages_it.json
  src/components/handle/assets/handle/t9n/messages_ja.json
  src/components/handle/assets/handle/t9n/messages_ko.json
  src/components/handle/assets/handle/t9n/messages_lt.json
  src/components/handle/assets/handle/t9n/messages_lv.json
  src/components/handle/assets/handle/t9n/messages_nl.json
  src/components/handle/assets/handle/t9n/messages_no.json
  src/components/handle/assets/handle/t9n/messages_pl.json
  src/components/handle/assets/handle/t9n/messages_pt-BR.json
  src/components/handle/assets/handle/t9n/messages_pt-PT.json
  src/components/handle/assets/handle/t9n/messages_ro.json
  src/components/handle/assets/handle/t9n/messages_ru.json
  src/components/handle/assets/handle/t9n/messages_sk.json
  src/components/handle/assets/handle/t9n/messages_sl.json
  src/components/handle/assets/handle/t9n/messages_sr.json
  src/components/handle/assets/handle/t9n/messages_sv.json
  src/components/handle/assets/handle/t9n/messages_th.json
  src/components/handle/assets/handle/t9n/messages_tr.json
  src/components/handle/assets/handle/t9n/messages_uk.json
  src/components/handle/assets/handle/t9n/messages_vi.json
  src/components/handle/assets/handle/t9n/messages_zh-CN.json
  src/components/handle/assets/handle/t9n/messages_zh-HK.json
  src/components/handle/assets/handle/t9n/messages_zh-TW.json
Due: prettier --write

feat(stepper-item): emits `calciteStepperItemSelect` event when selected. (#6521)
  src/components/stepper-item/stepper-item.e2e.ts
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
  src/components/stepper/utils.ts
Due: none

revert(stepper-item): emits calciteStepperItemSelect event when selected (#6560)
  src/components/stepper-item/stepper-item.e2e.ts
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
  src/components/stepper/utils.ts
Due: none

feat(block): add built-in localization (#6503)
  src/components/handle/handle.e2e.ts
  src/components/handle/handle.tsx
Due: none

fix(action): ensure consistent width to accommodate indicator when displaying text (#6562)
  src/components/action/action.scss
  src/components/action/action.stories.ts
Due: prettier --write, stylelint --fix

fix(modal): ensure modal transitions are in sync (#6564)
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Due: prettier --write, stylelint --fix

ci(eslint): ignore private/internal code for jsdoc rules (#6416)
  .eslintrc.json
Due: prettier --write

test(tabs): delay story due to potential timing chromatic diff (#6437)
  src/components/tabs/tabs.stories.ts
Due: none

fix(input, input-number): increment/decrement unsafe numbers without loss of precision (#6580)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/utils/math.spec.ts
  src/utils/math.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Due: none

chore: gitignore Dockerfile (#6589)
  .gitignore
Due: none

build(browsers): add support for Firefox ESR (#6446)
  .browserslistrc
Due: none

fix(avatar): passes color contrast after adjusting text color (#6592)
  src/components/avatar/avatar.scss
  src/components/avatar/avatar.stories.ts
Due: prettier --write, stylelint --fix

fix(alert, combobox, dropdown, input-date-picker, popover, tooltip): prefers-reduced-motion no longer prevents open/close components from emitting before + open/close events (#6605)
  src/assets/styles/_animation.scss
  src/components/block/block.scss
  src/components/loader/loader.scss
  src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(accordion, accordion-item): now wraps long words in header (title & description) (#6608)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion/accordion.stories.ts
Due: prettier --write, stylelint --fix

build: update browserslist db (#6527)
  package-lock.json
Due: prettier --write

ci: update user-defined priority (#6609)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/workflows/add-priority-label.yml
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.md)
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
