Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): ensure input's value is an empty string when cleared or set to null/undefined (#3627)
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.71
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

refactor: drop obsolete getKey util (#3547)
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-picker-day/calcite-date-picker-day.tsx
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.tsx
  src/components/calcite-date-picker-month/calcite-date-picker-month.tsx
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-time-picker/calcite-time-picker.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/utils/key.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(filter): enforce items prop via type (#3476)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert(filter): enforce items prop via type (#3476)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): close button no longer partially hidden (#3635)
  src/components/calcite-popover/calcite-popover.scss
Due: prettier --write, stylelint --fix

refactor(filter): drop deprecated + undocumented prop and event payload (#3475)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): skip screener when a pr is only markdown changes (#3628)
  .github/workflows/pr-screener.yml
Due: prettier --write

refactor(filter): enforce items prop via type (#3643)
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): Allow slotting tooltip after initialization (#3642)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/utils/conditionalSlot.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3652)
  src/components/calcite-filter/readme.md
  src/components/calcite-input/readme.md
Due: prettier --write

fix(panel): the panel is now dismissed on escape keydown and not keyup for consistency (#3657)
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-time-picker)!: localization support for input-time-picker (#3354)
  src/components/calcite-input-time-picker/calcite-input-time-picker.e2e.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.stories.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-time-picker/calcite-time-picker.e2e.ts
  src/components/calcite-time-picker/calcite-time-picker.scss
  src/components/calcite-time-picker/calcite-time-picker.tsx
  src/components/calcite-time-picker/resources.ts
  src/demos/_assets/locales.ts
  src/demos/calcite-input-time-picker.html
  src/demos/calcite-input.html
  src/index.html
  src/utils/time.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: fix linting issues (#3581)
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-input-message/calcite-input-message.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-stepper/calcite-stepper.scss
  src/components/calcite-time-picker/calcite-time-picker.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(tabs): remove commented out story that is replaced (#3665)
  src/components/calcite-tabs/calcite-tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3670)
  src/components/calcite-input-time-picker/readme.md
  src/components/calcite-time-picker/readme.md
Due: prettier --write

fix(button): no longer render loader when width set to half or full (#3666)
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(option): update label and value when character data changes (#3653)
  src/components/calcite-option/calcite-option.e2e.ts
  src/components/calcite-option/calcite-option.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): fix focus behavior inside calcite label (#3597) (#3661)
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-button): remove internal calcite-radio component (#3662)
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio/calcite-radio.e2e.ts
  src/components/calcite-radio/calcite-radio.scss
  src/components/calcite-radio/calcite-radio.tsx
  src/components/calcite-radio/readme.md
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

revert: stop skipping screener on markdown prs (#3673)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci(screener): fix fetch depth issue when skipping screener on markdown only prs (#3674)
  .github/workflows/pr-screener.yml
Due: prettier --write

fix(label): remove pointer cursor for non interactive content (#3663)
  src/components/calcite-label/calcite-label.scss
Due: prettier --write, stylelint --fix

refactor(input): remove IE specific functionality (#3664)
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: Refactor getElementDir dom utility. (#3683)
  src/utils/dom.ts
  src/utils/popper.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): slider now takes the precision of the step if it's provided or no decimal points if it isn’t; added demos for each study case (#3678)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/demos/calcite-slider.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(animation): add animation timing factor global var and match animation timing with calcite base value (#3492)
  src/assets/styles/_animation.scss
  src/tests/globalStyles.e2e.ts
  tailwind.config.js
Due: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(slider): add scale property, update styles to match Figma (#3087)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/demos/calcite-slider.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(tip-manager): allow customizing animation/transition duration (#3471)
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write, stylelint --fix

fix(input-date-picker): date-picker is now updating internally when min is updated after initialization (#3630)
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): date-picker is now updating internally when min is updated after initialization (#3651)
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-date-picker/calcite-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3679)
  src/components/calcite-radio-button/readme.md
  src/components/calcite-slider/readme.md
Due: prettier --write

feat(split-button): allow disabling and customizing animation/transition duration (#3477)
  src/components/calcite-split-button/calcite-split-button.scss
Due: prettier --write, stylelint --fix

fix(dropdown-item): align items with heading in selection-mode: none (#3690)
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
Due: prettier --write, stylelint --fix

ci(action): issues in development do not become stale (#3691)
  .github/workflows/stale.yml
Due: prettier --write

fix(tab): remove content text color from host (#3693)
  src/components/calcite-tab/calcite-tab.scss
Due: prettier --write, stylelint --fix

feat(color-picker): allow disabling and customizing transition duration on hover (#3488)
  src/components/calcite-color-picker/calcite-color-picker.scss
Due: prettier --write, stylelint --fix

feat(button,link): allow disabling animation and customizing animation/transition duration (#3510)
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-link/calcite-link.scss
Due: prettier --write, stylelint --fix

test(input): skip unstable decimal step test (#3717)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
