Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: fix timing issue in esri team labeler action (#6192)
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

build: update browserslist db (#6215)
  package-lock.json
Due: prettier --write

docs: update setFocus method across components (#6212)
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.tsx
  src/components/alert/alert.tsx
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/list/list.tsx
  src/components/notice/notice.tsx
  src/components/panel/panel.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover/popover.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: make sure action doesn't remove existing team label (#6225)
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

refactor(panel, shell-panel, flow-item)!: Remove properties, update available css variables (#6173)
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(alert): Correctly dismiss after hovering (#6228)
  src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-group, radio-group-item)!: Renames radio group components (#6224)
  conventions/Accessibility/AccessibilityRoles.md
  src/05-custom-theme.stories.mdx
  src/components/icon/readme.md
  src/components/label/label.stories.ts
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.stories.ts
  src/components/radio-group/usage/Basic.md
  src/components/segmented-control-item/readme.md
  src/components/segmented-control-item/resources.ts
  src/components/segmented-control-item/segmented-control-item.e2e.ts
  src/components/segmented-control-item/segmented-control-item.scss
  src/components/segmented-control-item/segmented-control-item.tsx
  src/components/segmented-control/readme.md
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/segmented-control/segmented-control.scss
  src/components/segmented-control/segmented-control.stories.ts
  src/components/segmented-control/segmented-control.tsx
  src/components/segmented-control/usage/Basic.md
  src/demos/accordion.html
  src/demos/alert.html
  src/demos/button.html
  src/demos/form.html
  src/demos/label.html
  src/demos/radio-group.html
  src/demos/segmented-control.html
  src/index.html
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): modify indent levels (#6234)
  CHANGELOG.md
Due: prettier --write

docs(list,pick-list,value-list): remove duplicate read only refs (#6232)
  src/components/list/list.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tooltip): assistive technology story support (#6221)
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/usage/Basic.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): use pointer cursor when selection mode is none (#6213)
  src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#6227)
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/alert/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/list/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/pick-list/readme.md
  src/components/popover/readme.md
  src/components/shell-panel/readme.md
  src/components/stepper-item/readme.md
  src/components/time-picker/readme.md
  src/components/value-list/readme.md
Due: prettier --write

fix(tree-item): overflow slotted elements are no longer hidden (#5261)
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
  src/utils/openCloseComponent.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(pick-list,pick-list-group,pick-list-item,value-list,value-list-item): deprecate components (#6233)
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(segmented-control)!: Update event name (#6239)
  src/components/segmented-control-item/segmented-control-item.tsx
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/segmented-control/segmented-control.tsx
  src/demos/button.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): modify indentation levels (#6246)
  CHANGELOG.md
Due: prettier --write

fix(input, input-number): nudge buttons increment/decrement once per interaction (#6240)
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#6251)
  package-lock.json
Due: prettier --write

docs: update component READMEs (#6238)
  src/components/icon/readme.md
  src/components/list/readme.md
  src/components/pick-list-group/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/segmented-control/readme.md
  src/components/tooltip/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Due: prettier --write

docs: add context to `iconFlipRtl` for components with the `FlipContext` interface (#6243)
  src/components/accordion-item/accordion-item.tsx
  src/components/button/button.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/link/link.tsx
  src/components/split-button/split-button.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(card)!: rename footer-leading and footer-trailing slots to footer-start and footer-end (#6249)
  src/05-custom-theme.stories.mdx
  src/components/card/card.scss
  src/components/card/card.stories.ts
  src/components/card/card.tsx
  src/components/card/readme.md
  src/components/card/resources.ts
  src/demos/card.html
  src/demos/chip.html
  src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(panel): Allow Panel to fill height of parent (#6256)
  src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

docs(changelog): modify breaking changes indentation level (#6257)
  CHANGELOG.md
Due: prettier --write

fix(input, input-number, input-text): allow slotted action to be independently disabled (#6250)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/demos/input.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6259)
  src/components/accordion-item/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/dropdown-item/readme.md
  src/components/link/readme.md
  src/components/split-button/readme.md
  src/components/tab-title/readme.md
Due: prettier --write

fix(button): neutral and outline button now has correct border color (#6269)
  src/components/button/button.scss
  src/components/button/button.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox-item): bumping the scale of icon to M when parent combobox is scale L (#6253)
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(accordion)!: remove minimal and default values from appearance property (#6268)
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.scss
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/demos/accordion.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): reorganize and set indentation (#6271)
  CHANGELOG.md
Due: prettier --write

fix(accordion-item): bumping the scale of icon to M when parent accordion is scale L (#6252)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-time-picker)!: remove string payload from event. (#6275)
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(color-picker)!: remove appearance property (#6276)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/usage/Basic.md
  src/components/color-picker/usage/Minimal.md
  src/components/interfaces.ts
  src/demos/color-picker.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(date-picker): Update border color (#6273)
  src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#6274)
  src/components/accordion/readme.md
  src/components/color-picker/readme.md
Due: prettier --write

feat(modal)!: Updates accepted `width` values, adds css variables for width and height (#6166)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/demos/modal.html
  src/demos/shell/basic-slotted-elements.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab, tabs, tab-title, input, input-number, input-text, input-date-picker, input-time-picker): bumping the scale of icon to M when parent is scale L (#6267)
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.scss
  src/components/input-number/input-number.stories.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.scss
  src/components/input-text/input-text.stories.ts
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input/input.scss
  src/components/input/input.tsx
  src/components/tab-title/resources.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.scss
  src/components/tabs/tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown-item): bumping the scale of icon to M when parent dropdown is scale L (#6254)
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown-item/resources.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(tip)!: rename `dismissed` to `closed` (#6297)
  src/components/tip/tip.scss
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
  src/demos/tip-manager.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
