Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(radio-group): fix form reset for radio groups with initial selected item (#4848)
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(radio-group): mark selectedItem as read-only (#4849)
  src/components/radio-group/radio-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: require defaultChecked prop for CheckableFormComponents (#4850)
  src/components/checkbox/checkbox.tsx
  src/components/radio-button/radio-button.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): resize color field/hue slider canvas on scale change (#4839)
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): update Thai locale to use Buddhist calendar (#4847)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month-header/resources.ts
  src/components/date-picker/assets/date-picker/nls/th.json
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): update number stepper buttons to work with both mouse/touch inputs (#4846)
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(flow): Allow panels to be descendants of child elements within a flow (#4842)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): update color-field and hue slider to work with both mouse/touch inputs (#4845)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(readme): use the same stencil version as calcite components (#4871)
  readme.md
Due: prettier --write

fix(flow): Do not allow nested panels when allowDescendantPanels is true (#4872)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: automatically create new milestones (#4874)
  .github/workflows/create-milestone.yml
Due: prettier --write

docs: api style consistency for L-P and some T-Z components (#4869)
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/notice/notice.scss
  src/components/notice/notice.tsx
  src/components/option-group/option-group.tsx
  src/components/option/option.tsx
  src/components/pagination/pagination.scss
  src/components/pagination/pagination.tsx
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover/popover.tsx
  src/components/progress/progress.tsx
  src/components/tooltip/tooltip.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(create-milestone): remove label event used for testing (#4881)
  .github/workflows/create-milestone.yml
Due: prettier --write

fix: (radio group) - apply forced-colors styles (#4877)
  src/components/radio-group-item/radio-group-item.scss
Due: prettier --write, stylelint --fix

fix(Input): type number spinner buttons will no longer interact when disabled (#4884)
  src/components/input/input.e2e.ts
  src/components/input/input.scss
  src/components/input/input.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(flow): Use querySelectorAll to query panels. (#4875)
  CHANGELOG.md
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(flow): Update story to use description instead of summary property. (#4887)
  src/components/flow/flow.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow): Only set showBackButton on active panel. (#4886)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip): Add aria-live="polite" for screen readers (#4885)
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): set the default numbering system for arab languages to latin (#4809)
  src/components/input/input.stories.ts
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: css-only hydration to prevent FOUC (#991) (#4856)
  .gitignore
  package.json
  src/assets/styles/global.scss
  stencil.config.ts
  support/hydrationStyles.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(storybook): update static dir option (#4891)
  .github/workflows/deploy-storybook.yml
  .storybook/main.ts
  package.json
  screener.config.js
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix

fix(popover): Add aria-live="polite" for screen readers (#4894)
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(rating): Add ability to clear a user-set rating (#4833)
  src/components/rating/rating.e2e.ts
  src/components/rating/rating.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-group-item): Add aria-label providing context to users (#4899)
  src/components/radio-group-item/radio-group-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: properly filter non-component files when generating hydration styles (#4897)
  support/hydrationStyles.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(chip): add support for closed prop (#4836)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4892)
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/loader/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/option-group/readme.md
  src/components/option/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-group/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/popover/readme.md
  src/components/progress/readme.md
  src/components/tooltip/readme.md
  src/components/tree-item/readme.md
  src/components/tree/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Due: prettier --write

feat(accordion-item,combobox,dropdown,modal): deprecate active prop for open in collapsible components (#4775)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.stories.ts
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(add-milestone): use milestone until the day after its due date (#4882)
  .github/workflows/pr-milestone.yml
Due: prettier --write

fix(label): deprecate disable-spacing property by allowing a css variable to override the bottom margin (#4889)
  CHANGELOG.md
  src/components/label/label.scss
  src/components/label/label.stories.ts
  src/components/label/label.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.84
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

chore: modify changelog to remove flow entry. (#4901)
  CHANGELOG.md
Due: prettier --write

feat(input-number): create separate component for input type number (#4870)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.scss
  src/components/input-number/input-number.stories.ts
  src/components/input-number/input-number.tsx
  src/components/input-number/interfaces.ts
  src/components/input-number/readme.md
  src/components/input-number/resources.ts
  src/demos/input-number.html
  src/index.html
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): downgrade stencil to fix types error (#4903)
  package-lock.json
  package.json
Due: prettier --write

fix(action-bar, action-pad): Background color should be transparent on host. (#4904)
  src/components/action-bar/action-bar.scss
  src/components/action-pad/action-pad.scss
Due: prettier --write, stylelint --fix

fix(input-date-picker): added readOnly prop support (#4888)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card): Prevent content from overflowing when corners are rounded. (#4895)
  src/components/card/card.scss
  src/components/card/card.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Revert "fix(card): Prevent content from overflowing when corners are rounded. (#4895)"
  src/components/card/card.scss
  src/components/card/card.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(value-list): enable auditory reordering of items when dragEnabled (#4228)
  src/components/pick-list/shared-list-logic.ts
  src/components/pick-list/shared-list-render.scss
  src/components/pick-list/shared-list-render.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/interfaces.ts
  src/components/value-list/utils.ts
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
