Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(slider): Properly reset and submit form value when a range is used (#4249)
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): Allow changing year in header when minValue/maxValue are set. (#4252)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tab-title, tab): clean up (#4273)
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tab-title, tab): Support nested tabs (#4250)
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4271)
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/slider/readme.md
Due: prettier --write

fix(modal): focus traps when close button is disabled (#4160)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): can toggle the dropdown using the icon (#4218)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/demos/combobox.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox-item): items align to left when added dynamically (#4176)
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4278)
  package-lock.json
Due: prettier --write

ci: skip e2e and screener on md and mdx only PRs (#4296)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

ci: disable merge squash prepush due to windows error (#4307)
  .husky/pre-push
Due: none

docs: update tip manager prop desc (#4308)
  src/components/tip-manager/tip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: add version to preamble (#4303)
  package.json
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(deps): fix typo in action workflow (#4318)
  .github/workflows/update-deps.yml
Due: prettier --write

docs: update component READMEs (#4314)
  src/components/tip-manager/readme.md
Due: prettier --write

build: update browserslist db (#4316)
  package-lock.json
Due: prettier --write

ci(update-deps): only commit package files (#4325)
  .github/workflows/update-deps.yml
Due: prettier --write

fix(stepper): visually change position using component methods when inside a custom element (#4313)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: squash mergeable script os agnostic (#4309)
  .husky/pre-push
  support/checkSquashMergeableBranch.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip): Removes console error when querying the tooltip (#4280)
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-picker, time-picker): fixing direct value setting issue where the minutes and seconds weren't respected when a default value is supplied (#4321)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add tools to a11y issue template's relevant info section (#4342)
  .github/ISSUE_TEMPLATE/accessibility.yml
Due: prettier --write

chore: remove issue template for questions (#4331)
  .github/ISSUE_TEMPLATE/question.yml
Due: prettier --write

docs(conventions): separation of concerns for the internal doc (#4295)
  conventions/Accessibility.md
  conventions/Documentation.md
  conventions/Internationalization.md
  conventions/README.md
  conventions/Styling.md
  conventions/Testing.md
  src/01-introduction.stories.mdx
  src/02-contributing.stories.mdx
  src/03-code-of-conduct.stories.mdx
  src/04-licensing.stories.mdx
  src/05-custom-theme.stories.mdx
  src/06-faq.stories.mdx
  src/07-conventions.stories.mdx
  src/08-testing.stories.mdx
  src/09-styling.stories.mdx
  src/10-documentation.stories.mdx
  src/11-accessibility.stories.mdx
  src/12-internationalization.stories.mdx
Due: prettier --write

test: remove unnecessary polyfill (#4332)
  src/utils/label.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix markdown PR check skipping logic (#4352)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

docs: fix accessibility filename typo (#4354)
  src/11-accessibility.stories.mdx
Due: none

fix(tabs): update active tab styling on resize (#4351)
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: automatically deploy storybook once a week (#4358)
  .github/workflows/deploy-storybook.yml
Due: prettier --write

fix(combobox, dropdown, input-date-picker, popover): Ensure flipPlacements are computed placements. (#4359)
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/utils/popper.spec.ts
  src/utils/popper.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4366)
  package-lock.json
Due: prettier --write

ci(next): correct version number in build files preamble (#4369)
  package.json
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: remove build status from readme (#4370)
  readme.md
Due: prettier --write

build(deps): bump versions (#4371)
  package-lock.json
  package.json
Due: prettier --write

fix(tile): match content-start spacing when dir set to rtl (#4324)
  src/components/tile/tile.scss
  src/components/tile/tile.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(button)!: Change type property to be "button" by default. (#4117) (#4335)
  src/components/button/button.e2e.ts
  src/components/button/button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(switch): Calling click() on switch should toggle checked (#4320)
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip-manager): click on tooltip no longer closes it (#4294) (#4310)
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(filter): emit events only on user interaction (#4287)
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(ListItem): updates flex definitions on start and end content slots
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list/list.stories.ts
  src/demos/list.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
