Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4154)
  package-lock.json
Due: prettier --write

build(deps): bump TypeScript (#4153)
  package-lock.json
  package.json
Due: prettier --write

fix(tree-item): Pressing right arrow key focuses first child when the tree-item contains an expanded subtree (#4150)
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(button,link): remove childElType as state (#4147)
  src/components/button/button.tsx
  src/components/link/link.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion): transparent appearance no longer has border (#4122)
  src/components/accordion/accordion.scss
  src/components/accordion/accordion.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): update number programmatically after blur event (#4125)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): balance the margin to be equal on vertical chip sides (#4068)
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action, loader): adjust the loadable icon size to match regular icon size (#4175)
  src/components/action/action.tsx
  src/components/loader/loader.scss
  src/components/pick-list/shared-list-logic.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.78
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(tree, tree-item): calciteTreeSelect only emits when item is selected and not on toggle parent icon (#4170)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tree, tree-item): allow all arrow keydown events to propagate outside the root tree element (#4167)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): aria-role is assigned to appropriate element (#4173)
  src/components/slider/slider.stories.ts
  src/components/slider/slider.tsx
  src/demos/slider.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert(pick-list): this change was in the wrong pr branch that got merged by accident (#4180)
  src/components/pick-list/shared-list-logic.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pick-list): change unselected items to be untabbable when an item is selected (#4177)
  src/components/pick-list/shared-list-tests.ts
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: solve regression with preact type generation (#4181)
  support/preact.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): drop unused posthtml (#4204)
  package-lock.json
  package.json
Due: prettier --write

build: update browserslist db (#4205)
  package-lock.json
Due: prettier --write

fix(filter): filter method runs on load in case there is a predefined search value prop (#4207)
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label, input, label util): clicking the label always triggers a "click" event, whether the label was added before component was added or after (#4029)
  src/components/label/label.tsx
  src/tests/commonTests.ts
  src/utils/label.spec.ts
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4209)
  src/components/filter/readme.md
Due: prettier --write

docs: update component READMEs (#4219)
  src/components/color-picker/readme.md
  src/components/filter/readme.md
  src/components/label/readme.md
  src/components/list/readme.md
  src/components/pick-list/readme.md
  src/components/scrim/readme.md
  src/components/tile-select-group/readme.md
  src/components/value-list/readme.md
Due: prettier --write

build: update browserslist db (#4230)
  package-lock.json
Due: prettier --write

fix(combobox, dropdown, input-date-picker, popover, tooltip): disable scroll event listeners for hidden poppers (#4216)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(tailwind): add content paths (#4217)
  tailwind.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump @popperjs/core from 2.11.2 to 2.11.4 (#4233)
  package-lock.json
  package.json
Due: prettier --write

feat(combobox, dropdown, input-date-picker): Add flipPlacements property (#4073)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
  src/components/dropdown/resources.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/popper.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.79
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#4236)
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Due: prettier --write

fix(action-menu): Correctly set flipPlacements on popover. (#4074)
  src/components/action-menu/action-menu.tsx
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover, tooltip, combobox, dropdown, input-date-picker): display escaped poppers (#4239)
  src/assets/styles/_popper.scss
  src/components/popover/popover.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(pick-list): only remove group if removable item is slotted as parent (#4245)
  src/components/pick-list/shared-list-logic.ts
  src/components/pick-list/shared-list-tests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown-item): ensure dropdown items are initialized properly (#4244)
  src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4247)
  src/components/action-menu/readme.md
  src/components/popover/readme.md
Due: prettier --write

fix(dropdown): trigger keydown handler should only work for trigger element. #4066 #3880 (#4243)
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar, action-pad): allow expanding via API when expandDisabled. #4169 (#4241)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): fix issue where clicking on the date picker would immediately close it
  src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

1.0.0-beta.80
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build(action): ensure PR title is not truncated (#4263)
  .github/workflows/pr-untruncated.yml
Due: prettier --write

feat(input-date-picker, input-time-picker): add placement props (#4253)
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
