Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

docs(changelog): add context to revert requiring patch (#5658)
  CHANGELOG.md
Due: prettier --write

ci: automatically create product label when added after submission (#5483)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

ci: user impact field for bug issue prioritization (#5662)
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

refactor: import types from @floating-ui/dom and not the package src (#5653)
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): adds a new `scale` prop (#5560)
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): add back output target removal breaking change (#5669)
  CHANGELOG.md
Due: prettier --write

test(dropdown, icon, modal, tab-title): skip unstable tests (#5491)
  src/components/dropdown/dropdown.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/tab-title/tab-title.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: stop generating readmes on every build (#5654)
  package.json
Due: prettier --write

fix(dropdown): fix calculation of max-items for non-Chromium browsers. (#5677)
  src/components/dropdown-group/dropdown-group.scss
Due: prettier --write, stylelint --fix

fix(link): fix link underline and icon placement when used with calcite fonts 2.x (#5650)
  src/components/link/link.scss
Due: prettier --write, stylelint --fix

feat(accordion,combobox,dropdown-group,tree): deprecate multi selectionMode and add support for multiple selectionMode (#5251)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/interfaces.ts
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-group/interfaces.ts
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/combobox.html
  src/demos/tree-scales.html
  src/demos/tree.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tooltip, popover): Fix pointer when text-align is right (#5682)
  src/assets/styles/_floating-ui.scss
  src/components/tooltip/tooltip.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix: Floating-ui should handle visibility and pointer-events on the floating element. (#5666)
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(tests): end-to-end vs unit (#5685)
  conventions/Testing.md
Due: prettier --write

fix(input-date-picker): commit value and refresh calendar on blur or Enter keypress in the input (#5459)
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.spec.ts
  src/utils/date.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(value-list): no longer display screen reader only text when drag-enabled (#5691)
  src/components/pick-list/shared-list-render.scss
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: cleanup 3rd party action dependencies (#5512)
  .github/labeler.yml
  .github/workflows/create-milestone.yml
  .github/workflows/deploy-next.yml
  .github/workflows/npm-audit.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-untruncated.yml
  .github/workflows/teams-release-msg.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
Due: prettier --write

ci(actions): remove deprecated set-output workflow commands (#5703)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

ci(actions): bump versions due to node12 deprecation (#5478)
  .github/workflows/add-esri-product-label.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-milestone.yml
  .github/workflows/deploy-next.yml
  .github/workflows/new-component-notify.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
  .github/workflows/update-doc.yml
Due: prettier --write

ci: fix merge conflict issue (#5710)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci(screener): fix yaml syntax (#5711)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci(e2e): use step output in github action (#5712)
  .github/workflows/pr-e2e.yml
Due: prettier --write

fix: tweak position reset logic to avoid layout interference (#5696)
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: avoid size changes before and after positioning floating-ui elements (#5695)
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(dropdown): Temporary fix to have tests pass for dropdown. (#5715)
  src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): Position internal container relative for dragEnabled. (#5717)
  src/components/block/block.scss
Due: prettier --write, stylelint --fix

ci(next): fix error due to updating action runner (#5714)
  .husky/pre-push
  package.json
Due: prettier --write

1.0.0-next.625
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci(next): fix potential type error due to the components.d.ts stencil bug (#5719)
  .github/workflows/deploy-next.yml
  .gitignore
Due: prettier --write

ci(next): add back default npm registry url (#5724)
  .github/workflows/deploy-next.yml
Due: prettier --write

1.0.0-beta.98
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(button, fab): adjust padding on 'l' scale button to accommodate 'm' scale icon without change in height (#5659)
  src/components/button/button.scss
  src/components/button/button.stories.ts
  src/components/button/button.tsx
  src/components/button/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(output targets): move patches to postbuild to include them in CCR (#5730)
  package.json
Due: prettier --write

fix(value-list-item): Prevent scrolling when space is pressed on drag button (#5709)
  src/components/value-list-item/value-list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5545)
  src/components/accordion/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/checkbox/readme.md
  src/components/chip/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker-swatch/readme.md
  src/components/color-picker/readme.md
  src/components/combobox-item-group/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-day/readme.md
  src/components/date-picker/readme.md
  src/components/dropdown-group/readme.md
  src/components/dropdown/readme.md
  src/components/flow-item/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/popover/readme.md
  src/components/tabs/readme.md
  src/components/tip/readme.md
  src/components/tooltip/readme.md
  src/components/tree/readme.md
Due: prettier --write

feat(popover): Escape key should close open popovers. (#5726)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow-item): Position back tooltip above (#5688)
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(t9manifest): Fix newline at end of file. (#5718)
  t9nmanifest.txt
Due: none

ci(pr-bot): skip assignment for dependabot PRs (#5737)
  .github/workflows/pr-bot.yml
Due: prettier --write
