Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

docs(contributing): fix broken email links and remove Julio (#3504)
  CONTRIBUTING.md
Due: prettier --write

docs: update component READMEs (#3534)
  src/components/calcite-input/readme.md
Due: prettier --write

chore(storybook): streamline storybook setup (#3539)
  .storybook/main.ts
  .storybook/webpack.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input): skip unstable input test (#3542)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3548)
  package-lock.json
Due: prettier --write

docs(input-time-picker): specify step property is seconds (#3538)
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): range slider maxValue label no longer overlaps with preceding labels (#3439)
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): ensure props/attrs are initialized consistently (#3550)
  src/components/calcite-color-picker/calcite-color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3554)
  package-lock.json
  src/components/calcite-input-time-picker/readme.md
Due: prettier --write

fix(slider): focus respective thumb when click on track for range slider (#3356)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tile-select): fixes focus and blur styling for radio buttons (#3516)
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): fix inconsistent value stepping (#3568)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.70
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

test(radio-button): adding front-to-back round robin test with keyboard navigation (#3573)
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3575)
  package-lock.json
Due: prettier --write

refactor(input): simplify code for value nudging (#3569)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(alert): remove clearTimeOut that delays the alert to close on autoDismiss mode #3366 (#3525)
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(shell-panel): Add resizable property to allow resizing of content. #2770 (#3535)
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3583)
  package-lock.json
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

fix(input): style read-only and disabled inputs per new design reqs and hide spinners for read-only inputs (#3582)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(input): skip missed unstable input test (#3599)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(split-button): Add overlayPositioning property to position dropdown. #3132 (#3595)
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-split-button/calcite-split-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons (#3584)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#3606)
  src/components/calcite-split-button/readme.md
Due: prettier --write

fix(shell-panel): click events correctly pass through the host element (#3607)
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

stop calciteDropdownClose event from firing twice when closing the dropdown (#3612)
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): dont close prs and give more time to provide missing info (#3618)
  .github/need-info.yml
  .github/workflows/need-info-close.yml
  .github/workflows/stale.yml
Due: prettier --write

fix(panel): add conditional rendering for slots with fab and no fab (#3616)
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(alert): add html helper for automated prettier (#3617)
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell-panel): Correct resizing of panels in RTL direction. #2770 (#3614)
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): modal now doesn’t shrink when close button disabled (#3619)
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: fix prepublish script by rolling back chalk dependency (#3621)
  package-lock.json
  package.json
Due: prettier --write

ci(action): bump semantic pr version to fix merge commit bug (#3623)
  .github/workflows/pr-semantic.yml
Due: prettier --write

chore(ci): prepush hook checks if branch is squash mergeable (#3620)
  .husky/pre-push
  package.json
  support/checkSquashMergeableBranch.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3631)
  package-lock.json
Due: prettier --write

chore: fix squash-mergeable pattern check for single-commit branches (#3633)
  support/checkSquashMergeableBranch.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: Use getElementStyleDir where applicable. #2079 (#3622)
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/functional/CalciteExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-group): fix issue caused by radio group emitting change events from internal/programmatic changes (#3632)
  src/components/calcite-radio-group-item/calcite-radio-group-item.e2e.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(select): ensure selecting item programmatically is reflected in selectedOption (#3634)
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
