Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(date-picker): no longer hides year for zh-CN locale (#5344)
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): add missing breaking changes (#5469)
  CHANGELOG.md
Due: prettier --write

feat(stepper, stepper-item): add numberingSystem property (#5467)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.stories.ts
  src/components/stepper/stepper.tsx
  src/demos/stepper.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow-item): fix scrollContentTo (#5487)
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(next): fix next releases take 3 (#5497)
  .github/workflows/deploy-next.yml
Due: prettier --write

fix(flow-item, panel): fix layout issue that would cause double scrollbars (#5486)
  src/components/flow-item/flow-item.stories.ts
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.598
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(tree, tree-item): works when tree is the topmost element in a shadow root where it has no parent (#5472)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix next releases take 4 (#5500)
  .github/workflows/deploy-next.yml
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow-item): Render back button first. (#5511)
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tab): applies section styles onto the enclosing parent (#5516)
  src/components/tab/tab.scss
  src/components/tab/tab.tsx
  src/components/tabs/tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: remove unused import (#5517)
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button, fab): bumping the scale of icon to M when the parent Button / FAB is scale L (#5521)
  src/components/button/button.tsx
  src/demos/fab.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tree): drop the optional chaining operator ? from tree within the event handler (#5523)
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite icons (#5525)
  package-lock.json
  package.json
Due: prettier --write

refactor(storybook): fix type errors (#5482)
  .storybook/preview.ts
  .storybook/utils.tsx
  src/components/card/card.stories.ts
  src/components/flow-item/flow-item.stories.ts
  src/components/graph/graph.stories.ts
  src/components/progress/progress.stories.ts
  src/components/shell/shell.stories.ts
  src/components/slider/slider.stories.ts
  src/tests/utils.ts
  stencil.storybook.config.ts
  tsconfig-eslint.json
  tsconfig-storybook.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(conventions): update style guide (#5530)
  conventions/Documentation.md
Due: prettier --write

fix(slider): fix slider (single-value) error when clicking range (#5533)
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): reenable screener on pushes to master to update baseline (#5528)
  .github/workflows/pr-screener.yml
Due: prettier --write

fix: components should only react to primary button pointer events. (#5519)
  src/components/action-menu/action-menu.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
  src/components/popover/PopoverManager.ts
  src/components/shell-panel/shell-panel.tsx
  src/components/slider/slider.tsx
  src/components/tooltip/TooltipManager.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(date-picker, input-date-picker): add numberingSystem property (#5488)
  src/components/date-picker-day/date-picker-day.e2e.ts
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
  src/utils/date.spec.ts
  src/utils/date.ts
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: consistent api styling + define card thumbnailPosition (#5518)
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/checkbox/checkbox.scss
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker-swatch/color-picker-swatch.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox-item-group/combobox-item-group.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.tsx
  src/components/tip/tip.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(value-list-item): Change drag handle color. (#5543)
  src/components/handle/handle.scss
  src/components/value-list-item/value-list-item.scss
Due: prettier --write, stylelint --fix

fix: add custom logic for floating-ui positioning across shadow DOM in non-Chromium browsers (#5542)
  package-lock.json
  package.json
  src/utils/config.ts
  src/utils/floating-ui.ts
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: fix jarring positioning when a closed component is first opened (#5484)
  src/assets/styles/_floating-ui.scss
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(calcite-loader, calcite-input-message): drop active in favor of hidden (#5537)
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(flow-item): Add calciteFlowItemScroll event (#5547)
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: adds w3c url for a11y issue filing (#5556)
  .github/need-info.yml
Due: prettier --write

fix(date-picker): display correct date format order in header for zh-CN locale. (#5534)
  src/components/date-picker-month-header/date-picker-month-header.scss
Due: prettier --write, stylelint --fix

fix(stepper-item): make sure numberingSystem is rendered on load (#5640)
  src/components/stepper-item/stepper-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): dragging range fires input event (#5641)
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip): Prevent opening when closeOnClick is true and referenceElement is clicked quickly (#5643)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(types): fix type issue caused by unintentionally moving @floating-ui/dom as a dev dependency (#5649)
  package-lock.json
  package.json
Due: prettier --write

fix(action-menu): fix keydown support (#5642)
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tabs): bordered and layout center combination works (#5647)
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.96
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(input-message,loader): reverts breaking change (#5656)
  CHANGELOG.md
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(date-picker): cached formatter does not conflict with our numberingSystem components (#5645)
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.97
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write
