Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(chip)!: Rename event (#6023)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/chip/readme.md
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/demos/chip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox)!: remove `event.detail` payload from events (#6029)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(alert)!: rename properties. (#6022)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/readme.md
  src/demos/alert.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(combobox)!: rename event (#6025)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(shared-list): skip unstable tests (#6034)
  src/components/pick-list/shared-list-tests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(date-picker)!: remove deprecated start and end properties (#6012)
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/usage/Range.md
  src/demos/date-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-date-picker)!: Remove deprecated calciteDatePickerChange event (#6040)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(popover, dropdown, modal, pick-list-item, value-list-item)!: rename `disable*` properties (#6036)
  src/components/action-menu/action-menu.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/input-time-picker/input-time-picker.tsx
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/readme.md
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list-item/readme.md
  src/components/pick-list/shared-list-logic.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/readme.md
  src/components/value-list-item/value-list-item.e2e.ts
  src/components/value-list-item/value-list-item.tsx
  src/demos/color-picker.html
  src/demos/modal.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/theme/auto.html
  src/utils/floating-ui.ts
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(action,action-bar,action-group,action-pad,alert,block-section,block,button): remove deprecated `intl*` properties (#5982)
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.e2e.ts
  src/components/action/action.tsx
  src/components/action/assets/action/t9n/messages_en.json
  src/components/action/resources.ts
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/button/button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(chip,card,combobox,date-picker,flow,flow-item,filter, input-date-picker): remove deprecated `intl*` & accessible label properties (#6041)
  src/components/card/card.tsx
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6052)
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-month-header/readme.md
  src/components/date-picker/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/time-picker/readme.md
  src/components/tip/readme.md
  src/components/value-list/readme.md
Due: prettier --write

refactor(scrim,rating,time-picker,input-time-picker,value-list)!: removed deprecated `intl*`properties (#6053)
  src/components/input-time-picker/input-time-picker.tsx
  src/components/rating/rating.stories.ts
  src/components/rating/rating.tsx
  src/components/scrim/scrim.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(inline-editable,input,input-text,input-number)!: remove deprecated `intl*` properties (#6049)
  src/components/filter/filter.tsx
  src/components/inline-editable/inline-editable.stories.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input-text/resources.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/input/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(rating)!: remove `event.detail` payload from events (#6045)
  src/components/rating/rating.e2e.ts
  src/components/rating/rating.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dropdown)!: remove `event.detail` payload from events (#6044)
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(pagination)!: remove `event.detail` payload from events (#6047)
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): fix breaking change indent levels (#6057)
  CHANGELOG.md
Due: prettier --write

refactor(tree)!: remove `event.detail` payload from events (#6051)
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tab-nav, tab-title)!: remove `event.detail` payload from events (#6046)
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal)!: Renamed property and updated values (#6054)
  src/components/interfaces.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(alert, notice)!: Renamed properties and updated values (#6042)
  src/05-custom-theme.stories.mdx
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/interfaces.ts
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.scss
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/components/notice/usage/Basic.md
  src/components/resources.ts
  src/demos/alert.html
  src/demos/notice.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(date-picker-month, date-picker-month-header)!: Remove events. (#6060)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-group)!: remove `event.detail` payload from events (#6048)
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(chip,combobox-item)!: remove deprecated event payload. (#6028)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal,notice,pagination,panel,pick-list-item,popover)!: removed deprecated `intl*` & accessible label properties (#6050)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(notice)!: remove deprecated properties (#6004)
  src/components/flow-item/flow-item.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.tsx
  src/components/notice/readme.md
  src/components/stepper/stepper.stories.ts
  src/demos/notice.html
  src/demos/stepper.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor!: enabled delegatesFocus (#6056)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/pagination/pagination.tsx
  src/components/radio-button-group/radio-button-group.tsx
  src/components/slider/slider.tsx
  src/components/split-button/split-button.tsx
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(chip)!: Renamed property and updated values (#6058)
  conventions/Accessibility.md
  src/05-custom-theme.stories.mdx
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/interfaces.ts
  src/components/chip/resources.ts
  src/components/chip/usage/Basic.md
  src/demos/chip.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat: add iconFlipRtl prop to all components with a convenience icon prop #5496 (#5878)
  src/components/accordion-item/accordion-item.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.tsx
  src/components/fab/fab.tsx
  src/components/input-message/input-message.tsx
  src/components/notice/notice.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tile/tile.tsx
  src/components/value-list-item/value-list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(switch): Remove deprecated event detail doc (#6064)
  src/components/switch/switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): Clean up action appearance references (#6067)
  src/components/action/usage/Transparent-appearance.md
  src/components/interfaces.ts
  src/demos/action.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: Update interface references (#6068)
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/interfaces.ts
  src/components/radio-group/radio-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: Clean outdated properties (#6073)
  conventions/README.md
  conventions/Styling.md
  src/05-custom-theme.stories.mdx
  src/components/list/list.stories.ts
  src/components/modal/usage/Basic.md
  src/demos/list.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(rating): 5312 improve user interface (#5948)
  src/components/rating/function/star.tsx
  src/components/rating/interfaces.ts
  src/components/rating/rating.e2e.ts
  src/components/rating/rating.scss
  src/components/rating/rating.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): Fix error when typing a custom value (#6071)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-date-picker)!: Removed deprecated start, startAsDate, end, endAsDate properties (#6076)
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(shell): Add slots for Modal and Alert (#5983)
  src/components/alert/alert.scss
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/basic-slotted-elements.html
  src/index.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
