Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#6290)
  package-lock.json
Due: prettier --write

docs(changelog): organize and indent breaking changes (#6302)
  CHANGELOG.md
Due: prettier --write

docs: update component READMEs (#6288)
  src/components/modal/readme.md
  src/components/tip/readme.md
Due: prettier --write

fix(date-picker): range value property updates correctly (#6289)
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): end-range is now rounded and has the correct box-shadow (#6216)
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: bump calcite-colors to latest (#6318)
  package-lock.json
  package.json
Due: prettier --write

test(date): add test for dateToISO utility function (#6308)
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.spec.ts
  src/utils/date.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: context to name prop for form submission (#6316)
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(pagination)!: rename properties. (#6286)
  src/05-custom-theme.stories.mdx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
  src/components/pagination/usage/Basic.md
  src/demos/pagination.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox-item): adds selector indicator for item's with icon. (#6282)
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox-item/resources.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): format and organize breaking changes (#6326)
  CHANGELOG.md
Due: prettier --write

docs(conventions): add entry for listener options (#6324)
  conventions/README.md
Due: prettier --write

fix(date-picker): display correct day for first day of month in `ar` locale (#6309)
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tree-item): support actions-end and icon-start (#6005)
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tree): expanded item renders correctly on initial load (#6320)
  conventions/README.md
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6325)
  src/components/combobox/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
  src/components/pagination/readme.md
  src/components/radio-button/readme.md
  src/components/rating/readme.md
  src/components/segmented-control/readme.md
  src/components/select/readme.md
  src/components/slider/readme.md
  src/components/switch/readme.md
Due: prettier --write

fix(input, input-number): correctly handle '-' and '.' values when sanitizing number (#6306)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(select): bumping scale of chevron icon to M when host is scale l (#6335)
  src/components/select/select.stories.ts
  src/components/select/select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add npm script to remove js files compiled by tsc (#6333)
  package.json
Due: prettier --write

ci: prepare release scripts for v1 (#6336)
  .versionrc.json
  package-lock.json
  package.json
  support/.eslintrc.json
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pagination): bumping scale of chevron icon to M when host is scale L (#6338)
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update license year (#6339)
  LICENSE.md
  readme.md
Due: prettier --write

docs: update component READMEs (#6337)
  src/components/tree-item/readme.md
Due: prettier --write

1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

ci: fix release script sanity check error (#6351)
  package.json
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(progress): update value prop for determinate types (#6346)
  src/components/progress/progress.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): fix heading padding for m and l scales (#6341)
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(split-button): no longer displays divider for transparent with inverse kind (#6350)
  src/components/split-button/split-button.scss
  src/components/split-button/split-button.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input-date-picker): input renders numbers in the specified numbering system (#6360)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(contributing): mention windows environment considerations (#6354)
  CONTRIBUTING.md
Due: prettier --write

ci(linting): improve results readability and add markdownlint (#6355)
  .lintstagedrc.json
  CONTRIBUTING.md
  LICENSE.md
  conventions/Accessibility.md
  conventions/Accessibility/AccessibilityDeveloper.md
  conventions/Accessibility/AccessibilityRoles.md
  conventions/Internationalization.md
  conventions/README.md
  conventions/Styling.md
  package-lock.json
  package.json
  readme.md
  src/assets/styles/readme.md
  src/components/link/readme.md
  src/components/shell/readme.md
Due: prettier --write

fix(alert): ensure `border-radius` is consistent for prescribed `slots` (#6368)
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(accordion): supports selection mode updates (#6356)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree): prevent lines from expanded item from bleeding out of container (#6372)
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tabs): fix error when tabs is resized before initial render (#6342)
  src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: update esri team names (#6377)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

fix(stepper-item): no longer refer numberingSystem from neighbor stepper component (#6380)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: allow multiple product team labels (#6411)
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

ci(release): lint readme and changelog before committing (#6406)
  .versionrc.json
Due: prettier --write

docs(input-number, input-text): remove unsupported boolean type from type prop doc (#6394)
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
