Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

docs: update component READMEs (#3942)
  src/components/calcite-link/readme.md
Due: prettier --write

ci(screener): ignore overview stories (#3951)
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

fix(action, action-group): alignment center when enclosed within group (grid layout, text-enabled vs no text) (#3929)
  src/components/calcite-action-group/calcite-action-group.stories.ts
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): the visible input value stays in sync with the stored value when it is controlled programmatically (#3915)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree): change tab index when tabbing in/out for first element (#3914)
  src/components/calcite-tree/calcite-tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): return the matching locale code to prop locale (#3941)
  src/components/calcite-date-picker/utils.spec.ts
  src/components/calcite-date-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card, combobox-item): rerender components with conditional slots when slotting elements after initialization (#3959)
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.e2e.ts
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/tests/commonTests.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.75
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(accordion): no longer has white background when set to transparent (#3954)
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/calcite-accordion.scss
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-accordion/calcite-accordion.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(panel, shell, tree-item): Add keys to conditionally rendered slots. (#3962)
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(panel): Add method to scroll content. #3924 (#3960)
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/calcite-panel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): updating to Chrome 97 (#3940)
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

docs: update component READMEs (#3972)
  src/components/calcite-panel/readme.md
Due: prettier --write

ci(screener): enlarging screen resolution (#3977)
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

refactor(input): fix all types that are any (#3981)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: Update relevant components to handle slotting after init (#3889)
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/utils/dom.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(slider): remove drag event listeners on component disconnected (#3969)
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3985)
  package-lock.json
Due: prettier --write

test(input): when both 'ArrowUp' and 'ArrowDown' are pressed at the same time most recently pressed key takes over (#3989)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): restoring pre-Sauce integration settings (#3994)
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

docs(template): provide context for the repro samples (#3970)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/need-info.yml
Due: prettier --write

chore: pin node 16 and npm 8 for volta (#3964)
  package.json
Due: prettier --write

docs(readme): remove sketch info until it is up to date (#3996)
  readme.md
Due: prettier --write

fix(date-picker): update utils locale to get the lang code if regional code is not found (#3968)
  src/components/calcite-date-picker/utils.spec.ts
  src/components/calcite-date-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: allow primary and secondary contacts to merge on all prs (#3999)
  .github/workflows/pr-merge.yml
Due: prettier --write

fix(date-picker, input-date-picker): update pt-BR and pt-PT localization files (#3980)
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/pt-BR.json
Due: prettier --write

feat(tree): multi-selection no longer requires holding shift key (#3733)
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(dropdown): correct logical errors in the test (#3998)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(time-picker): match rtl order with ltr (#3993)
  src/components/calcite-time-picker/calcite-time-picker.e2e.ts
  src/components/calcite-time-picker/calcite-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): fix and run update deps action (#3992)
  .github/dependabot.yml
  .github/workflows/update-deps.yml
  package-lock.json
  package.json
Due: prettier --write

docs(tooltip): use the correct component name (#4017)
  src/components/calcite-tooltip/calcite-tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): fix stacking icon on very narrow combobox (#3891) (#3983)
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(demos): change var to const (#4016)
  src/demos/calcite-date-picker.html
  src/demos/calcite-graph.html
  src/demos/calcite-loader.html
  src/demos/calcite-switch.html
  src/demos/calcite-tree.html
  src/demos/form.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced.html
  src/demos/theme/auto.html
Due: prettier --write

feat(label): deprecate status prop (#3984)
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-input-message/readme.md
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/readme.md
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-label/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): correct negative values in ar and et locales (#4020)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(Action): updates font-family declaration.
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

fix(switch): provide a selected color to track element (#3987) (#3991)
  src/components/calcite-switch/calcite-switch.scss
Due: prettier --write, stylelint --fix

build: update browserslist db (#4027)
  package-lock.json
Due: prettier --write

docs: update component READMEs (#4031)
  src/components/calcite-input-message/readme.md
  src/components/calcite-input/readme.md
  src/components/calcite-label/readme.md
  src/components/calcite-tooltip/readme.md
Due: prettier --write

1.0.0-beta.76
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write
