Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(checkbox): hide check icon from screen readers (#5211)
  src/components/checkbox/checkbox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(eslint): add no-eval, no-implied-evail, and no-new-func rules (#5300)
  .eslintrc.json
Due: prettier --write

feat(input, input-number, input-text): improve keyboard navigation by preventing the clear button from being focusable (#5219)
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/pick-list/shared-list-tests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: replace pify with promisify from node standard library (#5302)
  package-lock.json
  package.json
  support/checkSquashMergeableBranch.ts
  support/deployNextFromCI.ts
  support/isNextDeployable.ts
  support/prepReleaseCommit.ts
  support/releaseToGitHub.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): Stabilize tests. (#5311)
  src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-date-picker): Fix test to specific date. (#5313)
  src/components/input-date-picker/input-date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(prepReleaseCommit): throw error when target release version not determined (#5315)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(flow-item): Add back button tooltip. (#5256)
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5317)
  src/components/action/readme.md
  src/components/input-time-picker/readme.md
  src/components/pagination/readme.md
Due: prettier --write

chore(flow): rename storybook knob tabs to Flow Items (#5322)
  src/components/flow/flow.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input, input-number): hide non-interactive number up/down buttons from assistive technologies (#5324)
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.94
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#5327)
  src/components/flow-item/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

fix(panel): Do not close non closable panel on ESC key (#5330)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tooltip): Use pointer events in favor of mouse events (#5320)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/demos/tooltip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(animation): support reduced motion preference for animations (#5314)
  src/assets/styles/_animation.scss
  src/components/block/block.scss
  src/components/button/button.scss
  src/components/loader/loader.scss
  src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

refactor(avatar): rename state var to drop comment (#5296)
  src/components/avatar/avatar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: use global lang attribute to determine locale, deprecates `locale` prop (#5216)
  src/components/action/action.stories.ts
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/flow/flow.e2e.ts
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/readme.md
  src/components/input-date-picker/usage/Basic.md
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.stories.ts
  src/components/input-number/input-number.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.stories.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/time-picker/time-picker.tsx
  src/demos/date-picker.html
  src/demos/input-number.html
  src/demos/input-time-picker.html
  src/demos/input.html
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card): prevent header from overlapping with checkbox (#5325)
  src/components/card/card.scss
  src/components/card/card.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action-bar, combobox, dropdown, filter, input-date-picker, popover, tooltip): make methods using debounce/throttle private to prevent lodash type errors (#5335)
  src/components/action-bar/action-bar.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5337)
  src/components/date-picker-month-header/readme.md
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
Due: prettier --write

fix(progress): text now responds to light/dark theme mode change (#5336)
  src/components/progress/progress.scss
  src/components/progress/progress.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(conventions): add layering entry (#5066)
  conventions/README.md
Due: prettier --write

feat(panel): Add `calcitePanelClose` event and deprecate `calcitePanelDismiss` event (#5341)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(flow-item): Add `calciteFlowItemClose` event (#5342)
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5347)
  src/components/flow-item/readme.md
  src/components/panel/readme.md
Due: prettier --write

feat(flow-item): Add `calciteFlowItemBack` event and deprecate `calciteFlowItemBackClick` event (#5343)
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: check generated types before publishing (#5062)
  package.json
Due: prettier --write

ci(next): stop checking if changes pushed before publishing to npm (#5346)
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update color-picker JSDoc link (#5362)
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: specify esri product team when logging issues (#5364)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

1.0.0-next.591
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs(storybook): add storybook guidelines to doc conventions (#5279)
  conventions/Documentation.md
Due: prettier --write

chore: build prior to stencil test to fix missing types error (#5323)
  package.json
Due: prettier --write

ci(next releases): check types before pushing tags (#5367)
  package.json
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5366)
  src/components/color-picker/readme.md
  src/components/flow-item/readme.md
Due: prettier --write

test(action-bar, input-number, input-text, modal, radio-button): skip unstable (#5376)
  src/components/action-bar/action-bar.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons (#5373)
  package-lock.json
  package.json
Due: prettier --write

fix(date-picker-month-header): adds RTL equivalent CSS (#5365)
  src/components/date-picker-month-header/date-picker-month-header.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
