Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

fix(action): update component tokens to support transparent (#8532)
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

docs(monorepo): clarify which PR to edit when modifying changelog entry (#8573)
  documentation/monorepo.md
Due: prettier --write, markdownlint --fix

feat(checkbox, combobox, input-date-picker, input-time-picker, segmented-control, select): add required property (#8517)
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): Add "filter-no-results" slot to display content when no filtered items are shown (#8569)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): emit color change when nudging color channels by using the shift key (#8579)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(handle, block, list-item): improve drag handle tooltip to include item label (#8584)
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_en.json
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tile): add visual scales (#8496)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
  packages/calcite-components/src/index.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input-message): add missing margin to scale="s", spacing CSS variable has effect (#8592)
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-message/input-message.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action-menu): clicking an action menu item should call click event. (#8627)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Do not focus on item cells on focusIn (#8665)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(chip): Prevent rendering internal icon if not necessary. (#8663)
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main (#8650)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix

build(storybook): lint component readmes after building docs (#8689)
  packages/calcite-components/package.json
Due: prettier --write

ci(renovate): remove rate limiting on esri and stencil deps (#8693)
  .renovaterc.json
Due: prettier --write

chore(deps): drop unused `form-request-submit-polyfill` (#8701)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write
