Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(panel): Fix heading border when only text content is slotted (#7491)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(deploy-latest): hardcode node version to prevent errors (#7506)
  .github/workflows/deploy-latest.yml
Due: prettier --write

chore(dom): Add additional dom utilities for slot changes (#7497)
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): update usage file with correct prop (#7504)
  packages/calcite-components/src/components/modal/usage/Open.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(storybook): add list dragEnabled knob and modify stories (#7508)
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(scrim): render text content inside scrim (#7509)
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.stories.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): defaults the status icon to `scale=s` (#7503)
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): prevents navigation list with Space key (#7505)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-time-zone): unskip test (#7456)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(progress): completes animation for `dir='rtl'` (#7511)
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/progress/progress.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(tooltip): unskip tests (#7427)
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree): selects all child items when selection-mode is set to ancestors (#7518)
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: prevent vitetest/ssr errors due to defining components on the server (#7521)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button,card,fab,inline-editable): provides context to AT users when loading (#7257)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#7514)
  package-lock.json
Due: prettier --write

fix(slider): rerender ticks when prop is modified (#7439)
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main (#7485)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

test: skip unstable tests (#7524)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(shell-panel): Remove usage of getSlotted utility. #6059 (#7465)
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(action-bar, action-pad, action-group): Remove usage of getSlotted utility (#7464)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): restore "bottom-actions" slot functionality. (#7535)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add `directory` to package.json `repository` property (#7510)
  packages/calcite-components/package.json
Due: prettier --write

ci(pr-bot): add write permissions for pull requests (#7517)
  .github/actions/assignPullRequestAuthor.js
  .github/actions/labelPullRequestWithCommitType.js
  .github/workflows/pr-bot.yml
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
