Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

build(deps): bump versions (#4610)
  package-lock.json
  package.json
Due: prettier --write

ci: remove PR merge action (#4612)
  .github/workflows/pr-merge.yml
Due: prettier --write

fix(dropdown-item, dropdown-group): text align to "start" by default. (#4615)
  src/components/dropdown-group/dropdown-group.scss
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown-item): Only prevent default event for specific keys. (#4625)
  src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): consistent api refs (#4630)
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4660)
  package-lock.json
  package.json
Due: prettier --write

build: update browserslist db (#4659)
  package-lock.json
Due: prettier --write

docs: update component READMEs (#4658)
  src/components/modal/readme.md
Due: prettier --write

docs(notice): consistent api refs (#4661)
  src/components/modal/modal.tsx
  src/components/notice/notice.scss
  src/components/notice/notice.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix: Ensure components are using logical css properties for margin and padding. (#4663)
  src/components/action/action.scss
  src/components/chip/chip.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/filter/filter.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/label/label.scss
  src/components/list-item-group/list-item-group.scss
  src/components/list-item/list-item.scss
  src/components/pagination/pagination.scss
  src/components/tab-title/tab-title.scss
  src/components/tile-select-group/tile-select-group.scss
Due: prettier --write, stylelint --fix

feat(input): allow customizing numbering system (#4195)
  src/components/input/input.stories.ts
  src/components/input/input.tsx
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4666)
  src/components/modal/readme.md
  src/components/notice/readme.md
Due: prettier --write

chore: Cleanup unused import in test. (#4669)
  src/components/tooltip-manager/tooltip-manager.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-menu): Hide tooltip when open. (#4609) (#4668)
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
  src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): Remove unused 'firstFocus' property. (#4613) (#4671)
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow): Only slotted panels should be managed. (#4667) (#4670)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(popover, tooltip): Support virtual elements for positioning. (#4665)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.tsx
  src/components/popover/usage/Basic.md
  src/components/popover/usage/Manager.md
  src/components/popover/usage/Virtual.md
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/usage/Virtual.md
  src/utils/popper.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(storybook): pin cheerio to pre-CJS/ESM version (#4677)
  package-lock.json
  package.json
Due: prettier --write

fix(popover): height is no longer inconsistent when dismissable enabled (#4627)
  package-lock.json
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tooltip): Add property to close tooltip when referenceElement is clicked (#4680)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(internal): globalAttributes util usage (#4657)
  conventions/README.md
Due: prettier --write

feat(dropdown): Set dropdown minimum width to width of the trigger (#4635)
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(card): horizontal thumbnail layout (#4607)
  .storybook/resources.ts
  src/components/card/card.scss
  src/components/card/card.stories.ts
  src/components/card/card.tsx
  src/components/card/resources.ts
  src/components/interfaces.ts
  src/demos/card.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4687)
  package-lock.json
Due: prettier --write

fix(panel): Add back z-index usage for internal component styles (#4683)
  src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(tooltip): Remove internal flex display. (#4631) (#4684)
  src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix

ci: add action to move issues to current milestone (#4692)
  .github/workflows/change-milestone.yml
Due: prettier --write

docs(tooltip): style guide api consistency (#4690)
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.83
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(input): support larger than 64-bit floating point numbers without losing precision (#4679)
  conventions/README.md
  src/components/input/input.e2e.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
  tsconfig-base.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix dependency conflict (#4703)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

ci: fix additional dep conflicts (#4704)
  .github/workflows/deploy-next.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/update-deps.yml
Due: prettier --write

fix(tooltip): Fix syntax typo in `TooltipManager` (#4711)
  src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: stop auto closing bug reports with missing repro samples (#4720)
  .github/need-info.yml
  .github/workflows/need-info-close.yml
Due: prettier --write

refactor(combobox-item): enable filter-disabled prop support (#4709)
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/demos/combobox.html
  src/utils/filter.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tooltip, popover): Add tests for virtual reference elements (#4727)
  src/components/popover/popover.e2e.ts
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label)!: expose bottom margin value and remove the disable-spacing property (#4694)
  src/components/label/label.scss
  src/components/label/label.tsx
  src/demos/input.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action): Add css variable to override indicator color (#4717)
  src/components/action/action.scss
Due: prettier --write, stylelint --fix

feat(tabs,tab-nav,tab-title): add top,bottom values for position prop (#4729)
  src/components/tab-nav/tab-nav.scss
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tabs/interfaces.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.scss
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
