Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

fix: fix inheritance of default focus-color value (#6859)
  calcite-preset.ts
  src/assets/styles/global.scss
Due: prettier --write, stylelint --fix

fix(chip): Ensure Chip displays without Chip Group label in Custom Element (#6858)
  src/components/chip/chip.tsx
  src/demos/chip.html
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(deps): move `composed-offset-position` to dependencies (#6895)
  package-lock.json
  package.json
Due: prettier --write

feat(list): adds `calciteListChange` event to get `selectedItems`. (#6894)
  src/components/list/list.e2e.ts
  src/components/list/list.tsx
  src/components/list/resources.ts
Due: none

build(deps): Bump floating-ui from 1.2.1 to 1.2.7 (#6900)
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump volta's pinned node version (#6902)
  package.json
Due: prettier --write

feat(color-picker): add support for alpha channel (deprecates `hideChannels`, `hideHex`, `hideSaved`) (#2841)
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.scss
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker-hex-input/resources.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker-swatch/color-picker-swatch.stories.ts
  src/components/color-picker-swatch/color-picker-swatch.tsx
  src/components/color-picker-swatch/resources.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/color-picker/resources.ts
  src/components/color-picker/utils.spec.ts
  src/components/color-picker/utils.ts
  src/demos/color-picker.html
Due: prettier --write, stylelint --fix

feat(panel, flow-item): Add CSS custom property to define footer padding and deprecate "footer-actions" slot. (#6906)
  src/components/flow-item/flow-item.scss
  src/components/flow-item/flow-item.stories.ts
  src/components/flow-item/flow-item.tsx
  src/components/flow/readme.md
  src/components/flow/usage/Menu-actions-and-footer-actions.md
  src/components/panel/panel.scss
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/shell/shell.stories.ts
  src/demos/flow.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
Due: prettier --write, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

test(list): skip unstable filter test (#6909)
  src/components/list/list.e2e.ts
Due: none

test(list): skip unstable test (#6911)
  src/components/list/list.e2e.ts
Due: none

fix(action-bar): Set background color on action-bar (#6917)
  src/components/action-bar/action-bar.scss
  src/components/panel/panel.stories.ts
Due: prettier --write, stylelint --fix

fix(panel): Remove min-block-size from footer (#6907)
  src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

ci: add ArcGIS Knowledge team label (#6920)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

build(deps): bump calcite-icons to v3.22.2 (#6914)
  package-lock.json
  package.json
Due: prettier --write

fix(tooltip): close tooltip when pointer is moving (#6922)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Due: none

feat(avatar): add label prop for alternative text & aria-label (#6910)
  src/components/avatar/avatar.stories.ts
  src/components/avatar/avatar.tsx
  src/demos/avatar.html
Due: prettier --write
