Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

test(input-time-zone): restore skipped tests (#8093)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox-item): hide disabled item icon (#8095)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): fix Indian/Christmas time zone translation (#8096)
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Due: prettier --write

fix(input-number): prevent mutating value when pointerUp is emitted. (#8077)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: add @esri/calcite-components-angular package (#8084)
  .release-please-manifest.json
  package-lock.json
  package.json
  packages/calcite-components-angular/.eslintrc.json
  packages/calcite-components-angular/.gitignore
  packages/calcite-components-angular/README.md
  packages/calcite-components-angular/angular.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/LICENSE.md
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-angular/projects/component-library/src/lib/component-library.module.ts
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
  packages/calcite-components-angular/projects/component-library/tsconfig.lib.json
  packages/calcite-components-angular/support/patchEventDetailTypeImports.ts
  packages/calcite-components-angular/support/stencilDoubleBuildTypesWorkaround.sh
  packages/calcite-components-angular/tsconfig.json
  packages/calcite-components-angular/turbo.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  release-please-config.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci(renovate): run on weekdays and don't pin peerDeps (#8107)
  .renovaterc.json
Due: prettier --write

build: update browserslist db (#7667)
  package-lock.json
Due: prettier --write

chore: custom ESLint rule to disable sorting for `ref` attribute to keep it as last property in JSX to ensure it is up-to-date (#7669)
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci: update spike complete automation to try removing dev lifecycle label (#8136)
  .github/scripts/notifyWhenSpikeComplete.js
Due: none

fix(split-button): fix width layout (#8133)
  packages/calcite-components/src/components/split-button/resources.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: improve on enforce-ref-last-prop ESLint rule docs (#8129)
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: release next
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(angular): publish from the dist directory (#8151)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
Due: prettier --write

chore: drop form-request-submit-polyfill as Safari 16 supports it (#8155)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(responsive): use JS module to create breakpoints lookup object (#8051)
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(panel, flow-item): remove overflow rule (#8055)
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/flow-and-panel-action-menu-overflow.html
Due: prettier --write, stylelint --fix

ci(rc): cleanup npm scripts for deployment (#8162)
  package.json
Due: prettier --write

ci: additional changes to the next/rc deployment scripts (#8165)
  lerna.json
  package.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write

refactor(rating): rename functional component dir for consistency (#8164)
  packages/calcite-components/src/components/rating/functional/star.tsx
  packages/calcite-components/src/components/rating/rating.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(date-picker): make component responsive (#7872)
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(pagination): Introduce responsive design for xxsmall breakpoint (#8150)
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/src/components/pagination/assets/pagination/t9n/messages.json
  packages/calcite-components/src/components/pagination/assets/pagination/t9n/messages_en.json
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(angular): chage calcite-components to a dep from peerDep/devDep (#8167)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci: fix versioning script async issue that committed too early (#8175)
  package-lock.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write

build(angular): remove event detail types patch by exporting them from the entry point (#8177)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/patchEventDetailTypeImports.ts
  packages/calcite-components/package.json
  packages/calcite-components/src/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): Specify the element types in the `calciteListOrderChange` event detail. (#8123)
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(angular): rebuild before publishing to fix outdated version in dist (#8178)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
Due: prettier --write

ci(next): attempt to fix tests by copying steps in passing pr check (#8179)
  .github/workflows/deploy-next.yml
Due: prettier --write

ci: remove old, unused actions (#8180)
  .github/need-info.yml
  .github/scripts/changeMilestone.js
  .github/scripts/closeMilestone.js
  .github/scripts/createMilestone.js
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/notify-teams-release_calcite_components.yml
Due: prettier --write

fix(input-date-picker): fix date-picker wrapper displaying beyond its bounds (#8172)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(input, input-date-picker, input-number, input-text, input-time-picker): truncate value and placeholder when input is narrow (#8160)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(checkbox): make label property public (#8181)
  packages/calcite-components/src/components/checkbox/checkbox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

style: fix linting violations (#8189)
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components-react/README.md
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/src/configs/index.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
