Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

ci: log error details when Travis deployment fails (#3176)
  support/deployNextFromTravis.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(faq): explain changing themes and styles (#3177)
  FAQ.md
Due: prettier --write

docs(faq): cleanup small issues (#3180)
  FAQ.md
Due: prettier --write

refactor(filter): avoid stateful regexp used for filtering (#3178)
  src/utils/filter.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.283 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

ci: ensure usable tag range is available when prepping release commit (#3189)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(button): move the jsdoc comment (#3188)
  src/components/calcite-button/calcite-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tile-select): add calciteTileSelectChange event (#3187)
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/components/calcite-tile-select/calcite-tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.284 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs(label, value-list): fix jsdoc typos (#3194)
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(deps): fix lockfile changes (#3193)
  package-lock.json
  package.json
Due: prettier --write

chore(actions): use dependabot (#3199)
  .github/workflows/dependabot.yml
Due: prettier --write

test(radio-button-group): add wrapping label to radio-buttons to reflect usage (#3164)
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: fix failing dependabot (#3201)
  .github/dependabot.yml
Due: prettier --write

docs: replace storybook links with developer doc (#3202)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  readme.md
  src/index.html
Due: prettier --write

fix(dropdown): dropdown content no longer cut off when expanded inside tab (#3182)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.285 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

1.0.0-beta.67 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build(deps): bump versions (#3208)
  package-lock.json
  package.json
Due: prettier --write

chore(linting): disable unstable @stencil/eslint-plugin rules (#3216)
  .eslintrc.json
Due: prettier --write

feat(input): allow decimals by default and with integer steps (#3211)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.286 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

build: add license preamble for distributable code (#2537)
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(block): add loading status to block header (#3158)
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/calcite-block.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.287 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(combox-item): adjust height of the item to be consistent respective to its scale size (#3144) (#3197)
  src/components/calcite-combobox-item/calcite-combobox-item.scss
Due: prettier --write, stylelint --fix

refactor(filter): avoid stateful regexp used for filtering
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.288 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(dropdown): close on outside click when disable-close-on-select is true #3136 (#3227)
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): remove preventDefault and stopPropagation on click event (#3231)
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.289 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(combobox): add chevron icon at end of input regardless of selecti… (#3143)
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.290 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs(input-time-picker): value is always 24-hour format (#3245)
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input): Skip unstable test. #3257 (#3258)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action)!: deprecating outline appearance (#3263)
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(conventions): fixing grammar errors (#3261)
  conventions/README.md
Due: prettier --write

fix(action): fixing RTL display bugs by replacing getElementDir and RTL CSS classes with CSS logical properties (#3140)
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: Convert SASS division to multiplication where possible. #3249 (#3268)
  src/assets/styles/_popper.scss
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-tile-select/calcite-tile-select.scss
Due: prettier --write, stylelint --fix

refactor: change onLabelClick to be a class method (#3165)
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
