Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

build: update browserslist db (#7192)
  package-lock.json
Due: prettier --write

fix(combobox, dropdown, input-date-picker, input-time-picker, popover, tooltip): Prevent repositioning from affecting other floating components (#7178)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Due: none

build(t9n): generate json file containing t9n values (#7214)
  packages/calcite-components/package.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Due: prettier --write

fix(input, input-number): allows numeric characters. (#7213)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Due: none

ci(release-please): pin action version and allow manually running action (#7222)
  .github/workflows/deploy-latest.yml
Due: prettier --write

fix(tree-item): ensure expanded tree-item is displayed when expanded and made visible (#7216)
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, stylelint --fix

build: update browserslist db (#7267)
  package-lock.json
Due: prettier --write

test(input-number, input-time-picker): Skip unstable tests (#7269)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: none

test(input-time-picker): Skip another unstable test (#7271)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: none

refactor(flow-item): setFocus method should return setFocus calls to child components (#7256)
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Due: none

test(modal): skip unstable test (#7274)
  packages/calcite-components/src/components/modal/modal.e2e.ts
Due: none

fix(tab-title): add full focus outline to closable tab button in high contrast mode (#7272)
  packages/calcite-components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

fix(action): correctly focus the button after rendering updates. (#7255)
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/utils/loadable.ts
Due: none

fix(list): fix keyboard navigation after a listItem's disabled or closed property changes (#7275)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: none

feat(flow): Adds setFocus method (#7252)
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Due: none

fix(flow): Call setFocus() on back button click (#7285)
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Due: none
