Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

chore(tokens): resolve outdated token name usage
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/readme.md
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix

chore: release main (#8246)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix

ci(deploy-latest): use volta's pinned node version (#8323)
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci(deploy-latest): hardcode node v18 (#8324)
  .github/workflows/deploy-latest.yml
Due: prettier --write

build: update browserslist db (#8326)
  package-lock.json
Due: prettier --write

feat(dropdown-item): add disabled support (#8312)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(node): bump volta's pinned version to node v18.18.2 (#8328)
  package.json
Due: prettier --write

chore(demos): update outdated CSS variable names after token breaking changes (#8333)
  packages/calcite-components/src/demos/_assets/demos.css
  packages/calcite-components/src/demos/list.html
Due: prettier --write

fix(action-menu): Filter hidden or disabled actions via keyboard. (#8336)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(dropdown): update demo page to use selected vs active (removed) (#8322)
  packages/calcite-components/src/demos/dropdown.html
Due: prettier --write

fix(shell, shell-panel): support resizing shell panel when there is an iframe slotted in shell content (#8317)
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action-menu): fix closing action menu after a drag occurs (#8339)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-context tokens): only apply when `.calcite-mode-auto` is applied (#8344)
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
