Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

docs(accordion-item): update component description for vscode (#7611)
  packages/calcite-components/src/components/accordion-item/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs: add homepage to npm packages (#7628)
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

docs(shell): update sheets slot position (#7629)
  packages/calcite-components/src/components/shell/shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-time-picker): support fractional seconds (#7532)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/usage/Basic.md
  packages/calcite-components/src/components/input-time-picker/usage/Fractional-seconds.md
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages.json
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages_en.json
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/utils/math.spec.ts
  packages/calcite-components/src/utils/math.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(input-date-picker): normalize year to current century (#7622)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/util.spec.ts
  packages/calcite-components/src/components/input-date-picker/utils.ts
  packages/calcite-components/src/utils/date.spec.ts
  packages/calcite-components/src/utils/date.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(deps): update calcite-ui-icons to 3.24.1 (#7637)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(list): Stop emitting calciteListChange when a list-item is disabled or closed. (#7624)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): prevent deselecting items via keyboard in single-persist mode (#7634)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(table): Update usage (#7640)
  packages/calcite-components/src/components/table/usage/Basic.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix: make sure components are defined in environments like in codesandbox (#7632)
  packages/calcite-components-react/src/auto-define.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-date-picker): normalize year to current century for user typed values only (#7638)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(contributing): update the commit message format example URL (#7641)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

refactor(stepper, stepper-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7593)
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion, accordion-item): improve a11y (#7560)
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(table): Improve slot documentation (#7663)
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(sheet): Update shadow style in display-mode="float" (#7664)
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

fix(table): Allow wrapping text in table-header and table-cell (#7665)
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table/table.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(combobox): add open in all scales screenshot test (#7660)
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): prevent items from being deselected (#7661)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(flow): split up custom flow item interfaces (#7666)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/flow/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(time-picker): focus corresponding input when nudge buttons are clicked (#7650)
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input-date-picker): apply default numbering system to avoid browser inferring from locale (#7682)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(locale): add extra info to default numbering system export (#7683)
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Do not call preventDefault on enter key within slotted actions (#7684)
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): calciteModalClose should emit on close button click (#7680)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(sheet): calciteSheetClose should emit on scrim click (#7685)
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
