Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(changelog): remove date from unreleased header (#3313)
  CHANGELOG.md
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): ensure truncated text appears for longer strings when in fixed-width container (#3342)
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/demos/calcite-combobox.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.68
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

1.0.0-next.293
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs(modal): events emit after the animation not before (#3365)
  src/components/calcite-modal/calcite-modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): properly highlight min/max range on histogram #2914 (#3347)
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-graph/util.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(ci): try to fix screener github bug (#3385)
  .github/workflows/pr-screener.yml
Due: prettier --write

feat(input): add enterkeyhint property to specify mobile enter key type (#3384)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): run dependabot weekly (#3363)
  .github/dependabot.yml
Due: prettier --write

test: ensure for...of is used to await on loops (#3377)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove title from issue templates (#3393)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

refactor(slider, loader): remove sass deprecation warnings (#3320)
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-slider/calcite-slider.scss
Due: prettier --write, stylelint --fix

fix(panel, block): align panel header and block header x-spacing (#3330)
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

ci: use environment variable to set Screener API key (#3416)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci: run screener on base branch merges (#3417)
  .github/workflows/pr-screener.yml
Due: prettier --write

test(action): adding a default story so that it shows up in the deployed Storybook (#3415)
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(slider): add e2e test to verify maxValue capped to max prop (#3302)
  src/components/calcite-slider/calcite-slider.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(switch): ensure checked/switched are in sync if either is set initially (#3400)
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(label): remove unnecessary util (#3408)
  src/components/calcite-label/calcite-label.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: make updatePopper helper async (#3407)
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/utils/popper.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove irrelevant test code from from input demo page (#3409)
  src/demos/calcite-input.html
Due: prettier --write

build(ci): add commit sha to screener run (#3419)
  .github/workflows/pr-screener.yml
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

fix(loader): alter loader styling to prevent no padding prop from overlapping #2145 (#3370)
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-loader/calcite-loader.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(card): fix focusing behavior when clicking on a checkbox label (#3386)
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): adjust the heading styling to be word wrapped including long string texts #3215 (#3361)
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile/calcite-tile.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown-item): match padding for RTL vs LTR and links vs non-links, consistent focus and hover states for all (#3422)
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
Due: prettier --write, stylelint --fix

fix(input): number input controls now increment/decrement in a unifor… (#3340)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input): enterKeyHint prop naming convention (#3396)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(filter): Add value property to set a filter. (#3432)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.294
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(combobox): Do not open dropdown when clicking on chip dismiss button (#3433)
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label): avoid associating labels to nested labelable components (#3424)
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/utils/label.spec.ts
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): add inputmode property to specify mobile keyboard display (#3382)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: simplify demo page setup (#3411)
  src/demos/_assets/createAlert.ts
  src/demos/_assets/demoPageReloader.ts
  src/demos/_assets/head.ts
  src/demos/_assets/loadingButton.ts
  src/demos/_assets/locales.ts
  src/demos/_assets/validateInput.ts
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-button.html
  src/demos/calcite-card.html
  src/demos/calcite-input.html
  src/demos/calcite-label.html
  src/demos/calcite-link.html
  support/demoPageSync.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): remove unnecessary stylelint-scss as it is already bundled by stylelint-config-recommended-scss (#3410)
  package.json
Due: prettier --write

refactor(filter): apply filter when data changes (#3445)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): avoid input/change events from firing when initializing color/value (#3399)
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree-item): ensure items are visible when appended to expanded parent item (#3266)
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): add github action to auto merge branches when commenting in a PR (#3444)
  .github/workflows/pr-merge.yml
Due: prettier --write

feat(filter): add filter component (#3449)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
