Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

chore: add angular template link to issue templates (#8680)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

fix: don't override existing validationMessage when displaying after form submission (#8690)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/form.e2e.ts
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): avoid inline-start padding on combobox label when icon is displayed (#8672)
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: improve doc for createBreakpointStories helper (#8739)
  packages/calcite-components/.storybook/utils.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input): tidy up input spec test (#8733)
  packages/calcite-components/src/components/input/common/input.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: fix dragging items on a mobile device (#8751)
  package-lock.json
  package.json
  packages/calcite-components/package.json
  patches/sortablejs+1.15.1.patch
Due: prettier --write

feat(table): Improve accessibility of interaction-mode: static Table (#8754)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): update dependency @floating-ui/dom to v1.6.3 (#8759)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(stepper): no longer adds default `min-width` for items when `layout='horizontal'` (#8758)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: release main (#8706)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix

build(changelog): fix synced version group name (#8762)
  release-please-config.json
Due: prettier --write

fix: ensure ui-icons are copied from correct path (#8761)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/link/link.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): specify components group name (#8765)
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
Due: prettier --write, markdownlint --fix

style(stepper,stepper-item): lint code (#8760)
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
