Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

build(deps): bump @esri/eslint-plugin-calcite-components (#3863)
  package-lock.json
  package.json
Due: prettier --write

fix(tree-item): toggle behavior (#3865)
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(build): move commit from npm script to action (#3854)
  .github/workflows/update-deps.yml
  package.json
Due: prettier --write

fix(input): restrict typing more than two hyphens (#3870)
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3867)
  src/components/calcite-alert/readme.md
Due: prettier --write

feat(date-picker): add support for Bulgaria locale (#3873)
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/bg.json
  src/demos/calcite-input.html
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): exclude calcite action from keyDownHandler (#3857)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/demos/calcite-dropdown.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): ensure change event gets emitted on user interaction (#3833)
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-date-picker): add calciteInputDatePickerChange event (#3879)
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dom): Update getSlotted utility to handle querying for item(s) in default slot (#3788)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3884)
  src/components/calcite-input-date-picker/readme.md
Due: prettier --write

build: update browserslist db (#3885)
  package-lock.json
Due: prettier --write

fix(radio-button): show selection in high contrast (#3875) (#3886)
  src/components/calcite-radio-button/calcite-radio-button.scss
Due: prettier --write, stylelint --fix

1.0.0-beta.74
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(dropdown): dropdown wrapper no longer overflows inside a panel (#3378)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(graph): updated graph default width to be 100% (#3819)
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-graph/calcite-graph.scss
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test: fix dropdown test. (#3912)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: use the yaml issue template form format (#3893)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/tooling.md
  .github/ISSUE_TEMPLATE/tooling.yml
  .github/ISSUE_TEMPLATE/unstable-test.md
  .github/ISSUE_TEMPLATE/unstable-test.yml
Due: prettier --write

test(dropdown): Fix another tests HTML. :) (#3916)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3917)
  src/components/calcite-graph/readme.md
Due: prettier --write

feat(inline-editable): change internal events to public (#3872)
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): integrating SauceLabs account with Screener for finer-grained browser control (#3809)
  .github/workflows/pr-screener.yml
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

chore(template): remove value from enhancement field (#3921)
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: prettier --write

fix(input): number input no longer increments by itself indefinitely when up/down buttons are toggled fast or pressed at the same time; (#3908)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): remove obsolete check for valid new issues (#3913)
  .github/need-info.yml
Due: prettier --write

feat(combobox): Add 'intlRemoveTag' property to override the remove tag text. (#3920)
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): Properly set internal identifiers. #3754 (#3919)
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(alert): Emit calciteAlertClose/calciteAlertOpen after animation. #3760 (#3923)
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3927)
  src/components/calcite-inline-editable/readme.md
Due: prettier --write

fix: rerender components with conditional slots when slotting elements after initialization (#3871)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-menu/calcite-action-menu.e2e.ts
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-chip/calcite-chip.e2e.ts
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-list-item/calcite-list-item.e2e.ts
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/tests/commonTests.ts
  src/utils/conditionalSlot.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(dropdown): skip dropdown opens when dropdown-trigger is an action or a button (#3932)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input): skip unstable test for both 'ArrowUp' and 'ArrowDown' are pressed at the same time most recently pressed key takes over (#3933)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): drop unnecessary @storybook/cli (#3892)
  package-lock.json
  package.json
Due: prettier --write

feat(calcite-link): Add support for download attribute. #3758 (#3922)
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/demos/calcite-link.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3937)
  src/components/calcite-combobox/readme.md
Due: prettier --write

chore(action): install cached packages on all check runs (#3935)
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
Due: prettier --write

docs(readme): remove stencil webpack plugin (#3934)
  readme.md
Due: prettier --write

fix(slider): maxValue thumb positioned above minValue when overlapped… (#3813)
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: add utility to watch global attributes of a component. (#3596)
  src/tests/utils.ts
  src/utils/globalAttributes.spec.ts
  src/utils/globalAttributes.ts
  src/utils/observers.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3943)
  package-lock.json
Due: prettier --write
