Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

fix(action-bar): Improve overflowing horizontal actions. (#7877)
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(action-menu): Add appearance property to configure trigger appearance (#7867)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action-bar): overflow actions when overflowActionsDisabled is set to false (#7873)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): add newIndex and oldIndex event details to calciteListOrderChange event (#7874)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(node): bump npm version and pin node types to v18 (#7880)
  .renovaterc.json
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown-group): set selectionMode on slotted dropdown-item children (#7897)
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(alert): make component responsive (#7755)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tree): update tree selection per design spec (#7852)
  packages/calcite-components/src/components/tree-item/interfaces.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/components/tree/tree.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tree): fix tree keyboard selection issue (#7908)
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button): provides context for AT users when used as reference element for collapsible content (#7658)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/utils/globalAttributes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-menu): update active selection to not use the action's active property (#7911)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(table): Fix selection display in RTL (#7907)
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table/table.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(tab-nav): adds base message bundles (#7914)
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages.json
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages_en.json
  t9nmanifest.txt
Due: prettier --write

chore(stepper): add message bundles for responsive layout (#7918)
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
Due: prettier --write

ci: the current milestone ends after release day (#7922)
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Due: prettier --write

feat(input-date-picker, input-time-picker): add status property (#7915)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add npm script for restoring changes to component readmes (#7916)
  packages/calcite-components/package.json
Due: prettier --write

feat(input-time-zone): add time zone offset and name mode (#7913)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/usage/Basic.md
  packages/calcite-components/src/components/input-time-zone/usage/TimeZoneNames.md
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/demos/input-time-zone.html
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: release main (#7718)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build(deps): bump timezone-groups (#7933)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

chore(deps): update calcite-ui-icons to 3.24.7 (#7949)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(combobox): fix issue causing value to be cleared when selecting an item (Windows + trackpad) (#7954)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): fix handling of unknown and cityless time zones from offset display mode (#7947)
  packages/calcite-components/src/components/input-time-zone/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main (#7945)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(flow-item): update collapsed property when collapse button is clicked (#7960)
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: bump timezone-groups (#7962)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(table): Improve scrollbar display (#7967)
  packages/calcite-components/src/components/table/table.scss
Due: prettier --write, stylelint --fix

fix(input-time-zone): fix error caused by time zone group filtering (#7971)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
