Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

refactor(color-picker-hex-input)!: removed `intl*` properties (#6063)
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal)!: Renamed CSS variable (#6078)
  src/components/modal/modal.scss
Due: prettier --write, stylelint --fix

fix(icon, graphic, loader): Set aria-hidden on internal svg elements (#6069)
  conventions/Accessibility.md
  src/components/graph/graph.tsx
  src/components/icon/icon.tsx
  src/components/loader/loader.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tip,tip-manager): add built-in translations (#6074)
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/resources.ts
  src/components/tip/tip.e2e.ts
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal)!: Remove `backgroundColor` property and added a CSS variable (#6077)
  src/components/modal/interfaces.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(shell-panel): add built-in translations (#6079)
  src/components/shell-panel/resources.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.tsx
  src/demos/shell/demo-app-advanced-3.html
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(shell-panel)!: removed deprecated `intlResize` property (#6082)
  src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(accordion, combobox, dropdown, list, tree)!: Remove deprecated "multi" value (#6087)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/interfaces.ts
  src/components/combobox/usage/Multiple.md
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-group/interfaces.ts
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.stories.ts
  src/components/interfaces.ts
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/list/resources.ts
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/dropdown.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(accordion, dropdown, stepper, tabs): Updates keyboard handling (#6086)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/interfaces.ts
  src/components/accordion/accordion.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6089)
  src/components/accordion/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/combobox/readme.md
  src/components/dropdown-group/readme.md
  src/components/input-date-picker/readme.md
  src/components/modal/readme.md
  src/components/rating/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
  src/components/tree/readme.md
Due: prettier --write

refactor(input-time-picker)!: removed deprecated `locale` property (#6080)
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(time-picker)!: remove target parameter from setFocus (#6088)
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(scrim): Expose css var (#6091)
  src/assets/styles/global.scss
  src/components/scrim/scrim.e2e.ts
  src/components/scrim/scrim.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(date-picker)!: removed deprecated properties (#6084)
  src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(block): Expose css var (#6090)
  src/components/block/block.e2e.ts
  src/components/block/block.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(docs): Cleanup local index page (#6097)
  src/index.html
Due: prettier --write

chore(button): Update internal css var (#6094)
  src/components/button/button.scss
Due: prettier --write, stylelint --fix

refactor(input-date-picker)!: remove deprecated event (#6092)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-group)!: Update `appearance` value (#6096)
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group/radio-group.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(modal): Expose css var (#6093)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(locale): remove unused property from LocalizaedComponent (#6098)
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#6102)
  package-lock.json
Due: prettier --write

docs: update component READMEs (#6103)
  src/components/block/readme.md
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/modal/readme.md
  src/components/radio-group/readme.md
  src/components/scrim/readme.md
  src/components/time-picker/readme.md
Due: prettier --write

refactor(input)!: remove deprecated event payload (#6099)
  src/components/color-picker/color-picker.tsx
  src/components/input/input.tsx
  src/components/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.700
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

1.0.0-next.701
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(utils): Cleanup `focusElementInGroup` helper (#6101)
  src/components/tab-nav/tab-nav.tsx
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(translations): prepend component name to Messages type (#6104)
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
  src/components/rating/rating.tsx
  src/components/scrim/scrim.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
  src/components/value-list/value-list.tsx
  support/generateT9nTypes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(types): Adds missing value to SelectionMode (#6107)
  src/components/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6108)
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/date-picker/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/shell-panel/readme.md
  src/components/time-picker/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
  src/components/tree/readme.md
  src/components/value-list/readme.md
Due: prettier --write

docs(changelog): resort and modify indent levels and styling (#6110)
  CHANGELOG.md
Due: prettier --write

chore(date-picker): Remove unused deprecated interface. (#6111)
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/interfaces.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): context to `calciteDropdownItemSelect` event (#6114)
  CHANGELOG.md
Due: prettier --write

chore: remove unused util methods & deprecated `intl*` property references. (#6112)
  src/components/action-menu/action-menu.e2e.ts
  src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  src/demos/card.html
  src/demos/input.html
  src/tests/commonTests.ts
  src/utils/t9n.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(rating,input-date-picker): remove deprecated properties from usage files (#6115)
  src/components/input-date-picker/usage/Basic.md
  src/components/rating/usage/Basic.md
Due: prettier --write

feat(radio-group): Add appearance type (#6116)
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.scss
  src/components/radio-group/radio-group.stories.ts
  src/components/radio-group/radio-group.tsx
  src/demos/radio-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.99
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#6122)
  src/components/input-date-picker/readme.md
  src/components/radio-group/readme.md
  src/components/rating/readme.md
Due: prettier --write

chore(docs): Fix shell slot doc (#6120)
  src/components/shell/shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip): Fix hover logic for elements within shadowRoot (#6119)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
