Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(next): pass when next deployment is not required (#5033)
  .github/workflows/deploy-next.yml
Due: prettier --write

feat(input-text): create separate component for input type text (#4946)
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.scss
  src/components/input-text/input-text.stories.ts
  src/components/input-text/input-text.tsx
  src/components/input-text/readme.md
  src/components/input-text/resources.ts
  src/demos/input-text.html
  src/index.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(dropdown): include selection-triggering item in select event payload (#5030)
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5039)
  src/components/alert/readme.md
  src/components/dropdown/readme.md
  src/components/icon/readme.md
  src/components/input-text/readme.md
  src/components/progress/readme.md
Due: prettier --write

fix(slider): Focus active handle on pointerdown instead of click (#5037)
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox, dropdown): Use pointerdown in favor of onclick for events. (#5035)
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): escape key closes modal when open on page load (#5038)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(notice,chip,popover): setting closable prop to false will remove dismissible prop (#5044)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(linting): suggest alternative CSS approach for high specificity selectors (#4953)
  .stylelintrc.json
Due: prettier --write

docs(value-list): remove invalid usage example (#5048)
  src/components/value-list/usage/Label-editing-and-single-select.md
Due: prettier --write

fix(combobox): set min width of combobox items to match its input (#5045)
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(stepper): allow overriding stepper width (#5051)
  src/components/stepper/stepper.scss
  src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(dropdown): dropdown-items must have a parent dropdown-group (#5050)
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5054)
  src/components/dropdown-group/readme.md
  src/components/dropdown/readme.md
  src/components/value-list/readme.md
Due: prettier --write

refactor(openCloseComponent, alert, combobox, dropdown, input-date-picker, modal, popover): reworked openCloseComponent Interface to apply connect pattern for consistency with other components (#4975)
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add action to close completed milestones (#5053)
  .github/workflows/close-milestone.yml
Due: prettier --write

ci(codeql): bump codeQL actions (#5055)
  .github/workflows/codeql-analysis.yml
Due: prettier --write

fix(modal): fix 'fixed-positioned' floating-ui-owning components inside modal (#5046)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/tests/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tree): fix keyboard navigation when wrapped in shadow DOM (#5057)
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: apply layered z-indices across components (#5058)
  src/assets/styles/_floating-ui.scss
  src/components/action/action.scss
  src/components/alert/alert.scss
  src/components/card/card.scss
  src/components/color-picker-hex-input/color-picker-hex-input.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
  src/components/input/input.scss
  src/components/modal/modal.scss
  src/components/panel/panel.scss
  src/components/pick-list/pick-list.scss
  src/components/progress/progress.scss
  src/components/radio-group/radio-group.scss
  src/components/scrim/scrim.scss
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.scss
  src/components/tile-select/tile-select.scss
  src/components/tree-item/tree-item.scss
  src/components/value-list/value-list.scss
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab): Screen reader support to access tab content (#5061)
  src/components/tab/tab.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-menu): Fix focus styling and opening behavior (#5081)
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.scss
  src/components/action-menu/action-menu.stories.ts
  src/components/action-menu/action-menu.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(tab,tab-title): deprecate active and support selected prop (#5093)
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.e2e.ts
  src/components/tab/tab.scss
  src/components/tab/tab.tsx
  src/demos/tabs.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5100)
  src/components/tab-title/readme.md
  src/components/tab/readme.md
Due: prettier --write

docs: api styling consistency for radio components and rating (#5105)
  src/components/radio-button-group/radio-button-group.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.tsx
  src/components/rating/rating.scss
  src/components/rating/rating.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: deconstruct event key (#5106)
  src/components/accordion/accordion.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/dropdown/dropdown.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group/radio-group.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(time-picker): drop obsolete Spacebar key value check (#5107)
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: use activationKey util (#5108)
  src/components/block-section/block-section.tsx
  src/components/checkbox/checkbox.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/popover/PopoverManager.ts
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5110)
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/radio-group-item/readme.md
  src/components/radio-group/readme.md
  src/components/rating/readme.md
Due: prettier --write

fix(tabs): reverts regression that makes tabs ignore layout center (#5112)
  src/components/tab-nav/tab-nav.scss
  src/components/tabs/tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(dependabot): change back to tuesdays (#5064)
  .github/dependabot.yml
Due: prettier --write

refactor: fix typo in form interface (#5119)
  src/components/checkbox/checkbox.tsx
  src/components/radio-button/radio-button.tsx
  src/components/switch/switch.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tile): remove duplicate test (#5111)
  src/components/tile/tile.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: emit calciteThemeChange event when dynamically toggling between light and dark modes (#5104)
  src/utils/globalScript.ts
  src/utils/resources.ts
  src/utils/theme.ts
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: improve overlayPositioning property description (#5124)
  src/components/action-menu/action-menu.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
  src/components/split-button/split-button.tsx
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(handle, pick-list-item, rating): remove repeat the in comments (#5125)
  src/components/handle/handle.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/rating/rating.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): downgrade stencil due to unresolved tree shaking bug (#5126)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
