Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

1.0.0-beta.69
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(popover): when notice width set to full, it now takes full width of the popover, to fully cover it (#3451)
  src/components/calcite-popover/calcite-popover.scss
Due: prettier --write, stylelint --fix

test(select): drop redundant test (#3461)
  src/components/calcite-select/calcite-select.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): add missing switch entry from beta 67 (#3464)
  CHANGELOG.md
Due: prettier --write

revert(action): reverting #3415 after verifying deployed story correctly displays (#3465)
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): move logging to help troubleshoot next script (#3467)
  support/deployNextFromCI.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): add user information to next deploy script and refactor conditionals (#3469)
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#3468)
  package-lock.json
Due: prettier --write

chore(ci): log tags and add noVerify to next release script (#3470)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(shell, shell-panel, panel): targets border styles to known, slotted components
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.scss
  src/demos/shell/demo-app-blank.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(ci): fix github action push issue on protected branch (#3478)
  .github/workflows/deploy-next.yml
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.295
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

feat(list-item): add padding when there is only a label or only a description
  src/components/calcite-list-item/calcite-list-item.scss
  src/components/calcite-list/calcite-list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.296
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(panel): get the fab slot to have more spacing on firefox #3236 (#3413)
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.297
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(input): stepping precision to match the provided step (#3473)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/math.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-next.298
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(slider): set the current min/max to the provided values to keep histogram range updated #2914 (#3452)
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

style(tile): add comment explaining 10% width for slotted content (#3215) (#3493)
  src/components/calcite-tile/calcite-tile.scss
Due: prettier --write, stylelint --fix

1.0.0-next.299
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(block): heading and summary now align in RTL (#3490)
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-next.300
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

chore: update package-lock.json to version 2 (#3497)
  package-lock.json
Due: prettier --write

build: ensure build script arguments are passed through (#3499)
  package.json
Due: prettier --write

fix(tab): add scroll to tab content #3389 (#3395)
  src/components/calcite-tab/calcite-tab.scss
  src/components/calcite-tabs/calcite-tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix: remove quotes from generic font families (#3502)
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

1.0.0-next.301
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

chore(ci): use the same bot account for all actions (#3506)
  .github/workflows/pr-merge.yml
  support/deployNextFromCI.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(ci): use admin token to fix stalling pr checks (#3507)
  .github/workflows/pr-merge.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Due: prettier --write

chore(ci): allow users to run merge action in prs created by bot (#3514)
  .github/workflows/pr-merge.yml
Due: prettier --write

chore(ci): bump node versions to latest lts in gh actions (#3512)
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Due: prettier --write

chore: use lts/* to generate package lock (#3517)
  package-lock.json
Due: prettier --write

fix(accordion-item): clicking on an accordion with selection-mode=single no longer toggles unrelated accordions with the same selection mode (#3511)
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tree-item): limit padding-y CSS var to top/bottom spacing, remove end indentation (#3237)
  src/components/calcite-tree-item/calcite-tree-item.scss
Due: prettier --write, stylelint --fix

feat(input): add calciteInputChange event (#3528)
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-input/readme.md
  src/components/calcite-input/usage/Native-events.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): prevent default behavior of cursor jumping to the beginning of input, match rate of native input type=number (100ms) (#3527)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: fix build on windows (#2697) (#3532)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
