Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

test(floating-ui): fix type errors (#5966)
  src/utils/floating-ui.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input, input-number, input-text): Fix infinite loop crashing browser. #5882 (#5961)
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(time-picker)!: Remove deprecated locale property (#5962)
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): fix breaking change indent levels (#5973)
  CHANGELOG.md
Due: prettier --write

refactor(input-time-picker)!: Remove deprecated active property (#5970)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal, popover): Add `disableFocusTrap` property to toggle focus trapping. (#5965)
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-date-picker)!: Remove deprecated active property (#5974)
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-date-picker,date-picker)!: Removing deprecated locale properties (#5977)
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5980)
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/modal/readme.md
Due: prettier --write

build: update browserslist db (#5986)
  package-lock.json
Due: prettier --write

feat(input, input-number, input-text): add inputMode and enterKeyHint properties (#5976)
  src/components/input-number/input-number.tsx
  src/components/input-number/interfaces.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/input/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(readme): add more stat badges (#5988)
  readme.md
Due: prettier --write

test(input, input-number): fix some unstable tests (#5885)
  src/components/filter/filter.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-text)!: remove deprecated event payload (#5910)
  src/components/input-text/input-text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(globalStyles): fix type errors (#5987)
  src/tests/globalStyles.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-message)!: remove deprecated properties (#5911)
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.tsx
  src/components/input-message/usage/Basic.md
  src/components/input/input.stories.ts
  src/components/input/usage/With-label.md
  src/components/input/usage/With-message.md
  src/components/label/usage/Basic.md
  src/demos/input-number.html
  src/demos/input-text.html
  src/demos/input.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(vscode): provide launch config (#5967)
  .vscode/launch.json
Due: prettier --write

test(chromatic): add delay and disable animation on some stories (#5990)
  src/components/alert/alert.stories.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/list/list.stories.ts
  src/components/loader/loader.stories.ts
  src/components/modal/modal.stories.ts
  src/components/pagination/pagination.stories.ts
  src/components/popover/popover.stories.ts
  src/components/progress/progress.stories.ts
  src/components/slider/slider.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-time-picker): fix type errors (#5991)
  src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(translations): remove duplicate file (#5972)
  src/components/date-picker/assets/date-picker/nls/messages.json
Due: prettier --write

fix(loader): no longer animates when reduced motion is enabled (#5981)
  src/assets/styles/_animation.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#5997)
  src/components/input-message/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
  src/components/label/readme.md
Due: prettier --write

fix(popover, modal): deactivate focus trap on outside click (#5994)
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(alert): Fix local demo page attribute (#6002)
  src/demos/alert.html
Due: prettier --write

ci(screener): remove (#6008)
  .github/ISSUE_TEMPLATE/test.yml
  .github/workflows/pr-screener.yml
  .storybook/helpers.ts
  .storybook/preview.ts
  .storybook/screener.config.js
  CONTRIBUTING.md
  conventions/Testing.md
  package-lock.json
  package.json
  src/components/button/button.stories.ts
  src/components/checkbox/checkbox.stories.ts
  src/components/color-picker/color-picker.stories.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/label/label.stories.ts
  src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix

feat(dropdown-item): Add `calciteDropdownItemSelect` event (#6015)
  src/components/dropdown-item/dropdown-item.e2e.ts
  src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(action-menu): remove event `calciteActionMenuOpenChange` (#6010)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox,combobox-item)!: remove deprecated properties ,events & event payload. (#5889)
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/readme.md
  src/components/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(action-menu)!: remove event `calciteActionMenuOpenChange` (#6016)
  src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(loader): Do not modify display when inline (#6013)
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(dropdown)!: removed slot `dropdown-trigger`. (#6006)
  FAQ.md
  src/05-custom-theme.stories.mdx
  src/components/card/card.stories.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
  src/components/dropdown/resources.ts
  src/components/dropdown/usage/Basic.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/dropdown/usage/Groups.md
  src/components/split-button/split-button.tsx
  src/demos/card.html
  src/demos/date-picker.html
  src/demos/dropdown.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(tabs)!: removed slot `tab-nav`. (#6009)
  src/05-custom-theme.stories.mdx
  src/components/color-picker/color-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tabs/readme.md
  src/components/tabs/resources.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
  src/components/tabs/usage/Basic.md
  src/components/tabs/usage/Bordered.md
  src/demos/popover.html
  src/demos/tabs.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(label)!: Set default display to be `flex` (#6014)
  src/components/label/label.e2e.ts
  src/components/label/label.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(loader)!: remove deprecated properties (#6003)
  src/components/loader/loader.scss
  src/components/loader/loader.stories.ts
  src/components/loader/loader.tsx
  src/components/loader/usage/Basic.md
  src/components/loader/usage/Determinate.md
  src/demos/loader.html
  src/demos/modal.html
  src/demos/scrim.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): fixing breaking change formatting (#6027)
  CHANGELOG.md
Due: prettier --write

docs: update component READMEs (#6031)
  src/components/action-menu/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/dropdown-item/readme.md
  src/components/loader/readme.md
Due: prettier --write

refactor(pagination)!: remove deprecated event. (#6020)
  src/components/pagination/pagination.tsx
  src/components/pagination/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal)!: remove deprecated properties and method. (#6019)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/readme.md
  src/components/modal/usage/Basic.md
  src/components/modal/usage/Open.md
  src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(date-picker)!: remove `event.detail` payload from events (#6030)
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/interfaces.d.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tip)!: Rename property (#6026)
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/readme.md
  src/components/tip/tip.e2e.ts
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
  src/components/tip/usage/Basic.md
  src/demos/notice.html
  src/demos/tip/basic.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
