Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(panel): drop z-index usage for internal component styles (#4182)
  src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(color-picker)!: emit color change and input events on user-interaction only (#4288)
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): color channels order no longer mirrors when dir='rtl' (#4327)
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: change the gh secrets with usernames for clarity (#4384)
  .github/workflows/assign-for-verification.yml
  .github/workflows/need-info-close.yml
  .github/workflows/pr-merge.yml
Due: prettier --write

docs: update component READMEs (#4377)
  src/components/button/readme.md
Due: prettier --write

fix(tabs)!: emit `calciteTabsActivate` and `calciteTabChange` events on user interaction (#4353)
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): correctly de-localize negative numbers in ar and et (#4387)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/utils/locale.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): listbox item focused with home or end now scrolls into view (#4304)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4389)
  package-lock.json
Due: prettier --write

fix(color-picker): setting value programmatically twice or more in a row will no longer emit change/input events (#4395)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.81
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

ci: fix storybook deployment action (#4397)
  .github/workflows/deploy-storybook.yml
Due: prettier --write

fix(input): negative numbers delocalize correctly in ar locale (#4400)
  src/components/input/input.e2e.ts
  src/demos/input.html
  src/utils/locale.spec.ts
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4393)
  package-lock.json
  package.json
Due: prettier --write

fix(input): correctly delocalize numbers with group separators (#4403)
  src/utils/locale.spec.ts
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: remove unnecessary numeric separator plugin (#4385)
  package.json
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(shell-panel): deprecate calciteShellPanelToggle event. (#2033) (#4286)
  src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tip-manager): deprecate calciteTipManagerToggle event in favor of calciteTipManagerClose (#2033) (#4285)
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label util): avoid accumulation of event listeners (#4413)
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4417)
  package-lock.json
Due: prettier --write

refactor(panel): Deprecate calcitePanelDismissedChange in favor of calcitePanelDismiss. (#4284)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): emit events when date is cleared (#4406)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/input-date-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4420)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#4421)
  src/components/panel/readme.md
  src/components/shell-panel/readme.md
  src/components/tip-manager/readme.md
Due: prettier --write

feat(tooltip): Simplify tooltip usage by deprecating tooltip-manager component. (#4422)
  src/components/action-menu/action-menu.tsx
  src/components/card/card.stories.ts
  src/components/functional/ExpandToggle.tsx
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.tsx
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/resources.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/usage/Basic.md
  src/demos/card.html
  src/demos/link.html
  src/demos/notice.html
  src/demos/popover.html
  src/demos/tooltip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(popover): Simplify popover usage by deprecating popover-manager component (#4423)
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.tsx
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/demos/color-picker.html
  src/demos/popover.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): input value will now filter correctly as typed in (#4405)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/utils/filter.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(readme): change loader property from isActive to active (#4424)
  readme.md
Due: prettier --write

fix(action-pad, action-bar): toggleChange event emit only on user interaction (#4275)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4428)
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/block/readme.md
  src/components/panel/readme.md
  src/components/popover-manager/readme.md
  src/components/popover/readme.md
  src/components/tooltip-manager/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

docs(demos): update demos and styling (#4431)
  src/demos/_assets/demos.css
  src/demos/input-time-picker.html
  src/demos/shell-panel/basic.html
  src/demos/sortable-list.html
  src/demos/tip/basic.html
  src/index.html
Due: prettier --write

docs(popover): Remove manager readme from popover story. (#4435)
  src/components/popover/popover.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): remove invalid breaking changes entry (#4438)
  CHANGELOG.md
Due: prettier --write

fix(tile): Prevent description from overflowing (#4433)
  src/components/tile/tile.scss
  src/components/tile/tile.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(inline-editable): will no longer emit unnecessary calciteInlineEditableEditCancel events (#4432)
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(color-picker): import getElementXY from util (#4440)
  src/components/color-picker/color-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(internal): add section about test helpers and utilities (#4441)
  conventions/Testing.md
Due: prettier --write

fix(combobox, filter): only test regex on string properties when filtering (#4443)
  src/components/combobox/combobox.e2e.ts
  src/components/filter/filter.tsx
  src/utils/filter.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4449)
  package-lock.json
  package.json
Due: prettier --write

feat(input-time-picker): Add reposition method. (#4364) (#4448)
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
