Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

feat(pagination, split-button, dropdown, date-picker) action-group): add setFocus method (#6405)
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
  src/tests/commonTests.ts
Due: none

docs: cleanup references to beta versions (#6340)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  conventions/Documentation.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build(deps): bump calcite-ui-icons from 3.20.7 to 3.21.0 (#6417)
  package-lock.json
  package.json
Due: prettier --write

fix(date-picker): days previous to the currently hovered day when no range value exists display correctly with no hover styles (#6369)
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
Due: none

docs: fix slot creation for deprecated components (#6420)
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Due: none

fix(stepper): add margin bottom for text in vertical layout (#6385)
  src/components/stepper-item/stepper-item.scss
  src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix

test(heading): remove unnecessary dummy component for spec test (#6415)
  src/components/functional/Heading.spec.tsx
Due: none

fix(icon): fix icon normalization to handle x-times-named icons (#6422)
  src/components/icon/utils.spec.ts
  src/components/icon/utils.ts
Due: none

fix(tree-item): reverses regression to bring back focus when navigating with keyboard (#6424)
  src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

docs(segmented-control): update event description for calciteSegmentedControlChange (#6428)
  src/components/segmented-control/segmented-control.tsx
Due: none

1.1.0-next.2
  package-lock.json
  package.json
Due: prettier --write

revert: "feat(pagination, split-button, dropdown, date-picker) action-group): add setFocus method (#6405)" (#6426)
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
  src/tests/commonTests.ts
Due: none

docs(changelog): remove reverted feature (#6435)
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(vite): resolve lazying loading error in dist build (#6436)
  stencil.config.ts
Due: none

ci(next): fix commit message (#6425)
  .versionrc.json
Due: prettier --write

docs: update component READMEs (#6352)
  src/components/progress/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(checkbox, input, radio-button, switch): improve form validation by adding type to internal inputs (#6322)
  src/components/checkbox/checkbox.e2e.ts
  src/components/checkbox/checkbox.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/radio-button/radio-button.e2e.ts
  src/components/radio-button/radio-button.tsx
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
  src/tests/commonTests.ts
  src/utils/form.tsx
Due: none

chore(release): 1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(tooltip): prevent closing of Esc-key-closing parent components when dismissing a tooltip with Esc (#6343)
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/utils.ts
Due: none

build(deps): bump calcite-ui-icons from 3.21.0 to 3.21.2 (#6441)
  package-lock.json
  package.json
Due: prettier --write

fix(input, input-number, input-text): emit change value when clearing programmatically-set value (#6431)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: none

chore: drop unused import (#6439)
  src/components/date-picker/date-picker.e2e.ts
Due: none

fix(modal): no longer loses focus trap after clicking inside the component. (#6434)
  src/components/modal/modal.e2e.ts
  src/components/popover/popover.e2e.ts
  src/utils/focusTrapComponent.ts
Due: none

chore(release): 1.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(tree-item): preserves consistent height with or w/t actions-end (#6403)
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix

fix(vite): getting the dist build to work correctly with vite again (#6452)
  stencil.config.ts
Due: none

ci: remove version placeholders from issue templates (#6442)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

ci: Create action to sync to Airtable (#6465)
  .github/workflows/sync_to_airtable.yml
  src/components/popover/popover.e2e.ts
Due: prettier --write

ci(action): debugging issue with GH Action (#6474)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

ci(actions): try to fix "malformed data" passing to webhook (#6475)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

ci(action): fix edge case where '`' causes breaks in webhook (#6476)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

ci(action): fix edge case when passing to webhook (#6477)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

fix(focus-trap): prevent host from receiving initial focus (#6479)
  src/components/modal/modal.e2e.ts
  src/tests/utils.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Due: none

chore(release): 1.0.6-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci(action): rollback airtable sync action to cover most use cases (#6478)
  .github/workflows/sync_to_airtable.yml
Due: prettier --write

chore(release): 1.0.6
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

revert(focus-trap): drop focus-trap options causing inconsistent focus behavior (#6483)
  src/components/modal/modal.e2e.ts
  src/components/popover/popover.e2e.ts
  src/tests/utils.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Due: none

chore(release): 1.0.7
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(slider): slider handle aligns with track when font size changes (#5372)
  src/components/slider/slider.scss
  src/components/slider/slider.stories.ts
Due: prettier --write, stylelint --fix

test(modal): restore fixed E2E tests (#6486)
  src/components/modal/modal.e2e.ts
  src/tests/utils.ts
Due: none
