Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(time-picker): high contrast visibility of outlines in focus and hover states (#6129)
  src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix

ci(chromatic): explicitly auto-accept changes to master as baseline (#6136)
  .github/workflows/chromatic.yml
Due: prettier --write

refactor(stepper)!: remove event.detail payload from event and add property (#6138)
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-button-group)!: remove `event.detail` payload from event and add property (#6137)
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6142)
  src/components/radio-button-group/readme.md
  src/components/shell/readme.md
  src/components/stepper/readme.md
Due: prettier --write

docs(tabs): Update tab slot. (#6145)
  src/components/tabs/tabs.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(popover, modal): Add the ability to update focus trap elements after initialization. (#6141)
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(vscode): add completion and hover support (#6150)
  .vscode/settings.json
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(date-picker): Remove deprecated startAsDate and endAsDate properties (#6085)
  src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add esri monitor team label to issue templates (#6155)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

feat(tab-nav): Add `selectedTitle` property (#6149)
  CHANGELOG.md
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal, panel, popover)!: remove `focusId` param from `setFocus` method. (#6147)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/components/panel/panel.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
  src/tests/commonTests.ts
  src/utils/dom.ts
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6163)
  src/components/modal/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/tab-nav/readme.md
  src/components/tab-title/readme.md
  src/components/tabs/readme.md
Due: prettier --write

refactor(popover)!: remove `toggle` method. (#6161)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(color-picker): add missing message in `en` bundle (#6165)
  src/components/color-picker/assets/color-picker/t9n/messages_en.json
Due: prettier --write

refactor(combobox-item)!: remove `toggleSelected` method. (#6162)
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6168)
  src/components/combobox-item/readme.md
  src/components/popover/readme.md
Due: prettier --write

build: update browserslist db (#6171)
  package-lock.json
Due: prettier --write

chore(modal): Remove invalid kind values (#6169)
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): modify weekStart value for ar locale (#6154)
  src/components/date-picker/assets/date-picker/nls/ar.json
Due: prettier --write

build(deps): bump calcite-ui-icons from 3.20.5 to 3.20.7 (#6170)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#6184)
  src/components/modal/readme.md
Due: prettier --write

ci(chromatic): set higher diffThreshold and delay for unstable tests (#6180)
  src/components/date-picker/date-picker.stories.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/list/list.stories.ts
  src/components/pagination/pagination.stories.ts
  src/components/popover/popover.stories.ts
  src/components/progress/progress.stories.ts
  src/components/slider/slider.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(flow-item): make showBackButton internal (#6179)
  src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: consistent slot messaging across components (#6190)
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.tsx
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/dropdown/dropdown.tsx
  src/components/flow/flow.tsx
  src/components/notice/notice.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.tsx
  src/components/stepper/stepper.tsx
  src/components/tab/tab.tsx
  src/components/tile-select-group/tile-select-group.tsx
  src/components/tree-item/tree-item.tsx
  src/components/value-list-item/value-list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(pagination)!: Remove css variable (#6183)
  src/components/pagination/pagination.scss
Due: prettier --write, stylelint --fix

build(deps): update dependencies. (#6189)
  package-lock.json
  package.json
Due: prettier --write

chore(notice): Remove invalid kind values (#6186)
  src/components/notice/notice.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(alert): Remove invalid kind values (#6187)
  src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(actions): update additional actions using the deprecated node runner (#6193)
  .github/workflows/need-info-verify.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/pr-semantic.yml
Due: prettier --write

docs(changelog): update to incorporate missing changes since beta.99 (#6195)
  CHANGELOG.md
Due: prettier --write

docs: update component READMEs (#6196)
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/alert/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/dropdown/readme.md
  src/components/flow-item/readme.md
  src/components/flow/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/stepper/readme.md
  src/components/tab/readme.md
  src/components/tile-select-group/readme.md
  src/components/tree-item/readme.md
  src/components/value-list-item/readme.md
Due: prettier --write

docs(scrim): remove extraneous line (#6202)
  src/components/scrim/scrim.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): update input value when changing locale (#6197)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix ts/eslint errors in demos (#6204)
  .eslintrc.json
  src/components/tree/tree.e2e.ts
  src/demos/_assets/demo-dom-swapper.ts
  src/demos/_assets/demo-form.ts
  src/demos/_assets/demo-spacer.ts
  src/demos/_assets/demo-template.ts
  src/demos/_assets/head.ts
  src/utils/form.spec.ts
  tsconfig-eslint.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): close button does not change header height (#6205)
  src/components/modal/modal.scss
Due: prettier --write, stylelint --fix

docs(modal): provide context to setFocus method (#6206)
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#6210)
  src/components/modal/readme.md
  src/components/scrim/readme.md
Due: prettier --write

fix(input, input-number): increment/decrement to the min/max when value is below/above (#6207)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
