Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

chore: tidy up imports (#6992)
  src/components/chip/chip.tsx
  src/components/fab/fab.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.tsx
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/stack/stack.e2e.ts
  src/components/tree-item/tree-item.tsx
Due: none

test(dom): drop duplicate test (#6991)
  src/utils/dom.spec.ts
Due: none

fix(hydrate): fix errors caused by message bundle fetch attempts during prerendering (#7002)
  src/utils/t9n.ts
Due: none

docs(navigation, menu-item): reallocate slots for jsdoc generation (#7008)
  src/components/menu-item/menu-item.tsx
  src/components/navigation/navigation.tsx
Due: none

build: update browserslist db (#6932)
  package-lock.json
Due: prettier --write

fix(color-picker): prevent hue slider thumb from wrapping when dragged near/past the edge (#7009)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
Due: none

fix(navigation-logo, navigation-user): Prevent inheriting line-height (#7011)
  src/components/navigation-logo/navigation-logo.scss
  src/components/navigation-logo/navigation-logo.stories.ts
  src/components/navigation-logo/navigation-logo.tsx
  src/components/navigation-logo/resources.ts
  src/components/navigation-user/navigation-user.scss
  src/components/navigation-user/navigation-user.stories.ts
  src/components/navigation-user/navigation-user.tsx
  src/components/navigation-user/resources.ts
  src/components/navigation/navigation.stories.ts
Due: prettier --write, stylelint --fix

fix(menu): ensure role type is compatible with Stencil's HTMLAttributes interface (#6993)
  src/components/menu/menu.tsx
  src/utils/globalAttributes.spec.ts
  src/utils/globalAttributes.ts
Due: none

fix(list): filter nested children correctly (#6989)
  src/components/list-item-group/list-item-group.scss
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/demos/list.html
Due: prettier --write, stylelint --fix

ci(lint): add blank line before first jsdoc tag (#7018)
  .eslintrc.json
Due: prettier --write

fix test
  src/components/list-item/list-item.e2e.ts
Due: none

Revert "fix test"
  src/components/list-item/list-item.e2e.ts
Due: none

fix(input-time-picker): ensure dynamic date/time locale config imports are compatible with bundlers that require static import paths (#6990)
  package-lock.json
  package.json
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/resources.ts
  support/setUpDayJsLocales.ts
Due: prettier --write

chore(linting): set up import linting rules (#7024)
  .eslintrc.json
  package-lock.json
  package.json
  src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write

build(deps): bump calcite-ui-icons to 3.22.8 (#7029)
  package-lock.json
  package.json
Due: prettier --write

fix(menu-item): Ensure icon displays when `href` is populated (#7028)
  src/components/menu-item/menu-item.scss
  src/components/menu-item/menu-item.tsx
Due: prettier --write, stylelint --fix

chore(text-area): adds message to improve context when character limit exceeds. (#7021)
  src/components/text-area/assets/text-area/t9n/messages.json
  src/components/text-area/assets/text-area/t9n/messages_en.json
Due: prettier --write

fix: ensure mouse events are blocked only when components are disabled (#7031)
  src/tests/commonTests.ts
  src/utils/interactive.ts
Due: none

fix(color-picker): fix pasting hex with leading # character (#7030)
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Due: none

docs(changelog): split beta entries into separate file (#7033)
  CHANGELOG.md
  CHANGELOG_BETA.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

style: lint (#7034)
  CHANGELOG.md
  src/components/color-picker/color-picker.tsx
  src/components/menu-item/readme.md
  src/components/navigation-logo/navigation-logo.tsx
  src/components/stepper/stepper.scss
  src/utils/globalAttributes.ts
  src/utils/t9n.ts
Due: prettier --write, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

test: set up `reflects` test helper to run a test per use case (#7012)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/block-section/block-section.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/menu-item/menu-item.e2e.ts
  src/components/navigation-logo/navigation-logo.e2e.ts
  src/components/navigation-user/navigation-user.e2e.ts
  src/components/navigation/navigation.e2e.ts
  src/components/option-group/option-group.e2e.ts
  src/components/option/option.e2e.ts
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/select/select.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/tile-select-group/tile-select-group.e2e.ts
  src/components/tile-select/tile-select.e2e.ts
  src/components/tile/tile.e2e.ts
  src/tests/commonTests.ts
Due: none

chore(release): 1.4.2
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: ensure t9nmanifest file is sorted consistently (#7062)
  support/generateT9nTypes.ts
Due: none

fix(accordion-item): support items working across shadowDOM (#7035)
  src/components/accordion-item/accordion-item.tsx
Due: none
