Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: remove remaining calcite filename prefix (#4033)
  .gitignore
  src/components/action-group/action-group.stories.ts
  src/components/combobox-item/combobox-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4039)
  src/components/icon/readme.md
  src/components/pagination/readme.md
Due: prettier --write

fix(date-picker): make date picker work in high-contrast (#4005) (#4011)
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month/date-picker-month.scss
Due: prettier --write, stylelint --fix

feat(calcite-filter): add scale prop/attribute (#4041)
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover-manager, tooltip-manager): Properly query referenceElement in shadowRoot (#4014)
  src/components/popover-manager/popover-manager.tsx
  src/components/tooltip-manager/tooltip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): Reposition floating menu correctly. (#4058)
  .storybook/helpers.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-button): fix selector typo (#4061)
  src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): Align with dropdown logic and repositioning (#4059)
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): Allow nesting of popovers (#4021)
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/demos/popover.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4065)
  package-lock.json
Due: prettier --write

fix(value-list-item): change to older tailwind class for outlining a selected item (#4057)
  src/components/value-list-item/value-list-item.scss
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(pick-list): prevent disabling tabbing into slot while in the curr… (#4053)
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list/shared-list-logic.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(readme): add getting started info (#4028)
  readme.md
Due: prettier --write

fix(fab, color-picker, inline-editable, split-button): Set calcite button type (#4070)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
  src/components/fab/fab.e2e.ts
  src/components/fab/fab.tsx
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-button): scale selection indicator with radio button size (#3952)
  src/components/radio-button/radio-button.scss
Due: prettier --write, stylelint --fix

fix(progress): make progress visible in high contrast (#3896) (#3988)
  src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

feat(card): use css variable to change border-radius (#4026)
  src/assets/styles/global.scss
  src/components/card/card.scss
  src/demos/card.html
Due: prettier --write, stylelint --fix

docs(pick-list-item): change invalid heading property to label (#4081)
  src/components/pick-list/readme.md
  src/components/pick-list/usage/Sub-groups.md
Due: prettier --write

revert(input): correct negative values in ar and et locales (#4083)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/demos/input.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-message): contained links work (#4084)
  src/components/input-message/input-message.scss
Due: prettier --write, stylelint --fix

ci: use correct commit message property (#4095)
  .github/workflows/update-deps.yml
Due: prettier --write

docs(panel, shell-panel-shell-center-row): fix heightScale typo (#4097)
  src/components/panel/panel.tsx
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): limit the auto selection for custom new values at single selection mode #3928 (#4080)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4101)
  src/components/panel/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
Due: prettier --write

chore: reorganize a11y and bug issue templates (#4102)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

docs(readme): the local assets directory must be named assets (#4099)
  readme.md
Due: prettier --write

build: update browserslist db (#4104)
  package-lock.json
Due: prettier --write

fix(date-picker): update the calendar instantly as the year changes (#4056)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.77
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(popover-manager, tooltip-manager): Misalignment of tooltips in FireFox #3900 (#4069)
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.scss
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): Allow "" to clear a number input (#4119)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar, action-pad): Remove warning when when expanding with expand tooltip #3978 (#4067)
  src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover, tooltip, combobox, dropdown, input-date-picker): Hide popover when the reference element or popover is out of view. (#4115)
  src/assets/styles/_popper.scss
  src/components/popover/popover.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(date-picker): set correct first day of week for all locales (#4118)
  src/components/date-picker/assets/date-picker/nls/bs.json
  src/components/date-picker/assets/date-picker/nls/ca.json
  src/components/date-picker/assets/date-picker/nls/cs.json
  src/components/date-picker/assets/date-picker/nls/da.json
  src/components/date-picker/assets/date-picker/nls/de.json
  src/components/date-picker/assets/date-picker/nls/el.json
  src/components/date-picker/assets/date-picker/nls/en-AU.json
  src/components/date-picker/assets/date-picker/nls/es.json
  src/components/date-picker/assets/date-picker/nls/et.json
  src/components/date-picker/assets/date-picker/nls/fi.json
  src/components/date-picker/assets/date-picker/nls/fr.json
  src/components/date-picker/assets/date-picker/nls/hr.json
  src/components/date-picker/assets/date-picker/nls/hu.json
  src/components/date-picker/assets/date-picker/nls/it.json
  src/components/date-picker/assets/date-picker/nls/lt.json
  src/components/date-picker/assets/date-picker/nls/lv.json
  src/components/date-picker/assets/date-picker/nls/mk.json
  src/components/date-picker/assets/date-picker/nls/nb.json
  src/components/date-picker/assets/date-picker/nls/nl.json
  src/components/date-picker/assets/date-picker/nls/pl.json
  src/components/date-picker/assets/date-picker/nls/ro.json
  src/components/date-picker/assets/date-picker/nls/ru.json
  src/components/date-picker/assets/date-picker/nls/sl.json
  src/components/date-picker/assets/date-picker/nls/sr.json
  src/components/date-picker/assets/date-picker/nls/sv.json
  src/components/date-picker/assets/date-picker/nls/tr.json
  src/components/date-picker/assets/date-picker/nls/uk.json
  src/components/date-picker/assets/date-picker/nls/vi.json
Due: prettier --write

fix(time-picker): meridiem order matches with input time picker (#4030)
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/resources.ts
  src/components/time-picker/time-picker.scss
  src/components/time-picker/time-picker.tsx
  src/demos/input-time-picker.html
  src/utils/time.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab-title, tab): tab switching will function even when wrapped wi… (#4114)
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4145)
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/flow/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/radio-group/readme.md
  src/components/select/readme.md
  src/components/value-list/readme.md
Due: prettier --write

test(date-picker): unskip test (#4152)
  src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
