Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: update doc for internal DOM utilities (#6916)
  src/utils/dom.ts
Due: none

test(color-picker): split up some alpha tests to prevent timeouts (#6924)
  src/components/color-picker/color-picker.e2e.ts
Due: none

chore: drop nomodule script usage (#6957)
  .storybook/preview-head.html
  src/demos/_assets/head.ts
  src/demos/input-time-picker.html
Due: prettier --write

feat: tailwind to use calcite-design-tokens instead of calcite-colors (#6884)
  calcite-preset.ts
  package-lock.json
  package.json
  src/assets/styles/global.scss
Due: prettier --write, stylelint --fix

chore(linting): ban use of `:host-context` until all browsers support it (#6961)
  .stylelintrc.json
  src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

fix(tip-manager): Set padding for tips and tip-groups consistently (#6959)
  src/components/tip-group/tip-group.scss
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.stories.ts
  src/index.html
Due: prettier --write, stylelint --fix

fix(combobox): ensure most recent selected item is active when combobox is opened (#6973)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Due: none

fix(popover): change event listener to 'pointerup' (#6977)
  src/components/popover/PopoverManager.ts
Due: none

fix(segmented-control): handle segmented-control-items with duplicate values (#6963)
  src/components/segmented-control/segmented-control.tsx
Due: none

feat(combobox): make combobox clearable (#6972)
  src/assets/styles/includes.scss
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/assets/combobox/t9n/messages.json
  src/components/combobox/assets/combobox/t9n/messages_en.json
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/functional/XButton.tsx
Due: prettier --write, stylelint --fix

fix(time-picker): prevent time part steppers from being focusable (#6982)
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: none

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.md)
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
