Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

refactor: modify drag-enabled styling on supported components (#7879)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

chore: add @esri/calcite-design-tokens to issue templates (#7987)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: prettier --write

refactor: extract icon scale adjustment logic into utility function (#7973)
  my-con
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: floating components will now get an initial position even if they are not opened (#8001)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): selects next enabled stepper-item when first one is disabled (#8004)
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(icon): use pixel sizes for icons (#8009)
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/icon/icon.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(stepper,stepper-item): adds support for built-in translations (#8002)
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(stepper): disconnects observer when component is disconnected (#8013)
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(segmented-control): removes grid option from layout (#8019)
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pagination): prevents console error when page-size is set to zero (#8017)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(block): ensure chevron is always displayed (#8014)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(markdownlint): fix path to gitignore in design-tokens (#7999)
  packages/calcite-design-tokens/package.json
Due: prettier --write

chore: remove empty file (#8034)
  my-con
Due: none

fix(input-date-picker, input-time-picker): adjust chevron scale accordingly (#8012)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(button, fab, inline-editable, split-button): prevent redundant opacity when button is both loading and disabled (#8015)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/fab/fab.stories.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.stories.ts
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(segmented-control-item): fix text color contrast (#8036)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: automate research spike issue completion (#8098)
  .github/scripts/notifyWhenSpikeComplete.js
  .github/workflows/spike-complete.yml
Due: prettier --write
