Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(color-picker): fixed hue bar click and drag interaction (#4734)
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(alert): added 'before' events for events that fire after transition (#4693)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4673)
  src/components/card/readme.md
  src/components/dropdown/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/popover/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

feat(accordion-item,stepper-item,block,panel): add heading & description prop (#4732)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/block/block.e2e.ts
  src/components/block/block.scss
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(modal): remove test for firstFocus property (#4742)
  src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: Update toAriaBoolean DOM utility to use Boolean function. (#4740)
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(stepper): Add calciteStepperItemChange event (#4737)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: Make sure component setFocus methods do not throw error (#4739)
  src/components/accordion/accordion.tsx
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/button/button.tsx
  src/components/color-picker/color-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/handle/handle.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/rating/rating.tsx
  src/components/slider/slider.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tree-item/tree-item.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox): added 'before' events for events that fire after transition (#4710)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(a11y): conventions for a11y (#4736)
  conventions/Accessibility.md
  conventions/Accessibility/AccessibilityDesign.md
  conventions/Accessibility/AccessibilityDeveloper.md
  conventions/Accessibility/AccessibilityRoles.md
  src/11-accessibility.stories.mdx
  src/12-accessibilitydesign.stories.mdx
  src/12-internationalization.stories.mdx
  src/13-accessibilitydeveloper.stories.mdx
  src/14-accessibilityroles.stories.mdx
  src/15-internationalization.stories.mdx
Due: prettier --write

build(deps): Revert cheerio to 1.0.0-rc.10 to fix storybook (#4763)
  package-lock.json
  package.json
Due: prettier --write

fix(stepper): setting active property should update content (#4745)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): remove invalid layout value (#4766) (#4767)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tabs): update style for centered and bordered tab titles (#4714)
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(dependabot): prevent bumping cheerio and chalk (#4769)
  .github/dependabot.yml
Due: prettier --write

docs(ref): implement style guide for components that start with 'a' (#4718)
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.scss
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.scss
  src/components/alert/alert.tsx
  src/components/avatar/avatar.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: notify leads of new component label (#4774)
  .github/workflows/new-component-notify.yml
Due: prettier --write

feat(block): support noPadding property (#4790)
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(dropdown): added 'before' events for events that fire after transition (#4797)
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(dropdown): skip unstable test (#4799)
  src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox): rename functions that emit open/close events (#4808)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(stale): exempt epics from auto-closing (#4805)
  .github/workflows/stale.yml
Due: prettier --write

ci: use npm ci to install deps (#4788)
  .github/workflows/deploy-next.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
  .github/workflows/update-doc.yml
Due: prettier --write

ci(deps): remove broken updtr action (#4770)
  .github/workflows/update-deps.yml
Due: prettier --write

refactor(alert): cleaned up component before openClose logic (#4804)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4811)
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/avatar/readme.md
  src/components/block/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/label/readme.md
  src/components/panel/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/tabs/readme.md
Due: prettier --write

fix(popover): autoClose property should work in Shadow DOM (#4810)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/utils/dom.e2e.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(combobox): add support for placeholder icon & no longer display leading space for placeholder text (#4784)
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(block): support disable-padding property (#4812)
  src/components/block/block.stories.ts
  src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): Restore trigger container to flex-auto (#4823)
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(accordion-item): Indicate whether accordion is expanded to screen readers. (#4822)
  src/components/accordion-item/accordion-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: Enter key should submit forms in Safari (#4815)
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4828)
  src/components/block/readme.md
  src/components/combobox/readme.md
Due: prettier --write

feat(color-picker): support customizing numbering system for locale (#4801)
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): Correctly honor max-items (#4816)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): add selectText method (#4827)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(input): proofread and update api reference (#4798)
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4841)
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/input/readme.md
Due: prettier --write

refactor(combobox): create openCloseComponent interface in global utils that defines methods for beforeOpen, open, beforeClose and close public events (#4791)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(dropdown): split up browser functions to allow rendering to finish before asserting on the selected item (#4843)
  src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
