Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: fix CDN-updating logic (#3010)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: document the setFocus method on components #2701 (#3012)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-time-picker/calcite-time-picker.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(demo-homepage): updated demo homepage, removed search bar (#2983)
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/demos/_assets/demos.css
  src/demos/calcite-accordion.html
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-card.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-chip.html
  src/demos/calcite-color-picker.html
  src/demos/calcite-combobox.html
  src/demos/calcite-date-picker.html
  src/demos/calcite-icon.html
  src/demos/calcite-inline-editable.html
  src/demos/calcite-list.html
  src/demos/calcite-loader.html
  src/demos/calcite-modal.html
  src/demos/calcite-notice.html
  src/demos/calcite-pagination.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-popover.html
  src/demos/calcite-progress.html
  src/demos/calcite-rating.html
  src/demos/calcite-scrim.html
  src/demos/calcite-select.html
  src/demos/calcite-slider.html
  src/demos/calcite-sortable-list.html
  src/demos/calcite-switch.html
  src/demos/calcite-tooltip.html
  src/demos/calcite-tree.html
  src/demos/tip/basic.html
  src/index.html
Due: prettier --write, stylelint --fix

chore(actions): only run on opened event (#3013)
  .github/workflows/pr-bot.yml
Due: none

docs(pagination, pick-list-item, slider): Add additional information for label properties (#3014)
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

style: lint codebase (#3015)
  screener.config.js
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-date-picker/utils.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  tailwind.config.js
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix

feat(tree-item): update selection visuals to match Figma (#2082) (#3001)
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree-item/resources.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/demos/calcite-tree-scales.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(accordion): match icon directions with block when positioned at start (#2989)
  src/components/calcite-accordion-item/calcite-accordion-item.scss
Due: prettier --write, stylelint --fix

refactor(header): apply tailwind to _header include
  src/assets/styles/_header.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write, stylelint --fix

test(input): skip unstable test (#3017) (#3018)
  src/components/calcite-input/calcite-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): decrease color padding (#2997)
  src/components/calcite-input/calcite-input.scss
  src/demos/calcite-input.html
Due: prettier --write, stylelint --fix

chore(actions): bump update (#3026)
  .github/auto_assign.yml
  .github/workflows/pr-bot.yml
Due: none

fix(color-picker): render current value when set initially with custom format (#3020)
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.64 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs(readme): add travis status badge (#3034)
  readme.md
Due: prettier --write

chore: new bugs require a repro sample (#3036)
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  .github/workflows/need-info-close.yml
  .github/workflows/need-info-verify.yml
  CONTRIBUTING.md
Due: prettier --write

docs: setup the jsapi in a template repro sample (#3040)
  CONTRIBUTING.md
Due: prettier --write

fix(color-picker): fix mouse tracking logic when moved within another component's shadow DOM (#3041)
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): Better handling of overflow actions on smaller screens (#3042)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/functional/CalciteExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons version (#3045)
  package-lock.json
  package.json
Due: prettier --write

1.0.0-beta.65 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(sortable-list): updated to use column layout and include layout property
  src/components/calcite-sortable-list/calcite-sortable-list.scss
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-sortable-list/readme.md
  src/components/calcite-sortable-list/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(action-bar): Skip unstable test related to resize observer. (#3049)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#3047)
  package-lock.json
  package.json
Due: prettier --write

refactor(combobox): single select text wrong font weight (#3039)
  src/components/calcite-combobox/calcite-combobox.scss
Due: prettier --write, stylelint --fix

refactor(stepper): change text sizing to use -h (#3038)
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/demos/calcite-stepper.html
Due: prettier --write, stylelint --fix

ci(screener): update config to catch small changes (#3030)
  screener.config.js
Due: prettier --write, eslint --ext .js --fix

chore: add template samples to bug issue template (#3056)
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  .github/workflows/need-info-verify.yml
Due: prettier --write

docs(usage): add missing examples (#3050)
  src/components/calcite-card/readme.md
  src/components/calcite-card/usage/Basic.md
  src/components/calcite-combobox-item-group/readme.md
  src/components/calcite-combobox-item/readme.md
  src/components/calcite-combobox/readme.md
  src/components/calcite-dropdown/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-input-date-picker/readme.md
  src/components/calcite-input-date-picker/usage/Basic.md
  src/components/calcite-input-time-picker/readme.md
  src/components/calcite-input-time-picker/usage/Basic.md
  src/components/calcite-link/readme.md
  src/components/calcite-link/usage/Basic.md
  src/components/calcite-pagination/readme.md
  src/components/calcite-pagination/usage/Basic.md
  src/components/calcite-pick-list-item/readme.md
  src/components/calcite-pick-list/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-group/readme.md
  src/components/calcite-radio-group/usage/Basic.md
  src/components/calcite-rating/readme.md
  src/components/calcite-rating/usage/Basic.md
  src/components/calcite-select/readme.md
  src/components/calcite-tile-select/readme.md
  src/components/calcite-tile-select/usage/Basic.md
  src/components/calcite-tile/readme.md
  src/components/calcite-tile/usage/Basic.md
  src/components/calcite-value-list/readme.md
Due: prettier --write

ci: revisit travis-deployment script (#3057)
  .travis.yml
  package.json
  support/deployNextFromTravis.sh
  support/deployNextFromTravis.ts
  support/deployNextFromTravisWrapper.sh
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: move release process out of contributing doc (#3062)
  CONTRIBUTING.md
Due: prettier --write

chore: allow doc samples for repro (#3065)
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  CONTRIBUTING.md
Due: prettier --write

docs: remove native label (#3068)
  src/components/calcite-input-date-picker/readme.md
  src/components/calcite-input-date-picker/usage/Basic.md
Due: prettier --write

refactor(panel): padding and icon size adjustments
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(checkbox): resize calcite-checkbox when unchecked & focusout (#2995)
  src/components/calcite-checkbox/calcite-checkbox.scss
Due: prettier --write, stylelint --fix

fix(slider): move maxValue thumb when at min edge (#2481) (#3078)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(actions): need info edit event removes label (#3073)
  .github/workflows/need-info-verify.yml
Due: none

chore: auto assign installed issues for verification (#3067)
  .github/need-info.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Due: none

fix(slider): align minValue thumb when both minValue/maxValue are zero (#2480) (#3083)
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): stop emitting change on page load (#3084)
  src/components/calcite-slider/calcite-slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.html) or (any of: *.js)) or (any of: *.{json,md})) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
