Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.91
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix: ensure handled key events are canceled and ignore canceled-events (#5083)
  conventions/README.md
  src/components/action-menu/action-menu.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/handle/handle.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/panel/panel.tsx
  src/components/popover/PopoverManager.ts
  src/components/radio-button/radio-button.tsx
  src/components/switch/switch.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
  src/utils/form.spec.ts
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5135)
  src/components/action-menu/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/handle/readme.md
  src/components/input-date-picker/readme.md
  src/components/popover/readme.md
  src/components/split-button/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

docs: consistent api ref s-named components (#5133)
  src/components/scrim/scrim.tsx
  src/components/select/select.scss
  src/components/select/select.tsx
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.scss
  src/components/shell/shell.tsx
  src/components/slider/slider.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5140)
  src/components/scrim/readme.md
  src/components/select/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/switch/readme.md
Due: prettier --write

fix: patch esm resolution issue causing webpack build error (#5145)
  package.json
  support/patchESMResolution.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add action to audit and fix npm deps (#5151)
  .github/workflows/npm-audit.yml
Due: prettier --write

fix(stepper-item): avoid emitting change event when clicking content in horizontal layout (#5150)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-button-group): fix incorrect event payload type (#5153)
  src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: introduce test util to skip animations (#5154)
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tree): add none selection mode (#5128)
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5173)
  src/components/radio-button-group/readme.md
  src/components/tree/readme.md
Due: prettier --write

refactor(input-time-picker, tab-nav): remove duplicate stopPropagations (#5172)
  src/components/input-time-picker/input-time-picker.tsx
  src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(stepper-item,dropdown-item): deprecate active and add support for selected prop (#5097)
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(scrim): reverts change to hidden attribute that caused a transition regression on scrim (#5174)
  src/assets/styles/includes.scss
  src/components/stepper/stepper.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(date-picker): no longer misalign dates with day in `en-gb`,`en-au`,`nb`,`es`,`de` locales (#5175)
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): display autofilled username/password input values (#5149)
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: wait for body to load before initializing theme change event (#5180)
  src/utils/globalScript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.92
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#5181)
  src/components/dropdown-item/readme.md
  src/components/stepper-item/readme.md
Due: prettier --write

fix: initialize calciteThemeChange when DOM content is loaded before globalScript executes (#5184)
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/utils/globalScript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip, popover): reconnecting the component to the DOM should work (#5185)
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): Remove scrolling when max-items >= number of dropdown items (#5188)
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: allow github repos as repro samples (#5190)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/need-info.yml
  src/demos/dropdown.html
Due: prettier --write

feat(color-picker): allow pasting hex values with # character (#5189)
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell): fix z-index for content-behind mode (#5183)
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): no longer has left padding when placeholder-icon is empty (#5073)
  src/components/chip/chip.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown): Fix placement typings (#5165)
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(popover): autoClose should work when clicking on another popover reference element (#5178)
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): Correct placement when opening (#5169)
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5193)
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Due: prettier --write

docs: Include code documentation notes (#5195)
  conventions/Documentation.md
Due: prettier --write

fix(combobox, dropdown, input-date-picker, popover): Correctly honor flipPlacements property. (#5170)
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): calciteModalOpen and calciteModalBeforeOpen emit after initial transition (#5187)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(accordion, action, button, chip, color-picker, split-button): deprecate clear & default appearance types (#4744)
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/action/action.scss
  src/components/button/button.scss
  src/components/button/interfaces.ts
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/interfaces.ts
  src/components/split-button/split-button.scss
  src/components/tooltip/tooltip.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): eliminates extra tab required to focus input via keyboard (#5198)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(release): fix Windows errors (#5209)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.93
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: update component READMEs (#5215)
  src/components/accordion/readme.md
  src/components/button/readme.md
  src/components/color-picker/readme.md
  src/components/split-button/readme.md
Due: prettier --write

test(list): use placeholder image util (#5214)
  src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
