Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(accordion-item): add actions-start and actions-end slots (#6631)
  src/components/accordion-item/accordion-item.tsx
Due: none

docs(input, input-number, input-text): api consistency across components (#6634)
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
Due: none

fix(tile): adds styling to `tile` where `link` is present for additional distinction (#6628)
  src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

chore: update jsbin sample to CC 1.0 breaking changes and latest jsapi version (#6651)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/need-info.yml
Due: prettier --write

fix(pagination): add current page information for screen readers (#6637)
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Due: none

fix(card): provide more meaningful screen reader label for selectable cards (deprecates `deselect` message override) (#6657)
  src/components/card/assets/card/t9n/messages.json
  src/components/card/assets/card/t9n/messages_en.json
  src/components/card/card.tsx
Due: prettier --write

feat(shell): Add panel-top slot (#6730)
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix

fix(block): Ensure description has correct line-height (#6723)
  src/components/block/block.scss
Due: prettier --write, stylelint --fix

docs(conventions): update t9n conventions (#6748)
  conventions/Internationalization.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: switch unpkg CDN to jsdelivr (#6741)
  package.json
  readme.md
  support/prepReleaseCommit.ts
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(action-bar, action-pad): Set layout property on child action-group elements. (#6739)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.stories.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
  src/components/shell/shell.stories.ts
  src/demos/action.html
Due: prettier --write

refactor(shell-panel, shell-center-row): Set layout property on slotted action-bar components. (#6745)
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
Due: none

chore: fix linting errors (#6744)
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/demos/_assets/locales.ts
  src/demos/input-time-picker.html
Due: prettier --write

build(deps): update calcite-ui-icons from 3.21.2 to 3.21.9 (#6752)
  package-lock.json
  package.json
Due: prettier --write

refactor: use composed-offset-position instead of custom utils (#6710)
  package-lock.json
  package.json
  src/utils/floating-ui.ts
  src/utils/floating-ui/utils.ts
Due: prettier --write

build: update browserslist db (#6756)
  package-lock.json
Due: prettier --write

refactor: remove invalid option from observers util (#6754)
  src/utils/observers.ts
Due: none

feat: make getAssetPath available in output targets (#6755)
  src/index.ts
Due: none

fix(dropdown): trigger should break words when overflowing container. (#6747)
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.md)
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
