Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

feat(input-time-picker): add readOnly prop support (#4910)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

1.0.0-beta.85
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

fix(combobox): Correctly read back items in voiceover (#4905)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card): Prevent content from overflowing when corners are rounded (#4908)
  src/components/card/card.scss
  src/components/card/card.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(chip,notice,panel,popover): deprecate dismissible & dismissed props and add support for closable & closed props (#4789)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.tsx
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): replacing breaking change from changelog with deprecation notice (#4914)
  CHANGELOG.md
Due: prettier --write

chore(linting): enable CSS logical prop rules (#3680)
  .stylelintrc.json
Due: prettier --write

ci: assign designers to installed issues when figma changes are required (#4909)
  .github/workflows/assign-for-verification.yml
Due: prettier --write

fix(accordion, combobox, dropdown, tree): remove excessive borders in high contrast mode (#4913)
  src/components/accordion-item/accordion-item.scss
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown/dropdown.scss
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.scss
Due: prettier --write, stylelint --fix

revert: css-only hydration to prevent FOUC (#4916)
  .gitignore
  package.json
  src/assets/styles/global.scss
  stencil.config.ts
  support/hydrationStyles.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): Add stylelint-use-logical-spec dependency. (#4919)
  package-lock.json
  package.json
Due: prettier --write

1.0.0-beta.86
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs(changelog): remove duplicate label entry (#4922)
  CHANGELOG.md
Due: prettier --write

build: use postcss to ensure logical prop usage (#3765)
  .stylelintrc-postcss.json
  package-lock.json
  src/assets/styles/_popper.scss
  src/components/accordion-item/accordion-item.scss
  src/components/card/card.scss
  src/components/chip/chip.scss
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/dropdown/dropdown.scss
  src/components/slider/slider.scss
  src/components/tab-nav/tab-nav.scss
  src/components/tree-item/tree-item.scss
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4923)
  src/components/accordion-item/readme.md
  src/components/chip/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/icon/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-time-picker/readme.md
  src/components/label/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/progress/readme.md
  src/components/value-list/readme.md
Due: prettier --write

fix(accordion-item): add on-demand screen reader feedback to collapsed and expansion interaction (#4931)
  src/components/accordion-item/accordion-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card): align footer leading and trailing slots vertically. (#4920)
  src/components/card/card.scss
Due: prettier --write, stylelint --fix

chore: warn on keypress, keyup usage in JSX for consistency (#3672)
  .eslintrc.json
Due: prettier --write

fix(stepper): revisit horizontal layout approach to avoid rearranging the DOM (#4367)
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/interfaces.ts
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.scss
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(storybook): block indexing from search engines (#4941)
  .storybook/manager-head.html
Due: prettier --write

docs: update component READMEs (#4942)
  src/components/stepper-item/readme.md
Due: prettier --write

refactor(input-date-picker): to implement OpenCloseComponent interface (#4937)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dropdown): implement OpenCloseComponent interface (#4921)
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(alert): implement OpenCloseComponent interface (#4915)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox): replace transitionrun with transitionstart and cleanup (#4947)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(types): set up type-fest (#4943)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#4951)
  src/components/alert/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Due: prettier --write

refactor(modal): implements OpenCloseComponent interface (#4948)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(popover): implements OpenCloseComponent interface (#4950)
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pick-list-item): Make label property required. (#3373) (#4907)
  src/components/pick-list-item/pick-list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(linting): replace deprecated prop for same line bracket (#4952)
  .prettierrc.json
Due: prettier --write

fix(modal, alert, combobox, dropdown, input-date-picker, popover): Scope open and close events to component (#4962)
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action): updates line-height and affected y padding
  src/components/action/action.scss
  src/components/action/action.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(stepper-item): restore disabled styling on horizontal layout stepper items (#4964)
  src/assets/styles/includes.scss
  src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix(stepper-item): remove bottom margin on content from horizontal layout (#4966)
  src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix(stepper-item): avoid cursor-pointer on item content for horizontal layouts (#4965)
  src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

feat(input-date-picker): deprecate active property in favor of open (#4972)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: switch project module type to ESM (#4890)
  .storybook/package.json
  .storybook/screener.config.js
  package-lock.json
  package.json
  support/checkSquashMergeableBranch.ts
  support/cleanOnProcessExit.ts
  support/deployNextFromCI.ts
  support/patchES5Helpers.ts
  support/prepReleaseCommit.ts
  support/prepublish.ts
  support/releaseToGitHub.ts
  tsconfig-node-scripts.json
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix

refactor: replace popper.js with floating-ui (#3836)
  package-lock.json
  package.json
  src/assets/styles/_floating-ui.scss
  src/assets/styles/_popper.scss
  src/assets/styles/includes.scss
  src/components/action-menu/action-menu.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/split-button/split-button.tsx
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/tests/commonTests.ts
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
  src/utils/popper.spec.ts
  src/utils/popper.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
