Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*/!(assets)/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

chore: sort t9n manifest entries (#7063)
  t9nmanifest.txt
Due: none

build: update browserslist db (#7051)
  package-lock.json
Due: prettier --write

test: set up `slots` helper to run a test per use case (#7083)
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/action/action.e2e.ts
  src/components/block/block.e2e.ts
  src/components/card/card.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/combobox-item/combobox-item.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/list-item/list-item.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/pick-list-group/pick-list-group.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/shell-center-row/shell-center-row.e2e.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/shell.e2e.ts
  src/components/stack/stack.e2e.ts
  src/components/tile/tile.e2e.ts
  src/components/tip/tip.e2e.ts
  src/components/tree-item/tree-item.e2e.ts
  src/components/value-list-item/value-list-item.e2e.ts
  src/tests/commonTests.ts
Due: none

fix(menu-item): Ensure correct order of rendered icons (#7098)
  src/components/menu-item/menu-item.stories.ts
  src/components/menu-item/menu-item.tsx
  src/demos/menu.html
Due: prettier --write

fix(list): Improve border styling (#7160)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.scss
Due: prettier --write, stylelint --fix

docs(changelog): Update commit message for #7160 (#7161)
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci(release-please): change PR title and ensure git tag consistency (#7153)
  packages/calcite-components/CHANGELOG.md
  release-please-config.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build: update browserslist db (#7162)
  package-lock.json
Due: prettier --write

fix(input,input-number): allow typing decimal separator in firefox for arabic locale (#7173)
  packages/calcite-components/src/utils/locale.ts
Due: none

fix(input-date-picker): Fix showing the placeholder when resetting the value (#7156)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: none

fix(tooltip): improve component timing (#7172)
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/resources.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: none

feat(list): Add slots for filter actions (#7148)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix

fix(radio-button, radio-button-group): prevent emitting events when selecting a checked radio button (#7102)
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Due: none

revert: Add slots for filter actions" (#7179)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix

ci: add design complete automation (#7184)
  .github/workflows/design-complete.yml
Due: prettier --write

chore(t9n): move manifest file to root level. (#7134)
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/syncEnT9nBundles.ts
  packages/calcite-components/t9nmanifest.txt
  t9nmanifest.txt
Due: none

fix(scrim): Responsively set the scale of the loading spinner (#7182)
  packages/calcite-components/src/components/scrim/resources.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Due: none

fix(alert): Sets autoCloseDuration to "medium" by default (#7157)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.tsx
Due: none

build: ignore node_modules and build outputs when watching for changes during stencil tests (#7209)
  packages/calcite-components/stencil.config.ts
Due: none
