Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

ci: fix storybook deployment action (#4451)
  .github/workflows/deploy-storybook.yml
  package.json
Due: prettier --write

chore: modify test template (#4454)
  .github/ISSUE_TEMPLATE/test.yml
Due: prettier --write

docs: update component READMEs (#4455)
  src/components/input-time-picker/readme.md
Due: prettier --write

ci: add current milestone when pr merged (#4453)
  .github/workflows/pr-bot.yml
  .github/workflows/pr-milestone.yml
Due: prettier --write

docs(block): update props desc and values (#4467)
  src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4474)
  src/components/block/readme.md
Due: prettier --write

fix(filter): fix inconsistent text-clearing UX (#4456)
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/resources.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/input/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#4480)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#4476)
  src/components/filter/readme.md
  src/components/icon/readme.md
  src/components/input/readme.md
  src/components/pick-list/readme.md
  src/components/value-list/readme.md
Due: prettier --write

docs: consistent api refs for value-list and value-list-item (#4479)
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(checkbox): no longer displays focus outline in chrome and FF (#4472)
  src/components/checkbox/checkbox.scss
  src/components/checkbox/checkbox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(commonTests): Cleanup formatting. (#4484)
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4475)
  package-lock.json
Due: prettier --write

docs: update component READMEs (#4485)
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Due: prettier --write

fix(slider): prevent parent word-break from breaking labels (#4457)
  src/components/slider/slider.scss
  src/components/slider/slider.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(chip): apply --calcite-ui-icon-color to chip icon if defined (#4450)
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(action-menu): Store tooltip using assignedElements on slotChange. (#4482)
  src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: prepend github actor to token to fix storybook deployment automation (#4478)
  .github/workflows/deploy-storybook.yml
Due: prettier --write

fix(split-button): Enable keyboard navigation (#4375)
  src/components/dropdown/dropdown.tsx
  src/components/split-button/split-button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: consistent api refs for tree and tree-item (#4488)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): up key moves caret to the beginning of text for text input and text area, for number it only increments (#4471)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): when listbox item is selected with a click, "tab" will now close the listbox and unfocus the element before moving to the next (#4464)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4497)
  src/components/tree-item/readme.md
  src/components/tree/readme.md
Due: prettier --write

fix(input-date-picker): no longer allows selection before minAsDate and after maxAsDate (#4486)
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(label): fix memory leak from label util (#4498)
  src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: fix potential memory leak for form resetting on form controls (#4499)
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): display appropriate last date of previous month (#4501)
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(internal): add jsdoc for common test helpers (#4487)
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell-panel): Remove border on slotted panels that are dismissed (#4503)
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#4505)
  package-lock.json
Due: prettier --write

fix(input, combobox, input-date-picker, input-time-picker): Enter key event should submit form (#4439)
  src/components/button/button.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/filter/filter.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/demos/_assets/demo-form.ts
  src/tests/commonTests.ts
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): color field and hue slider thumbs do not overflow container (#4493)
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): stop emitting a change event on blur when the value is set directly and in cases when the value hasn't changed (#4463)
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: Ensure components set boolean aria values properly (#4504)
  src/components/accordion-item/accordion-item.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/card/card.tsx
  src/components/checkbox/checkbox.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/handle/handle.tsx
  src/components/icon/icon.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/shared-list-render.tsx
  src/components/popover/popover.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group-item/radio-group-item.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tooltip/tooltip.tsx
  src/components/tree-item/tree-item.tsx
  src/components/value-list-item/value-list-item.tsx
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(stepper, stepper-item): Clean up code and add additional types (#4491)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/interfaces.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(panel): Conditionally set tabindex on scrollable area. (#4374)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): add high contrast specific styles for component (#4517)
  src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

fix(stepper): Selection methods should ignore disabled items (#4490)
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tab-title): calciteTabsActivate emits tab property or index position (#4502)
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(stepper): Fix direction setting. (#4521)
  src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
