Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

refactor(tooltip, popover, input-date-picker): `onToggleOpenCloseComponent` replaces connect logic (#7358)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal): use inline style to set overflow instead of a class (#7347)
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/modal/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: clean up global stylesheets (#7377)
  packages/calcite-components/src/assets/styles/_animation.scss
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/assets/styles/global.scss
Due: prettier --write, stylelint --fix

docs(changelog): modify changelog for text-area description context (#7443)
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(panel): Correct header and action-bar z-indexing display issues (#7440)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(panel): Add native tooltip to close button. (#7434)
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow-item): Use a native tooltip for the back button (#7442)
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-time-zone): Skip unstable test. (#7449)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar, action-pad): Add native tooltip to expand action (#7452)
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: improve test failure messaging for defaults and reflects helpers (#7455)
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
