Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(panel): ensure close button is placed in the corner of the panel header. (#6746)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/demos/panel.html
Due: prettier --write

feat(panel): Add slot for an action-bar component. (#6738)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/demos/panel.html
Due: prettier --write, stylelint --fix

refactor(tile-select): simplify pointer enter/leave handlers (#6778)
  src/components/tile-select/tile-select.tsx
Due: none

fix(combobox, dropdown, input-date-picker, popover, tooltip): fix misplaced floating-ui elements when associated-components are closed (#6709)
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Due: none

docs: add color-picker-swatch name (#6780)
  src/components/color-picker-swatch/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

refactor: DRY up form-associated tests (#6783)
  src/tests/commonTests.ts
Due: none

test: stabilize tests (#6784)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/text-area/text-area.e2e.ts
Due: none

feat: add json for de-AT locale with locale-specific data (#6788)
  src/components/date-picker/assets/date-picker/nls/de-AT.json
  src/utils/locale.ts
Due: prettier --write

feat(shell-panel): Place Action Bar in correct location when used in top / bottom Shell slots (#6761)
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.scss
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/resizable-panels.html
Due: prettier --write, stylelint --fix

feat: allow disabled elements to emit pointer events without triggering activation (#6732)
  src/assets/styles/includes.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.tsx
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/label/label.scss
  src/components/link/link.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.scss
  src/components/segmented-control/segmented-control.tsx
  src/components/slider/slider.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tree-item/tree-item.tsx
  src/tests/commonTests.ts
  src/utils/interactive.ts
Due: prettier --write, stylelint --fix

feat(chip-group): Add Chip Group component (#6075)
  src/components/chip-group/chip-group.e2e.ts
  src/components/chip-group/chip-group.scss
  src/components/chip-group/chip-group.stories.ts
  src/components/chip-group/chip-group.tsx
  src/components/chip-group/readme.md
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
  src/components/combobox/combobox.tsx
  src/demos/chip-group.html
  src/demos/chip.html
  src/index.html
  stencil.config.ts
Due: prettier --write, stylelint --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(input-date-picker): allow toggling date picker by clicking the input or entering the down/escape key (#6805)
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/resources.ts
  src/components/input/input.tsx
  src/utils/globalAttributes.ts
Due: prettier --write, stylelint --fix

fix(shell-panel): Side panels should appear over center panels (#6787)
  src/components/shell-center-row/shell-center-row.scss
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix

docs(shell-panel): Update css var descriptions (#6828)
  src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

feat(input-date-picker): add focus trap support (#6816)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/tests/commonTests.ts
  src/tests/utils.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Due: none

fix(stepper): rerender stepper items when parent numbering system changes (#6563)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Due: none

fix(input-date-picker): Correctly position open component when scrolling (#6815)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: none

chore(input-time-picker): add strings for translation (#6843)
  src/components/input-time-picker/assets/input-time-picker/t9n/messages.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_ar.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_en.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_fr.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_th.json
  t9nmanifest.txt
Due: prettier --write

fix(date-picker): fix range highlight style regression (#6836)
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.{json,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.md)
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
