Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(card): drop hover/press styling (#5212)
  src/components/card/card.scss
Due: prettier --write, stylelint --fix

feat(flow): Adds flow-item component to replace use of panel within a flow (#5129)
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.scss
  src/components/flow-item/flow-item.tsx
  src/components/flow-item/resources.ts
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.scss
  src/components/flow/flow.stories.ts
  src/components/flow/flow.tsx
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/shell/shell.stories.ts
  src/demos/flow.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5224)
  src/components/action/readme.md
  src/components/flow-item/readme.md
  src/components/flow/readme.md
  src/components/panel/readme.md
Due: prettier --write

test(radio-button): update to help test click behavior via HTMLElement.click() (#5222)
  src/components/radio-button/radio-button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(switch): update to help test click behavior via HTMLElement.click() (#5225)
  src/components/switch/switch.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-time-picker): deprecate active prop and add open prop (#5179)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(checkbox): update to help test click behavior via HTMLElement.click() (#5223)
  src/components/checkbox/checkbox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5232)
  src/components/input-time-picker/readme.md
Due: prettier --write

docs: incorporate the api reference style guide in some t-named components (#5230)
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/tile-select-group/tile-select-group.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tile/tile.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-group/tip-group.tsx
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(combobox): verify if user is able to tab through the component (#5234)
  src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: patch rollup tree shaking stencil issue (#5233)
  package-lock.json
  package.json
  support/patchESMResolution.ts
  support/patchTreeShaking.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(modal): close button padding is aligned (#5217)
  src/components/modal/modal.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs (#5235)
  src/components/tab-nav/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tabs/readme.md
  src/components/tile-select-group/readme.md
  src/components/tile-select/readme.md
  src/components/tile/readme.md
  src/components/time-picker/readme.md
  src/components/tip-group/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
Due: prettier --write

fix(time-picker, input-time-picker): initialize meridiem at the start of the time for rtl locales (#5246)
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): end date time is set to end of the day (#5220)
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/utils.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(release): remove debugging logs (#5213)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(link): add support for HTMLElement.click() (#5231)
  src/components/link/link.e2e.ts
  src/components/link/link.tsx
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): disable screener PR checks (#5253)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci: close past due milestone when its last issue is moved (#5229)
  .github/workflows/close-milestone.yml
Due: prettier --write

feat(accordion-item,radio-group-item): deprecate iconPosition & icon and add support for iconStart and iconEnd (#4807)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/resources.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/radio-group-item/radio-group-item.e2e.ts
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.stories.ts
  src/demos/accordion.html
  src/demos/radio-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(contributing, conventions): proofread and add additional info (#5228)
  CONTRIBUTING.md
  conventions/Documentation.md
Due: prettier --write

docs: update component READMEs (#5266)
  src/components/accordion-item/readme.md
  src/components/radio-group-item/readme.md
Due: prettier --write

ci(close-milestone): fix issue due to no optional chaining (#5264)
  .github/workflows/close-milestone.yml
Due: prettier --write

fix(list-item): Use margin instead of padding when slotting icons. (#5277)
  src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

feat(slider)!: add a groupSeparator prop to enable toggling display of separator in label (#5138)
  src/components/slider/resources.ts
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action, card, tooltip): cleanup screener snapshots (#5283)
  src/components/action/action.stories.ts
  src/components/card/card.stories.ts
  src/components/tooltip/tooltip.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5282)
  src/components/slider/readme.md
Due: prettier --write

ci(screener): refine when screener runs on pull requests (#5280)
  .github/workflows/pr-screener.yml
Due: prettier --write

feat(pagination)!: add groupSeparator prop to enable toggling display of separator in pages (#5265)
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(screener): create job for manual screener runs (#5285)
  .github/workflows/pr-screener.yml
Due: prettier --write

ci(screener): fix lock file error when running manually (#5288)
  .github/workflows/pr-screener.yml
Due: prettier --write

chore: revert dropdown demo modification (#5291)
  src/demos/dropdown.html
Due: prettier --write

feat(input-time-picker): Add overlayPositioning property. (#5290)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox, dropdown, input-date-picker, popover, tooltip): Improve floating ui performance. (#5289)
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(action): Add a slot for a calcite-tooltip (#5293)
  src/components/action/action.e2e.ts
  src/components/action/action.tsx
  src/components/action/resources.ts
  src/components/action/usage/With-text-displayed.md
  src/components/action/usage/With-tooltip.md
  src/components/action/usage/Without-text-displayed.md
  src/demos/action.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree-item): preserve the alignment of tree-items with selection-mode: none regardless of whether they have children (#5292)
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab): active indicator width grows with tab-title (#5250)
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: remove redundant code block (#5298)
  src/components/accordion/accordion.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: remove unsafe-eval to support CSP script-src (#5299)
  src/utils/globalScript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
