Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

test(value-list): Skip unstable test. (#5738)
  src/components/value-list/value-list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(pr-bot): check user login for dependabot instead of actor (#5740)
  .github/workflows/pr-bot.yml
Due: prettier --write

revert: bump semver-regex and screener-storybook (#5741) (#5742)
  package-lock.json
  package.json
Due: prettier --write

feat(tabs): Add support for navigating with Home and End keys (#5727)
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tree): Skip unstable test. (#5744)
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(inline-editable): Add text-ellipsis when not editing (#5679)
  src/components/inline-editable/inline-editable.stories.ts
  src/components/input/input.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(docs): generate docs-json for afd usage (#5748)
  package.json
Due: prettier --write

ci: add chromatic (#5733)
  .github/workflows/chromatic.yml
  .storybook/helpers.ts
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/05-custom-theme.stories.mdx
  src/components/accordion/accordion.stories.ts
  src/components/action-bar/action-bar.stories.ts
  src/components/action-pad/action-pad.stories.ts
  src/components/alert/alert.stories.ts
  src/components/card/card.stories.ts
  src/components/loader/loader.stories.ts
  src/components/modal/modal.stories.ts
  src/components/pagination/pagination.stories.ts
  src/components/progress/progress.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): Wrap and break text on long items (#5672)
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(pr-bot): don't label dependabot PRs (#5759)
  .github/workflows/pr-bot.yml
Due: prettier --write

ci(product-label): fix version syntax and use os agnostic newline char (#5762)
  .github/workflows/add-esri-product-label.yml
Due: prettier --write

fix(input-date-picker): restores mouse clicks on date-picker popup (#5760)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(modal): Update modal to use focus-trap module. (#5676)
  package-lock.json
  package.json
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/tests/commonTests.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block, date-picker, list-item-group, panel, pick-list-group, popover, tip, tip-manager)!: Set default internal heading to a div. (#5728)
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
  src/components/functional/Heading.spec.tsx
  src/components/functional/Heading.tsx
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item-group/resources.ts
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-group/resources.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/components/tip-manager/resources.ts
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/resources.ts
  src/components/tip/tip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pick-list, value-list): Add calciteListFilter event, filteredItems prop, filterText prop and filteredData prop. (#5681)
  src/components/filter/filter.tsx
  src/components/pick-list/pick-list.tsx
  src/components/pick-list/shared-list-logic.ts
  src/components/pick-list/shared-list-render.tsx
  src/components/pick-list/shared-list-tests.ts
  src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: Deprecate conditionalSlot utility and getSlotted method (#5380)
  src/utils/conditionalSlot.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input, input-number): decimals no longer contain groupSeparators and remove leading zeros (#5490)
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(calcite-loader, calcite-input-message)!: drop active in favor of hidden (#5761)
  src/components/action/action.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/inline-editable/inline-editable.stories.ts
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.stories.ts
  src/components/input-text/input-text.stories.ts
  src/components/input/input.stories.ts
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
  src/components/loader/readme.md
  src/components/loader/usage/Compact.md
  src/components/scrim/scrim.tsx
  src/custom-theme.md
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5773)
  src/components/pick-list/readme.md
  src/components/value-list/readme.md
Due: prettier --write

docs: update changelog's breaking changes. (#5780)
  CHANGELOG.md
Due: prettier --write

feat(tooltip): Add tooltip open, close, beforeOpen, and beforeClose events (#5772)
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(popover): Add focus-trap to popover and disableFocusTrap property. (#5725)
  src/components/action-menu/action-menu.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(changelog): remove redundant information from changelog and add a follow-up note to contributing docs (#5781)
  CHANGELOG.md
  CONTRIBUTING.md
Due: prettier --write

docs: update component READMEs (#5782)
  src/components/input-message/readme.md
  src/components/loader/readme.md
  src/components/popover/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

fix(block): slow down loading icon spin (#5778)
  src/components/block/block.scss
Due: prettier --write, stylelint --fix

docs(changelog): cleanup (#5787)
  CHANGELOG.md
Due: prettier --write

feat(alert): support actions-end (#5750)
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(list, list-item, list-item-group)!: Adds support for selecting and filtering list items. Improves accessibility by using aria "treegrid" role. (#4527)
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/list-item-group/list-item-group.scss
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item-group/resources.ts
  src/components/list-item/interfaces.d.ts
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list-item/utils.ts
  src/components/list/list.e2e.ts
  src/components/list/list.scss
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/components/list/resources.ts
  src/demos/list.html
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5788)
  src/components/alert/readme.md
  src/components/filter/readme.md
  src/components/icon/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/scrim/readme.md
Due: prettier --write

refactor(list-item): Use DOM utility for checking if slot has assigned element. (#5790)
  src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(list): Fix storybook filtering for list. (#5789)
  src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: changelog modifications aren't overwritten after next releases (#5791)
  CHANGELOG.md
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(action)!: Removed deprecated properties and values (#5799)
  .storybook/resources.ts
  src/components/action/action.scss
  src/components/action/action.stories.ts
  src/components/action/action.tsx
  src/components/interfaces.ts
  src/components/pick-list-item/pick-list-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(contributing): add additional info about environment setup (#5802)
  CONTRIBUTING.md
Due: prettier --write

docs: update component READMEs (#5804)
  src/components/action/readme.md
Due: prettier --write

docs(tree): Update interface for selectionMode. (#5801)
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): display updated valueAsDate in the two range inputs (#5758)
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write
