Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

feat(accordion-item): add actions-end and actions-start slots (#4958)
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/resources.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): bump @esri/eslint-plugin-calcite-components (#4985)
  package-lock.json
  package.json
Due: prettier --write

feat(action-menu, date-picker, input-date-picker, input-time-picker, modal, tip-manager)!: use keydown for consistent interaction behavior (#4936)
  src/components/action-menu/action-menu.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/modal/modal.tsx
  src/components/tip-manager/tip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): Remove popper remnants. (#4995)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(linting): enable rule to help with key event consistency (#4984)
  .eslintrc.json
Due: prettier --write

docs(accordion, accordion-item): Update docs to use heading and description props. (#4982)
  src/05-custom-theme.stories.mdx
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/readme.md
  src/components/accordion/usage/Basic.md
  src/demos/accordion.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: add __dirname vars that are missing in ESM (#4998)
  support/patchES5Helpers.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion-item): allows initially expanded items to toggle (#4974)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(notice): deprecate active prop and add support for open prop (#4973)
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.scss
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/demos/notice.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(alert, combobox, dropdown, modal, input-date-picker, popover): restore JSDoc comments (#4999)
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#4963)
  src/components/action-menu/readme.md
  src/components/alert/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

fix(panel): removes dismissed prop on close (#4977)
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
  src/demos/panel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: deploy storybook after next releases (#5004)
  .github/workflows/deploy-next.yml
  .github/workflows/deploy-storybook.yml
  package.json
Due: prettier --write

fix(combobox): Announce selection to assistive technologies in focus and on demand (#5002)
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: fix dynamic import in prepReleaseCommit (#5007)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(linting): ban event/error param abbreviation (#4983)
  .eslintrc.json
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/alert/alert.tsx
  src/components/card/card.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/switch/switch.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(modal,block,loader): deprecate disablePadding , noPadding and add support for custom CSS variables (#4939)
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5009)
  src/components/action-bar/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/card/readme.md
  src/components/checkbox/readme.md
  src/components/chip/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-day/readme.md
  src/components/date-picker-month/readme.md
  src/components/handle/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
  src/components/loader/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/shell-panel/readme.md
  src/components/slider/readme.md
  src/components/sortable-list/readme.md
  src/components/split-button/readme.md
  src/components/switch/readme.md
  src/components/tile-select/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
Due: prettier --write

build: fix dynamic ESM imports (#5010)
  support/cleanOnProcessExit.ts
  support/prepReleaseCommit.ts
  support/releaseToGitHub.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump @esri/eslint-plugin-calcite-components (#5008)
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown): Fix navigating without a dropdown-group (#4949)
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar, action-pad): Allow users to define custom max-width with CSS (#5006)
  src/components/action-bar/action-bar.scss
  src/components/action-bar/action-bar.stories.ts
  src/components/action-pad/action-pad.scss
  src/components/action-pad/action-pad.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action-bar): Add property for "horizontal" layout (#4838)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.scss
  src/components/action-bar/action-bar.stories.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-bar/utils.ts
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/demos/action.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(shell): Allow a single detached shell-panel at the end in content-behind mode (#5000)
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/readme.md
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/components/shell/usage/Advanced.md
  src/components/shell/usage/With-panel-and-action-bar.md
  src/components/shell/usage/With-panels.md
  src/demos/shell/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(stepper-item): Correctly emit position in calciteStepperItemChange event (#4938)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pick-list, value-list): fix error when typing special regex chars (#5012)
  src/components/filter/filter.tsx
  src/components/pick-list/shared-list-tests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: deploy storybook before releasing next (#5017)
  .github/workflows/deploy-next.yml
  package.json
  support/deployNextFromCI.ts
  support/isNextDeployable.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: fix CLI option handling in ESM scripts (#5019)
  support/cleanOnProcessExit.ts
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5018)
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/shell/readme.md
Due: prettier --write

fix(tab, tab-title): Fix accessibility and keyboard navigation (#4979)
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(tab-title): Fix event variable name. (#5024)
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(pick-list-group, tip, tip-manager, block, panel): headingLevel should not adjust styling (#5014)
  src/assets/styles/_header.scss
  src/components/block/block.stories.ts
  src/components/panel/panel.stories.ts
  src/components/pick-list-group/pick-list-group.scss
  src/components/pick-list/pick-list.stories.ts
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip/tip.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

revert: Fix navigating without a dropdown-group (#5025)
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown,modal,combobox): active prop will be in sync with open prop (#4997)
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.tsx
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test: fix async issues (#5031)
  src/components/color-picker/color-picker.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/fab/fab.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): add short day names for pt-PT date picker (#5028)
  src/components/date-picker/assets/date-picker/nls/pt-PT.json
  src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox, dropdown): Make sure menus do not take up more than half of available height by default (#5015)
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(alert): deprecates active prop and syncs with open (#5029)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action-menu): Correctly close on touch devices (#5034)
  src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
