Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(button): unset margin when icon is empty (#3677)
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-button/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): input event fires when number ends with a decimal (#3719)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(switch): switch no longer has black outline when toggled with label (#3721)
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-switch/calcite-switch.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3689)
  package-lock.json
Due: prettier --write

fix(input): sanitize extra dashes and leading zeros from number input value (#3726)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(release): don't update cdn versions in readme on next releasees (#3729)
  support/prepReleaseCommit.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(Block): only render title node when heading or summary is used
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(release): ensure tags are pushed when releasing (#3731)
  package.json
Due: prettier --write

feat(loader): allow disabling animation and customizing animation/transition duration (#3487)
  src/components/calcite-loader/calcite-loader.scss
Due: prettier --write, stylelint --fix

fix(panel): remove truncating for summary and heading prop (#3736)
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab): remove the scroll that pops up regardless of any width size (#3279) (#3387)
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-tab-nav/calcite-tab-nav.scss
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tabs/calcite-tabs.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#3739)
  package-lock.json
Due: prettier --write

feat(tree-item): allow disabling animation & customizing animation/transition duration (#3498)
  src/components/calcite-tree-item/calcite-tree-item.scss
Due: prettier --write, stylelint --fix

feat(alert): allow disabling animation and customizing animation/transition duration (#3479)
  src/components/calcite-alert/calcite-alert.scss
Due: prettier --write, stylelint --fix

feat(radio-button-group-item): allow disabling & customizing animation/transition duration (#3484)
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
Due: prettier --write, stylelint --fix

feat(notice): allow customizing animation/transition duration (#3485)
  src/components/calcite-notice/calcite-notice.scss
Due: prettier --write, stylelint --fix

feat(modal): allow disabling animation and customizing animation/transition duration (#3486)
  src/components/calcite-modal/calcite-modal.scss
Due: prettier --write, stylelint --fix

fix(date-picker-month-header): add a corresponding aria-label to the year input (#3707)
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.e2e.ts
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.tsx
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-date-picker/resources.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): removed thick border around action-bar when nested in the shell-center-row (#3698)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
Due: prettier --write, stylelint --fix

build: use postcss to ensure logical prop usage (#3688)
  .stylelintrc-postcss.json
  package-lock.json
  package.json
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(scrim): allow disabling animation & customizing animation/transition duration (#3483)
  src/components/calcite-scrim/calcite-scrim.scss
Due: prettier --write, stylelint --fix

feat(slider): allow disabling & customizing animation/transition duration (#3482)
  src/components/calcite-slider/calcite-slider.scss
Due: prettier --write, stylelint --fix

revert: use postcss to ensure logical prop usage (#3753)
  .stylelintrc-postcss.json
  package-lock.json
  package.json
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3744)
  src/components/calcite-date-picker-month-header/readme.md
  src/components/calcite-date-picker/readme.md
  src/components/calcite-input-date-picker/readme.md
Due: prettier --write

ci(action): change misleading stale pr message (#3745)
  .github/workflows/stale.yml
Due: prettier --write

build(deps): change form-request-submit-polyfill to be a dependency (#3756)
  package-lock.json
  package.json
Due: prettier --write

refactor(3491): rename animation duration variables and revert base variab… (#3746)
  src/assets/styles/_animation.scss
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-color-picker/calcite-color-picker.scss
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/tests/globalStyles.e2e.ts
  tailwind.config.js
Due: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

1.0.0-beta.72
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write

docs: combine animation changelog entries (#3764)
  CHANGELOG.md
Due: prettier --write

ci(e2e): skip e2e tests on markdown only prs (#3692)
  .github/workflows/pr-e2e.yml
Due: prettier --write

fix(link): Set host display to inline. #3675 (#3768)
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#3769)
  CHANGELOG.md
Due: prettier --write

chore: configure vscode workspace settings and extensions (#3773)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

ci(action): cleanup teams release notification (#3771)
  .github/workflows/teams-release-msg.yml
Due: prettier --write

fix(switch): add back outline offset on focus (#3779)
  src/components/calcite-switch/calcite-switch.scss
Due: prettier --write, stylelint --fix

fix(avatar): avatars containing text vs icon vs image are now lined up when placed next to each other (#3774)
  src/components/calcite-avatar/calcite-avatar.e2e.ts
  src/components/calcite-avatar/calcite-avatar.scss
  src/demos/calcite-avatar.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input): set value to empty string instead of null or undefined (#3775)
  src/components/calcite-input/calcite-input.tsx
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(checkbox,radio-button): prevents disabled checkboxes and radio-buttons from receiving keyboard or mouse focus (#3784)
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-button/calcite-radio-button.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(tile-select): expanding visual snapshot coverage (#3571)
  .storybook/helpers.ts
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-tile-select/resources.ts
  src/components/calcite-tile/calcite-tile.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
