Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix(tree-item): Allow space and enter key events when selectionMode is "none" (#5800)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): 5540 - handle focus (#5774)
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/filter/filter.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(chromatic): use diffThreshold value saved in secrets (#5806)
  .github/workflows/chromatic.yml
Due: prettier --write

docs: update component READMEs (#5810)
  src/components/tree/readme.md
Due: prettier --write

feat(input, input-text, input-number): add attributes autocomplete, accept, multiple, pattern (#5807)
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5824)
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
Due: prettier --write

build: Revert bump @whitespace/storybook-addon-html from 5.0.0 to 5.0.3 (#5834)
  package-lock.json
  package.json
Due: prettier --write

refactor(tip-manager)!: Remove deprecated `calciteTipManagerToggle` event. (#5826)
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(flow, flow-item)!: Remove deprecated events and supported slotted content. (#5825)
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.stories.ts
  src/components/flow-item/flow-item.tsx
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.stories.ts
  src/components/flow/flow.tsx
  src/components/panel/panel.stories.ts
  src/components/shell-panel/readme.md
  src/components/shell-panel/usage/With-flow.md
  src/components/shell/readme.md
  src/components/shell/usage/Advanced.md
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(shell-panel)!: Remove deprecated `calciteShellPanelToggle` event. (#5820)
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(shell)!: Remove deprecated slots. (#5819)
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(list, list-item, list-item-group)!: Remove deprecated properties. (#5818)
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor!: Remove deprecated `*-leading` and `*-trailing` values for `placement` properties. (#5817)
  src/components/action-group/action-group.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(alert)!: Remove deprecated `active` property. (#5814)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/usage/Basic.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tooltip-manager)!: Remove deprecated component. (#5813)
  src/components/tooltip-manager/readme.md
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.scss
  src/components/tooltip-manager/tooltip-manager.tsx
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(popover)!: Remove deprecated properties. (#5822)
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(panel)!: Remove deprecated properties and events. (#5823)
  src/components/action-group/action-group.stories.ts
  src/components/action/usage/Clear-appearance.md
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/panel/usage/Closable.md
  src/components/panel/usage/Dismissible.md
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.stories.ts
  src/demos/action.html
  src/demos/flow.html
  src/demos/list.html
  src/demos/popover.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(pagination): numberingSystem and lang properties work without groupSeparator (#5828)
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
  src/demos/pagination.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(deps): exclude bumping @whitespace/storybook-addon-html due to chromatic errors (#5839)
  .github/dependabot.yml
  package.json
Due: prettier --write

build: update dependencies. (#5840)
  package-lock.json
  package.json
Due: prettier --write

ci: more tweaks to prevent chromatic diffs for text aliasing (#5846)
  .storybook/preview.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/slider/slider.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5850)
  src/components/action-menu/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/dropdown/readme.md
  src/components/flow-item/readme.md
  src/components/flow/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/tip-manager/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

ci(pr-bot): prevent from removing existing labels (#5851)
  .github/workflows/pr-bot.yml
Due: prettier --write

test(custom-theme): use placeholderImage (#5853)
  src/05-custom-theme.stories.mdx
Due: none

docs: consistent api reference throughout components (#5821)
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.tsx
  src/components/fab/fab.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/icon/icon.scss
  src/components/icon/icon.tsx
  src/components/inline-editable/inline-editable.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(accordion-item)!: Remove deprecated properties (#5808)
  src/05-custom-theme.stories.mdx
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/readme.md
  src/components/accordion/usage/Basic.md
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(popover-manager)!: Remove deprecated component (#5812)
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.scss
  src/components/popover-manager/popover-manager.tsx
  src/components/popover-manager/readme.md
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(block)!: Remove deprecated properties. (#5815)
  src/components/block/block.e2e.ts
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/block/usage/Basic.md
  src/components/block/usage/Header-with-control.md
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(action-menu)!: Remove deprecated calciteActionMenuOpenChange event payload (#5809)
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(chip)!: remove deprecated properties and values. (#5838)
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/readme.md
  src/components/chip/usage/Basic.md
  src/components/combobox/combobox.tsx
  src/demos/chip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5865)
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-menu/readme.md
  src/components/block/readme.md
  src/components/chip/readme.md
  src/components/date-picker-day/readme.md
  src/components/date-picker-month-header/readme.md
  src/components/date-picker-month/readme.md
  src/components/date-picker/readme.md
  src/components/dropdown-group/readme.md
  src/components/dropdown-item/readme.md
  src/components/dropdown/readme.md
  src/components/fab/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/icon/readme.md
  src/components/inline-editable/readme.md
Due: prettier --write

docs(contributing): estimate labels and guidance (#5849)
  CONTRIBUTING.md
Due: prettier --write

fix(alert): placement of link consistent with notice (#5852)
  src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

refactor(tree)!: Remove deprecated `inputEnabled` property (#5858)
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dropdown, dropdown-item)!: Remove deprecated properties (#5859)
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/usage/Basic.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/dropdown/usage/Groups.md
  src/components/split-button/split-button.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(slider)!: Remove deprecated `calciteSliderUpdate` event (#5863)
  src/components/slider/slider.tsx
  src/demos/slider.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(split-button)!: Remove deprecated `event.detail` on events (#5864)
  src/components/split-button/split-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(radio-group-item)!: Remove deprecated properties (#5862)
  src/components/radio-group-item/radio-group-item.e2e.ts
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.stories.ts
  src/demos/radio-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(changelog): fix breaking change indent levels (#5871)
  CHANGELOG.md
Due: prettier --write

docs: update component READMEs (#5874)
  src/components/dropdown-item/readme.md
  src/components/dropdown/readme.md
  src/components/radio-group-item/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/tree/readme.md
Due: prettier --write
