Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

fix(list): remove unnecessary z-index (#7678)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.scss
Due: prettier --write, stylelint --fix

fix: resolve vite errors due to using expressions in dynamic imports (#7671)
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-group): Honor flex-grow on slotted actions (#7690)
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: release main (#7654)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: fix launch config to work with the monorepo
  .vscode/launch.json
Due: prettier --write

chore: add spaces around link inside storybook notice (#7730)
  packages/calcite-components/.storybook/main.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove commented-out Tailwind directive (#7742)
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
Due: prettier --write, stylelint --fix

chore: disable eslint rule "jsdoc/require-returns-type" (#7747)
  packages/calcite-components/.eslintrc.cjs
Due: none

chore: add "xsmall" to custom spelling dictionary (#7746)
  support/dictionaries/dict-calcite-design-system.txt
Due: none

test(alert): skip unstable accessible test (#7749)
  packages/calcite-components/src/components/alert/alert.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input-time-zone): add max-items support (#7705)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(action, action-pad): update usage and action's `tooltip` slot (#7750)
  packages/calcite-components/src/components/action-pad/usage/Tooltip.md
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(dropdown): support dispatching enter key event on dropdown trigger (#7752)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add util to generate breakpoint stories (#7743)
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/src/utils/responsive.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(eslint): disable jsdoc/require-property-type (#7756)
  packages/calcite-components/.eslintrc.cjs
Due: none

chore(tailwind): add missing spacing util for responsive design updates (#7758)
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(block, button, checkbox, combobox): update component use (#7762)
  packages/calcite-components/src/components/block/usage/Always-open.md
  packages/calcite-components/src/components/block/usage/Collapsible.md
  packages/calcite-components/src/components/block/usage/Header-with-control.md
  packages/calcite-components/src/components/block/usage/Header-with-icon.md
  packages/calcite-components/src/components/button/usage/Within-form.md
  packages/calcite-components/src/components/checkbox/usage/Hovered-with-calcite-label.md
  packages/calcite-components/src/components/checkbox/usage/Indeterminate-with-native-label.md
  packages/calcite-components/src/components/chip-group/usage/Basic.md
  packages/calcite-components/src/components/chip-group/usage/SinglePersist.md
  packages/calcite-components/src/components/combobox/usage/SinglePersist.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(pagination): enable responsive layout (#7722)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/demos/pagination.html
  packages/calcite-components/src/utils/responsive.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: add @esri/eslint-plugin-calcite-components to issue templates (#7766)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: prettier --write

fix(tab-nav): update indicator position when tab icon changes (#7768)
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): improves AT Users experience with screen readers (#7691)
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
  packages/calcite-components/src/components/stepper-item/resources.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_en.json
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  t9nmanifest.txt
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action-group): add css custom properties to define gap and padding when layout is "grid" (#7763)
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(select): allow setting an option value to an empty string (#7769)
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
  packages/calcite-components/src/components/select/select.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(commonTests, alert, combobox, dropdown, input-date-picker, modal, popover, tooltip): extracts a general test utility `OpenClose` for all components implementing `openCloseComponent` util (#7379)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/resources.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: updates d thru i component usage examples (#7865)
  packages/calcite-components/src/components/date-picker/usage/Range.md
  packages/calcite-components/src/components/dropdown/usage/Basic.md
  packages/calcite-components/src/components/dropdown/usage/Disabling-close-on-select.md
  packages/calcite-components/src/components/dropdown/usage/Groups.md
  packages/calcite-components/src/components/fab/usage/Loading-and-disabled.md
  packages/calcite-components/src/components/fab/usage/Styling.md
  packages/calcite-components/src/components/fab/usage/With-text.md
  packages/calcite-components/src/components/flow/usage/Basic.md
  packages/calcite-components/src/components/flow/usage/Menu-actions-and-footer-actions.md
  packages/calcite-components/src/components/icon/usage/Custom-icon-color.md
  packages/calcite-components/src/components/inline-editable/usage/Basic.md
  packages/calcite-components/src/components/inline-editable/usage/With-label.md
  packages/calcite-components/src/components/inline-editable/usage/With-save-and-cancel-controls.md
  packages/calcite-components/src/components/input-date-picker/usage/Basic.md
  packages/calcite-components/src/components/input-date-picker/usage/Range.md
  packages/calcite-components/src/components/input-message/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Integer.md
  packages/calcite-components/src/components/input-text/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Clearable.md
  packages/calcite-components/src/components/input/usage/Native-events.md
  packages/calcite-components/src/components/input/usage/With-message.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(contributing): add context to prep for hacktoberfest contributions (#7868)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat(flow, flow-item): Allow calciteFlowItemBack event to be cancelled (#7855)
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: bump node to v18 (#7871)
  package.json
Due: prettier --write

feat(block, input-time-picker, notice): adds `open`, `close`, `beforeOpen`, and `beforeClose` events for consistent event handling (#7494)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(chromatic): fix node v18 SSL issue and remove dependabot/markdown skip conditions (#7876)
  .github/workflows/chromatic.yml
  packages/calcite-components/package.json
Due: prettier --write
