Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix

build(tsconfig): bump target to es2020 and lib to es2021 (#5879)
  tsconfig-base.json
Due: prettier --write

fix(modal): restore deprecated scrim background css property (#5868)
  src/components/modal/modal.scss
  src/components/modal/readme.md
Due: prettier --write, stylelint --fix

ci: disable milestone automation due to process changes (#5884)
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
Due: prettier --write

fix(input-time-picker, input-date-picker): internal pickers update when changing locales (#5887)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month-header/resources.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Add hover styling (#5891)
  src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

ci(pr-template): remove markdown comment (#5892)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

ci(browserlist): use legacy-peer-deps flag on uninstall (#5894)
  .github/workflows/update-browserslist-db.yml
Due: prettier --write

feat(textarea): add default message bundle (#5870)
  src/components/textarea/assets/textarea/t9n/messages.json
  t9nmanifest.txt
Due: prettier --write

fix(tooltip): Prevent tooltip from appearing above modal overlay (#5873)
  src/assets/styles/_floating-ui.scss
  src/components/combobox/combobox.scss
  src/components/dropdown/dropdown.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/modal/modal.stories.ts
  src/components/popover/popover.scss
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.scss
  tailwind.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(stepper-item)!: Remove deprecated properties (#5869)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
  src/components/stepper/usage/Basic.md
  src/demos/stepper.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list-item): Add content slot for specialized content (#5876)
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(modal): OpenCloseComponent emits when setting `--calcite-duration-factor` to 0 (#5326)
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(flow): Allow nested flows. (#5897)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list, list-item): Fix focus behavior when clicking on an item (#5901)
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.tsx
  src/components/list/list.e2e.ts
  src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5905)
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/list-item/readme.md
  src/components/popover/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

build(deps): bump (#5906)
  package-lock.json
  package.json
Due: prettier --write

chore: update focus-trap (#5907)
  src/components/modal/modal.tsx
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(label)!: Remove deprecated properties (#5861)
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.tsx
  src/components/input-message/readme.md
  src/components/input-message/usage/Basic.md
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/readme.md
  src/components/input/usage/With-label.md
  src/components/label/label.e2e.ts
  src/components/label/label.scss
  src/components/label/label.stories.ts
  src/components/label/label.tsx
  src/components/label/readme.md
  src/components/label/usage/Basic.md
  src/components/label/usage/Browser-caveat.md
  src/demos/input-number.html
  src/demos/input-text.html
  src/demos/input.html
  src/demos/label.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(block): Fix content spacing. #5898 (#5918)
  src/components/block/block.scss
  src/components/block/block.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(action): Add screen reader support for `active` and `indicator` props (#5875)
  src/components/action/action.e2e.ts
  src/components/action/action.scss
  src/components/action/action.tsx
  src/components/action/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(modal): Skip unstable test (#5925)
  src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5928)
  src/components/accordion/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/label/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
Due: prettier --write

docs(changelog): fix breaking change indent levels (#5926)
  CHANGELOG.md
Due: prettier --write

feat(action): add built-in translation support for indicator text (#5895)
  src/components/action/assets/action/t9n/messages.json
Due: prettier --write

refactor(input-number)!: remove deprecated property and event payload (#5909)
  src/components/input-number/input-number.tsx
  src/demos/input-number.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): downgrade stencil due to e2e errors in ci (#5941)
  package-lock.json
  package.json
Due: prettier --write

docs: update component READMEs (#5943)
  src/components/input-number/readme.md
Due: prettier --write

chore: bump stencil and downgrade e2e action runner (#5942)
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  package-lock.json
  package.json
Due: prettier --write

docs: make placement type defaults accessible to docs-json (#5939)
  src/components/action-menu/action-menu.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(action): update indicator prop context for assistive technology (#5938)
  src/components/action/action.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(switch)!: Remove deprecated property and event payload. (#5921)
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
  src/demos/switch.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tabs, tab-nav, tab-title, tab)!: Remove deprecated properties and values. (#5922)
  src/components/color-picker/color-picker.tsx
  src/components/tab-nav/readme.md
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.scss
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-nav/usage/Basic.md
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/interfaces.ts
  src/components/tab/tab.e2e.ts
  src/components/tab/tab.tsx
  src/components/tabs/interfaces.ts
  src/components/tabs/readme.md
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.scss
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
  src/components/tabs/usage/Basic.md
  src/components/tabs/usage/Bordered.md
  src/demos/tabs.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(handle)!: Remove deprecated event payload property on `calciteHandleNudge`. (#5935)
  src/components/handle/handle.e2e.ts
  src/components/handle/handle.tsx
  src/components/handle/interfaces.d.ts
  src/components/sortable-list/sortable-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(changelog): fix breaking change indent levels (#5949)
  CHANGELOG.md
Due: prettier --write

refactor(input)!: remove deprecated props and event payloads (#5908)
  src/components/input/input.tsx
  src/demos/input.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(color-picker): add opacity string (#5959)
  src/components/color-picker/assets/color-picker/t9n/messages.json
Due: prettier --write

fix(alert): auto-dismissible retains close button and dismisses timer while a user is hovering over (#5872)
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs (#5964)
  src/components/action-menu/readme.md
  src/components/action/readme.md
  src/components/handle/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/popover/readme.md
  src/components/switch/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tabs/readme.md
  src/components/tooltip/readme.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{json,md,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
