Repository walid22eu/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

build: resolve design-tokens dependency related test errors (#8447)
  package-lock.json
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/support/patchESMResolution.ts
  packages/calcite-design-tokens/jest.config.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueLineHeight.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(filter): prevent console warning from displaying to end users (#8458)
  packages/calcite-components/src/components/filter/filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(deps): bump `prettier` to v3 (#8410)
  package-lock.json
  package.json
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(pre-commit): automatically stage changes to components.d.ts (#8467)
  .husky/pre-commit
Due: none

fix(table): Improve Table overflow behavior (#8424)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/resources.ts
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(list): fix keyboard arrow navigation (#8470)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(modal): remove e2e tests that are covered by the dedicated `openClose` commonTests helper (#8472)
  packages/calcite-components/src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#8497)
  package-lock.json
Due: prettier --write

fix(list): correct selectedItems value when list is filtered (#8481)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): store last focused cell from focusing on elements within a cell. (#8494)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(storybook): resolve error due to webpack dependency conflicts (#8511)
  package-lock.json
  package.json
Due: prettier --write

docs(various components): consistent api description refs (#8550)
  packages/calcite-components/src/components/accordion/accordion.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input, input-number, input-text): restore focus on input after browser validation error is displayed and user continues typing (#8563)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#8565)
  package-lock.json
Due: prettier --write
